.home
  position: relative
  display: flex
  opacity: 0
  -ms-flex-direction: column
  flex-direction: column
  overflow-x: auto
  margin: 0 auto
  transition: all .15s linear
  transform: translateZ(0)


@import '../../../layouts/_dynamic-paging'
@import 'articles/welcome'
@import 'articles/rules'
@import 'articles/faq'
@import 'articles/blog'
