.app-menu {
  top: 0; bottom: 0;
  position     : absolute;
  background   : var(--body-bg-c);
  border-right : 3px solid black;
  transform    : translateX(-100%);
  z-index      : 3;
  transition   : transform .6s ease, opacity .3s ease;
}
.app-menu.--opened {
  transform: translateX(0%);
}

.app-menu__header,
.app-menu_category {
  padding     : 0.3rem 2.5rem 0.3rem 2.5rem;
  font-size   : 1.7rem;
  font-weight : 400;
  text-align  : center;
  color: var(--menu-header-c);
  background  : var(--menu-header-bg-c);
  text-shadow : 3px 3px 0 black,
                2px  0  0 black,
                0  3px 0 black
              ;
  box-shadow  : 0 4px 5px -1px black;
  z-index     : 2;
}

.app-menu_category {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  padding-top: 2px;
  padding-right: 0.5rem;
  font-size: 1.3rem;
  letter-spacing: 2px;
  border-top: 4px solid black;
  border-bottom: 4px double hsl(0, 100%, 67%);
  background-color: transparent;
  box-shadow: none;
}

.app-menu__header_exit-icon {
  top: 1px;
  position    : absolute;
  font-size   : 2.7rem;
  color       : var(--menu-exit-icon-c);
  user-select : none;
  cursor      : pointer;
  opacity: 0;
  transform   : scale(0.1, 0.1);
  transition  : transform .6s ease,
                opacity .45s ease,
                color .3s ease;
}
.app-menu__header_exit-icon:hover {
  color: var(--menu-exit-icon-hov-c);
}
.app-menu.--opened .app-menu__header_exit-icon{
  opacity: 1;
  transform: translateX(2.5rem) scale(1, 1);
}

.app-menu_item a {
  display       : block;
  padding       : 2px 0 2px 0.4rem;
  box-sizing    : border-box;
  font-size     : 1.3rem;
  text-align    : left;
  font-weight: 300;
  color         : var(--menu-item-c);
  border-left: 0px solid var(--menu-item-bdr-c);
  /* border-top    : 2px solid var(--menu-item-bdr-c); */
  /* border-bottom : 2px solid var(--menu-item-bdr-c); */
  transition    : color .3s, border .3s;
  user-select   : none;
}
.app-menu_item a:hover {
  color: var(--menu-item-hov-c);
}
.app-menu_item a.router-link-active {
  color         : var(--menu-active-item-c);
  border-left: 3px solid var(--menu-active-item-c);
  /* background    : var(--menu-active-item-bg-c); */
  /* border-top    : 2px solid var(--menu-active-item-bdr-c); */
  /* border-bottom : 2px solid var(--menu-active-item-bdr-c); */
  z-index       : 1;
}