/*** 711px ***/
@media only screen and (--large-screen) {
  .lit__card { width: 250px; }
}
/*** 511px ***/
@media only screen and (--medium-screen) {
  .lit__card {
    margin: 15px 0;
    width: 95%;
    font-size: 1.15rem;
  }
  .lit__card article { height: 150px; }
  .lit__card header { font-size: 1.15rem;}
}
/*** 380px ***/
@media only screen and (--small-screen) {
}
/*** 320px ***/
@media only screen and (--tiny-screen) {
}