
.md-blog
  @extend .g-markdown

  h1
    position: relative
    margin: 0 70px 20px 15px
    color: hsl(278, 30%, 70%)
    font-size: 36px
    text-align: center

    // DATE
    &::before
      position: absolute
      top: 83%
      left: 50%
      content: attr(data-date)
      color: hsl(0, 0%, 27.5%)
      font-size: 18px
      font-family: 'Source Code Pro'
      letter-spacing: normal
      font-variant: normal
      font-weight: normal
      transform: translateX(-50%)

  h2
    margin: 0 0 0 7px
    padding: 17px 10px 0 27px
    font-family: 'comfortaa'
    font-weight: 300
    font-variant: small-caps
    letter-spacing: 1px
    color: hsl(50, 63%, 45%)
    background-color: $sub-panel

  h3
    position: relative
    margin: 0 0 0 7px
    padding: 33px 0
    text-align: center
    font-size: 20px
    font-family: 'Delius'
    font-variant: normal
    font-weight: normal
    color: hsl(50, 50%, 43%)
    background-color: hsl(0, 0%, 9.7%)

    // HORIZONAL LINES
    &::before, &::after
      position: absolute
      content: ' '
      height: 1px
      width: 50%
      left: 50%
      background: linear-gradient(to right, hsla(50, 30%, 43%, 0) 0%, hsla(278, 40%, 43%, .65) 50%, hsla(50, 30%, 43%, 0) 100%);
      transform: translateX(-50%)

    &::before
      top: 10px

    &::after
      bottom: 10px


  pre
    background-color: hsl(0, 0%, 8%)
    padding: 10px
    margin: 0 3%
    border-radius: 5px

