.md-changelog

  @extend .g-markdown

  h1
    margin: 10px 0 0 44px
    padding: 3px 13px 5px
    display: inline-block
    color: hsl(278, 70%, 75%)
    font-size: 32px
    line-height: 20px

    &:first-child
      margin-top: 15px

  blockquote
    margin: 0
    margin-bottom: 30px
    margin-left: 50px
    background: hsl(0, 0%, 13%)
    width: 75%
    transition: background .3s ease

    &:last-child
      margin-bottom: 150px

    li
      margin-top: 7px

      &:first-child
        margin-top: 10px

    &:hover
      background: hsl(278, 33%, 16%)

    &:hover li
      background-color: hsl(278, 33%, 12%)

  ul
    width: 107%
    padding-left: 5px
    list-style: none
    list-style-type: none

  li
    position: relative
    top: -7px
    left: -30px
    padding: 7px 10px
    margin: 0
    color: hsl(0, 0%, 60%)
    font-size: 18px
    font-family: 'Nunito'
    font-weight: 300
    line-height: 27px
    background-color: hsl(0, 0%, 9.7%)
    border-top: 5px solid hsl(0, 0%, 6%)
    word-spacing: 1px
    transition: background .3s ease

    &:first-child
      border-top-left-radius: 15px

    &:last-child
      border-bottom-right-radius: 13px

