.md-rules
  blockquote, p
    margin: 0
    padding: 0
    transition: none // Fixes cascading transitions

  dl
    margin: 0
    min-height: min-content
    margin-bottom: 5px
    margin-right: 11px
    display: flex
    flex-direction: row
    background-color: hsl(0, 0%, 6.7%)
    padding: 0
    &:hover dd
      @extend %panel-hover
    &:hover dt
      color: hsl(50, 50%, 60%)
      background: $panel-hover

  dt
    display: flex
    justify-content: center;
    flex-direction: column;
    flex: 2.7
    padding: 13px 8px
    text-align: center
    font-size: 28px
    font-family: 'Comfortaa'
    font-variant: small-caps
    letter-spacing: 1px
    background-color: $sub-panel
    color: hsl(0, 0%, 75%)

  dd
    margin-left: 5px
    flex: 10
    line-height: 30px
    background-color: $sub-panel
    padding: 13px 8px

    & > blockquote
      display: flex
      margin-bottom: 20px
      & > blockquote
        padding-left: 7px

