.md-chat-message
  @extend .g-markdown

  h1, h2, h3, h4
    margin 8px 0 0 0
    font-size 24px
    color hsl(127, 47%, 50%);
    & + p
      margin-top 3px
  h1
    color hsl(127, 50%, 73%)
  h2
    color hsl(200, 50%, 73%)
  h3
    color hsl(10, 50%, 73%)

  p
    position: relative
    display: block
    font-family: Nunito
    font-weight: 300
    margin:  0 0 16px 0
    color hsl(0, 0, 63%)
  b, strong
    color hsl(0, 0, 73%)
  ul
    margin-left 20px