.md-faq
  @extend .g-markdown

  h1
    margin: 60px 0 20px 8px
    font-size: 27px
    color: hsl(278, 35%, 72%)
    &:first-child
      margin-top: 13px
  h2
    position: relative
    margin: 30px 0 10px 50px
    font-size: 24px
    color: hsl(50, 55%, 63%)
  h4
    position: relative
    top: 27%
    margin: 0 auto
    font-size: 34px
    color: hsl(50, 75%, 53%)
    text-align: center
  div > p
    padding: 10px 30px 10px 30px
    width: 95%
    margin: 0 auto 15px auto
    font-size: 18px
    line-height: 32px
    border-radius: 7px
    background: $sub-panel
    transition: background .3s ease, color .3s ease
    &:hover
      color: hsl(0, 0%, 65%)
      background: $panel-hover
      strong
        color: hsl(0, 0%, 75%)
      em
        color: hsl(278, 50%, 80%)
      a
        color: hsl(50, 0%, 65%)
        border-color: hsl(278, 50%, 80%)
        &:hover
          color: hsl(50, 50%, 60%)


  ul
    margin: 13px 0 15px 70px
    font-family: 'Source Code Pro'
    color: hsl(127, 20%, 60%)
    line-height: 27px


  blockquote
    margin: 0 auto 15px auto
    width: 95%
    background-color: hsl(50, 20%, 13%)
    border: 1px solid hsl(50, 30%, 23%)
    opacity: 0.8
    color: hsl(50, 75%, 80%)
    font-weight: 400
    box-sizing: border-box
    transition: opacity .3s ease
    &:hover
      opacity: 1
    strong
      color: hsl(278, 80%, 87%)
    p
      padding: 10px 30px 10px 30px
      font-size: 18px
