@import '_base'
@import '../../_utilities'

$article-content-color = $text-color
$article-header-color = $head-1-color
$article-header-text-shadow = outline(1px, $black)
$article-subheader-color = $head-2-color

$article-question-bg-color = $accent-color
$article-question-color = black
$article-question-border-color = $border-emphasis
$article-rule-separator-color = hsla($white-trans, 0.6 / $golden-ratio)

