@import '_base'

$win-divider-border-color = transparent
$win-bg-color = #fff
$userlist-user-color = #777
$pane-active-bg = hsla($white-trans, 0.3)

$msg-link-color = #777777
$msg-link-hover-color = $head-1-color
$msg-verse-link-color = #ff289e

$msg-info = $info
$msg-attention = $attention
$msg-neutral = $neutral

$msg-color = $accent-dark
$msg-username-color = black
$msg-username-text-shadow = outline(2px, white)
$msg-timestamp-color = #aaaaaa
$msg-realtime-color = #909090
$msg-avatar-color = #aaaaaa
$msg-avatar-border-color = white

$server-username-color = $msg-attention
$server-username-text-shadow = none
$server-msg-color = $msg-info
$server-msg-textshadow = none
$server-msg-bullet-textshadow = outline(1px, white)

$client-username-color = gray
$client-msg-color = #333333
$client-bullet-color = #cccccc
$client-bullet-outline = black
$client-text-shadow = none

$emote-username-color = $msg-neutral
$emote-msg-color = $emote-username-color
$emote-msg-bullet-textshadow = outline(1px, white)

$inline-username-color = $head-1-color
$inline-msg-color = $msg-info
$inline-msg-bullet-textshadow = outline(1px, white)
$inline-msg-textshadow = none
