@import '_base'

$menu-item-color = $head-2-color
$menu-item-opacity = 0.43

$menu-bg-hover = transparent
$menu-hover-color = $head-1-color
$menu-text-shadow = outline(1px, $black)

$menusub-item-color = $menu-item-color
$menusub-item-opacity = 0.5
$menusub-item-active-color = $head-1-color
$menusub-item-active-border-color = $menusub-item-active-color

$menu-page-loader = url('../img/light-page-loader.gif')
