@import '_base'

// OVERLAY
$modal-overlay-bg-color = hsla(255, 255, 255, .6)

// MAIN
$modal-bg = url($body-bg-image)
$modal-default-color = #333
$modal-boxshadow = 0 0 30px 0 #aaa
$modal-header-color = $head-1-color
$modal-header-bg-color = hsla(255, 255, 255, .07)
$modal-separator-border = transparent
$modal-content-color = #333
$modal-content-bg-color = hsla(255, 255, 255, .30)
$modal-content-outline-size = 0
$modal-content-outline-color = #eee

// CLOSE BUTTON
$modal-close-btn-color = $head-1-color
$modal-close-btn-bg = #fff
$modal-close-btn-hover-color = #fff
$modal-close-btn-hover-bg = deeppink
$modal-close-btn-boxshadow = 0 0 10px 1px  #aaa
$modal-close-bg-color = transparent



// BIBLE VERSE
$modal-bbl-number-color = $head-1-color
$modal-bbl-content-header-color = #333
$modal-bbl-default-color = none
