@import '_base'

// OVERLAY
$modal-overlay-bg-color = hsla(100, 100, 100, .6)
$modal-preloader = '../img/light-page-loader.gif'


// MAIN
$modal-bg = url($body-bg-image)
$modal-default-color = #333
$modal-boxshadow = 0 0 15px 1px #777
$modal-header-color = $head-1-color
$modal-header-bg-color = hsla(255, 255, 255, .3)
$modal-separator-border = transparent
$modal-content-color = #333
$modal-content-bg-color = rgba(255, 255, 255, .03);
$modal-content-outline-size = 0
$modal-content-outline-color = #eee

// CLOSE BUTTON
$modal-close-btn-color = $head-1-color
$modal-close-btn-bg = #fff
$modal-close-btn-hover-color = #fff
$modal-close-btn-hover-bg = deeppink
$modal-close-btn-boxshadow = 0 0 10px 1px  #aaa
$modal-close-bg-color = transparent



// BIBLE VERSE
$modal-bbl-number-color = $head-1-color
$modal-bbl-content-header-color = #333
$modal-bbl-default-color = none


// LOGIN
$modal-login-input-color = #fff
$modal-login-check = $head-1-color
$modal-login-check-invalid = deeppink
$modal-login-status-success = rgba(30, 150, 30, 1)
$modal-login-status-error = rgba(200, 50, 50, 1)
$modal-login-status-bg = rgba(255, 255, 255, .3)

$modal-login-input-bg = rgba(158, 150, 44, .07) // rgba(255, 255, 255, .04)
$modal-login-input-border = rgba(165, 157, 46, .27) // rgba(255, 255, 255, .23)
$modal-login-input = $head-1-color
$modal-login-input-boxshadow = hsla(255, 255, 255, .17)

$modal-login-img-border = $modal-login-input-border
$modal-login-img-inner-boxshadow = $modal-login-input-boxshadow
$modal-login-img-bg = $modal-login-input-bg
$modal-login-default-img-color = #777
