
table.login(cellspacing='7')
  tr
    td: input.nick(type='text', placeholder='alias/nick', maxlength='20')
    td: div.check.nick-check

  tr
    td: input.email(type='text', placeholder='email', maxlength='255')
    td: div.check.email-check

  tr: td
    div.img-container
      img.avatar
      div.radio-container
        input(type='radio', name='avatar', checked)

    div.img-container
      div.default-img
        div.font-container &#128100;
      div.radio-container
        input(type='radio', name='avatar')
  tr
    td.nick-error-container.login-status-container
      div.login-status.error.nick-invalid Nickname Rules:
        ul
          li Must be between 4 and 20 characters long
          li Must only contain a-z, A-Z, and 0-9

    td.email-error-container.login-status-container
      div.login-status.error.email-invalid.
        That email is not correctly formatted.

    td.can-save-container.login-status-container
      div.login-status.can-save Hit save when you're ready :)
  
  tr: td.save
    button.save Save