.lib-vid__categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.lib-vid-category__container {
  margin: 1rem 1.2rem 1rem 1.2rem;
  min-width: 25rem;
  max-width: 25rem;
}
.lib-vid__category {
  border-radius: 7px 7px 0 0;
  border: 3px solid hsla(0, 0%, 0%, 0.3);
  border-bottom: none;
  /* box-shadow: 0 0 10px 1px black; */
  overflow: hidden;
}
.lib-vid__category h1 {
  z-index: 1;
  padding: 7px 7px 5px 10px;
  box-shadow: 0 5px 15px 1px hsla(0, 0%, 0%, 0.7);
  border-bottom: 1px solid hsl(197, 15%, 25%);
  border-radius: 7px 7px 0 0;
  background-color: hsl(197, 13%, 13%);
  text-align: center;
  text-shadow: 1px 1px 0 black,
               2px 2px 0 black
  ;
  font-size: 1.4rem;
  font-weight: 400;
  color:hsl(47, 75%, 63%);
}
.lib-vid__category h2 {
  z-index: 1;
  padding: 0.2rem 0 0.2rem 1rem;
  box-shadow: 0 5px 5px -2px hsla(0, 0%, 0%, 0.8),
              0 -5px 5px -2px hsla(0, 0%, 0%, 0.8)
  ;
  border-top: 1px solid hsl(197, 11%, 20%);
  border-bottom: 1px solid hsl(197, 11%, 20%);
  background-color: var(--sub-panel-c);
  text-shadow: 1px 1px 0 black,
               2px 2px 0 black
  ;
  font-size: 1.17rem;
  font-weight: 400;
}
.lib-vid-category__desc {
  padding: 10px 7px;
  background-color: hsl(197, 11%, 8%);
  font-size: 1.07rem;
}
.lib-vid-category__desc.--authors {
  font-weight: 400;
}
.lib-vid-category__desc ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: baseline;
}
.lib-vid-category__desc li {
  margin-right: 0.5rem;
  color: var(--body-c) !important;
}
.lib-vid-category__desc.--authors li::before {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1.3rem;
  content: '\2022';
  color: hsl(47, 60%, 63%);
}
.lib-vid-category__desc.--authors .--is-ethan::before {
  color: hsl(0, 100%, 70%);
}
.lib-vid__latest-author {
  padding-left: 10px;
  color: hsl(47, 60%, 63%);
  font-weight: 400;
}

.lib-vid-category__desc:last-child {
  border-bottom: 3px solid hsla(0, 0%, 0%, 0.5);
}
.lib-vid-category__container footer {
  top: -3px;
  float: right;
  padding: 0.3rem 10px 0.3rem 10px;
  border: 3px solid hsla(0, 0%, 0%, 0.5);
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top: 2px dashed black;
  background-color: hsl(197, 11%, 8%);
  text-shadow: 0 0 1px black,
               1px 1px 1px black,
               2px 2px 2px black,
               -1px -1px 1px black
  ;
  color: hsl(197, 11%, 40%);
  font-weight: 400;
}

.lib-vid-category__desc a:link,
.lib-vid-category__desc a:visited,
.lib-vid-category__desc a:active {
  color: hsl(197, 20%, 80%);
  text-decoration: underline hsl(197, 13%, 50%);
  font-size: 1.1rem;
  transition: all 0.15s;
}
.lib-vid-category__desc a:hover {
  text-decoration: underline hsl(0, 63%, 63%);
}

.lib-vid__video-list {
  display: flex;
  margin-top: 2rem;
  margin-right: -15px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

:root { --lib-vid-width: 350px; }
.lib-videos__video {
  max-width: var(--lib-vid-width);
  min-width: var(--lib-vid-width);
  margin-right: 10px;
  margin-bottom: 1.3rem;
}

.lib-videos__video .ee-video_img {
  height: calc(var(--lib-vid-width) / (16 / 9));
}

.lib-videos__video .ee-video_title {
  font-size: 1.2rem;
}