# Extraneous
.DS_Store
node_modules
src/styles/fonts/font-files
test.md

# Built Files/Folders
/dist
/release
build/scripts/*.js
build/api/*.js
src/views/**/*.json
src/styles/main.css

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sensitive Config Files
build/config.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.map
