- var pickles= hello

doctype html
html
  head
    link(rel='stylesheet' href='../css/themes/dark/theme.min.css')
    meta(name='google-signin-client_id' content='307312730681-l12c0r4a669fb6vmmvg4seq1uebqq1fd.apps.googleusercontent.com')
    //- script(src='https://apis.google.com/js/api.js' async defer)
    //- script(src='libs/live.js')

    //- script(src='helpers/lightsOnOff.js')
    //- script findTheLights()
    //- script(src='../libs/lodash.min.js')

    //- script(src='../helpers/globals.js')
    //- script(src='../controllers/errorhandler.js')

    //- Load Session
    if session
      script.
        var session = !{JSON.stringify(session)};
    else
      script var session = null;


  body(aurelia-app='app-config')

    noscript
      div.cover(style='display: inline-block')
        div.response you must enable #[span javascript] for this site to run

    div.body-loader(data-message='Loading Noumenae Alpha')

    div#cookie.cover
      div.response you must enable #[span cookies] for this site to run

    div#failure.cover
      div.response your #[span browser] has #[span.fail failed] you
      div.container
        a.chrome.icon(href='https://chrome.google.com')
        a.firefox.icon(href='https://www.mozilla.com')
        a.opera.icon(href='http://www.opera.com')

    script(src='jspm_packages/system.js')
    script(src='config.js')
    script(data-src='libs/optiscroll.min.js')
    script(src='bootstrap.js')
