doctype html
html
  head
    title Noumenae
    link(href='https://fonts.googleapis.com/css?family=Karla|Delius|Comfortaa' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="../css/fonts/fonts.css")
    link(rel='stylesheet' href='../css/optiscroll.css')
    link(rel='stylesheet' href='../css/themes/dark/theme.css')
    meta(name='google-signin-client_id' content='15334727358-lehq7huis9fm49iee7i03l15sj6g8r68.apps.googleusercontent.com')
    script(src='https://apis.google.com/js/api.js' async defer)
    script(src='libs/live.js')

    //- script(src='helpers/lightsOnOff.js')
    //- script findTheLights()
    script(src='../libs/lodash.min.js')

    //- script(src='../helpers/globals.js')
    //- script(src='../controllers/errorhandler.js')

    //- Load Session
    if session.authed
      script.
        var session = "#{session.authed}";
        var secret = "#{session.secret}";
    else
      script var session = null;


  body(aurelia-app='app-config')

    noscript
      div.cover(style='display: inline-block')
        div.response you must enable #[span javascript] for this site to run

    div.body-loader(data-message='Loading Amenaeble Alpha')

    div#cookie.cover
      div.response you must enable #[span cookies] for this site to run

    div#failure.cover
      div.response your #[span browser] has #[span.fail failed] you
      div.container
        a.chrome.icon(href='https://chrome.google.com')
        a.firefox.icon(href='https://www.mozilla.com')
        a.opera.icon(href='http://www.opera.com')

    script(data-src='jspm_packages/system.js')
    script(data-src='../libs/optiscroll.min.js')
    script(data-src='config.js')
    script(src='bootstrap.js')





