doctype html
html
  head
    title!= title
    link(href='https://fonts.googleapis.com/css?family=Karla|Delius|Comfortaa' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="../css/fonts/fonts.css")
    link(rel='stylesheet' href='../css/optiscroll.css')
    link(rel='stylesheet' href='../css/themes/dark/theme.css')
    //- script(src='https://apis.google.com/js/api.js' async)
    script(src='../libs/live.js')

    // script(src='helpers/lightsOnOff.js')
    script findTheLights()
    script(src='../libs/lodash.min.js')
    script(src='../libs/optiscroll.min.js')
    //- script(src='../helpers/globals.js')
    //- script(src='../controllers/errorhandler.js')

  body(aurelia-app='app-config')
    script.
      var title = 'pickles';
    div.body-loader(data-message='Loading Amenaeble Alpha')

    script(src='jspm_packages/system.js')
    script(src='config.js')
    script().
      System.import('aurelia-bootstrapper');
