
body,
html {
  height                  : 100%;
  color                   : var(--body-c);
  font-size               : var(--body-f-sz);
  background              : var(--body-bg-c);
  overflow                : hidden;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}
body {
  margin-right: 5px;
  font-family: 'Nunito Sans', 'Arial', 'Verdana';
  font-weight: 300;
  overflow-y: auto;
}

::selection {
  background: var(--selection-bg-c);
}
::-moz-selection {
  background: var(--selection-bg-c);
}


.app {
  display    : flex;
  flex-flow  : column;
  min-height : 100%;
}

.app-container {
  position: relative;
  opacity: 1;
  transition: transform .4s ease, opacity .4s ease;
}
.app-container.--menu-open {
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

.app-ribbon {
  top: 0; left: 0; right: 0;
  position     : sticky;
  margin-right : 7px;
  display      : block;
  height       : 3px;
  box-shadow   : 0 4px 5px 1px black;
  background   : var(--app-ribbon-c);
  z-index      : 13;
}

.app-header {
  top: 0; left: 0;
  height           : 8rem;
  margin-right     : 7px;
  border-bottom    : 7px solid var(--panel-c);
  background-color : var(--body-bg-c);
  box-shadow       : 0 4px 5px -1px black;
  z-index          : 12;
}
.app-header__title {
  display    : block;
  position   : absolute;
  top        : 10px; left: 0; right: 0; bottom: 0;
  text-align : center;
  color      : var(--app-head-c);
  font-size  : var(--app-head-f-sz);
  font-family: 'Pique N Meex';
  margin     : 0 auto;
}


.app-body {
  display   : flex;
  margin    : 0 7px 7px 0;
  flex      : 1 0;
  flex-flow : row nowrap;
}
.app-body__content {
  display        : flex;
  margin         : 0 auto;
  flex           : 1 0;
  flex-direction : column;
  overflow       : visible;
}
/* Should always scroll past content */
.app-body__content > :last-child > :last-child {
  margin-bottom: 333px;
}

.app-title-bar {
  position         : sticky;
  top              : 0;
  padding          : 0.5rem 0 0.4rem 0;
  color            : var(--app-titlebar-c);
  font-size        : 1.7rem;
  font-weight      : 300;
  text-transform   : capitalize;
  text-align       : center;
  background-color : var(--sub-panel-c);
  box-shadow       : 0 10px 8px -3px black;
  text-shadow      : 3px 3px 0 black, 2px 0 0 black, 0 3px 0 black;
  overflow         : visible;
  z-index          : 10;
}
.app-title-bar__menu-icon {
  position   : absolute;
  top        : 0.6rem; left: 10px;
  font-size  : 2rem;
  color      : var(--app-titlebar-icon-c);
  opacity    : 1;
  transition : opacity .3s ease, color .3s ease;
  z-index    : 2;
  cursor     : pointer;
}
.app-title-bar__menu-icon:hover {
  color: var(--app-titlebar-icon-hov-c);
}
.app-title-bar__menu-icon.--menu-open {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

