
body,
html {
  height                  : 100%;
  font-size               : var(--body-f-sz);
  background              : var(--body-bg-c);
  overflow                : hidden;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}
body {
  margin-right: 5px;
  overflow: auto;
}

::selection {
  background: var(--selection-bg-c);
}

::-moz-selection {
  background: var(--selection-bg-c);
}


.main {
  display    : flex;
  flex-flow  : column;
  min-height : 100%;
}

.main__ribbon {
  top: 0; left: 0; right: 0;
  position     : sticky;
  margin-right : 7px;
  display      : block;
  height       : 3px;
  box-shadow   : 0 4px 3px 0px black;
  background   : var(--body-head-ribbon-c);
  z-index      : 13;
}

.main__header {
  top: 0; left: 0;
  height           : 8rem;
  border-bottom    : 7px solid var(--panel-c);
  background-color : var(--body-bg-c);
  margin-right     : 7px;
  z-index          : 12;
}

.main__header_title {
  display    : block;
  position   : absolute;
  top        : 10px; left: 0; right: 0; bottom: 0;
  text-align : center;
  color      : var(--body-head-title-c);
  font-size  : var(--body-head-title-f-sz);
  font-family: 'Pique N Meex';
  margin     : 0 auto;
}


.main__body {
  display   : flex;
  margin    : 0 7px 7px 0;
  flex      : 1 0;
  flex-flow : row nowrap;
}

.main__body-left-section {
  min-width: 150px;
  max-width: 150px;
}

.main__body-content {
  display        : flex;
  margin         : 0 auto;
  flex           : 1 0;
  flex-direction : column;
  /* max-width      : 1024px; */
  overflow       : visible;
}
/* Should always scroll past content */
.main__body-content > :last-child > :last-child {
  margin-bottom: 333px;
}