
body,
html {
  height                  : 100%;
  color                   : var(--body-c);
  font-size               : var(--body-f-sz);
  background              : var(--body-bg-c);
  overflow                : hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}
body {
  margin-right: 5px;
  font-family: 'Nunito Sans', 'Arial', 'Verdana';
  font-weight: 300;
  overflow-y: auto;
}

::selection {
  background: var(--selection-bg-c);
}
::-moz-selection {
  background: var(--selection-bg-c);
}


.app {
  display    : flex;
  flex-flow  : column;
  min-height : 100%;
}

.app-container {
  position: relative;
  opacity: 1;
  transition: transform .6s ease, opacity .6s ease;
}

.app-ribbon {
  top: 0; left: 0; right: 0;
  position     : sticky;
  margin-right : 7px;
  display      : block;
  height       : 3px;
  box-shadow   : 0 4px 5px 1px black;
  background   : var(--app-ribbon-c);
  z-index      : 5;
}

.app-header {
  top: 0; left: 0;
  height           : 8rem;
  margin-right     : 7px;
  border-bottom    : 7px solid var(--panel-c);
  background-color : var(--body-bg-c);
  box-shadow       : 0 4px 5px -1px black;
}
.app-header__title {
  display    : block;
  position   : absolute;
  top        : 10px; left: 0; right: 0; bottom: 0;
  text-align : center;
  color      : var(--app-head-c);
  font-size  : var(--app-head-f-sz);
  font-family: 'Pique N Meex';
  margin     : 0 auto;
}


.app-body {
  display   : flex;
  margin    : 0 7px 7px 0;
  flex      : 1 0;
  flex-flow : row nowrap;
}
.app-body__content {
  display        : flex;
  margin         : 0 auto;
  flex           : 1 0;
  flex-direction : column;
  overflow       : visible;
  transition: transform .6s ease, opacity .6s ease;
}
.app-body__content.--menu-open {
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

