@import '../../../../styles/variables'
@import '../../../../styles/markdown/md_messages'

.chat-message
  position: relative
  display: flex
  margin-bottom: 9px
  margin-right: 13px

  .alias
    color: $info

  .content
    color: hsl(0, 0%, 63%)

  .priority-low
    .text, .nou-circle.last
      color: $info !important

  .priority-medium
    .text, .nou-circle.last
      color: $attention !important

  .priority-high
    .text, .nou-circle.last
      color: hsl(50, 80%, 67%) !important


  &.inline, &.implicit
    .content
      display: flex
      min-width: 0
      line-height: 1.3em
      padding: 7px 7px 2px 5px

    .alias
      display: inline-block

    .time
      position: relative
      min-width: 4.9em
      display: inline
      text-align: right
      color: hsl(50, 0%, 40%)
      font-family: 'Cousine'
      text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black

    &.scale-normal
      .avatar
        height: 32px
        width: 32px
        min-height: 32px
        min-width: 32px


  &.inline.server
    .content
      font-family: 'Cousine'

    .alias
      padding: 0
      color: $attention

    .text
      display: inline

    .nou-circle.first
      color: $attention
      margin-right: 0.7em
      margin-left: 1em

    .nou-circle.last
      margin-left: 1.2em
      margin-right: 0.7em

    &.scale-large
      .content, .alias, .time, .text
        +font-size(16)
      .nou-circle
        +font-size(8.5)

    &.scale-larger, &.scale-largest
      .content, .alias, .time, .text
        +font-size(18)
      .nou-circle
        +font-size(9.5)


  &.implicit, &.implicit-notice, &.implicit-passive
    margin: 0 0 7px 0
    .content
      padding: 7px 15px 5px 0
      border-radius: 0 8px 8px 0
      box-shadow: none

    .text, .alias, .time
      font-family: 'Cousine'

    .alias
      display: inline
      padding: 0 .7em 0 5px
      padding-left: 1.3em

    .text
      flex: 1
      background-color: none

    .nou-right-open-mini
      position: absolute
      left: -2px
      top: 4px
      width: .7em
      align-self: center
      font-family: 'Cousine'


  &.implicit-emote
    .content
      background-color: transparent
      border: none
    .alias
      color: hsl(47, 25%, 65%)
    .text
      color: hsl(47, 10%, 60%)
    .nou-right-open-mini
      color: hsl(0, 0%, 35%)



  &.implicit-notice
    .content
      padding-bottom: 4px
      background-color: hsl(220, 50%, 15%)
      border: 1px solid hsl(220, 30%, 25%)
    .alias
      color: hsl(220, 50%, 75%)
      padding-right: 0
    .text
      color: hsl(220, 50%, 75%)
    .nou-circle
      color: hsl(278, 80%, 75%)
      margin: 0 1em 0 1em
    .nou-right-open-mini
      color: hsl(278, 80%, 75%)
      &.last
        position: relative
        top: -7px
        height: 10px
        margin: 0 0.2em 0 0.2em

    &.scale-large
      .content, .alias, .time, .text
        +font-size(16)
      .nou-circle
        +font-size(8.5)

    &.scale-larger, &.scale-largest
      .content, .alias, .time, .text
        +font-size(18)
      .nou-circle
        +font-size(9.5)
      .nou-right-open-mini.last
        top: -9px

  &.implicit-passive
    opacity: 0.8
    .content
      padding-bottom: 4px
      background-color: transparent
      border: none
    .alias
      color: hsl(0, 0%, 63%)
    .text
      color: hsl(0, 0%, 50%)
    .nou-right-open-mini
      color: hsl(0, 0%, 35%)


  &.scale-small
    .avatar
      width: 24px
      height: 24px
      min-height: 24px
      min-width: 24px
    .alias, .time, .content, .text
      +font-size(14)
    .nou-circle
      +font-size(7)

  &.scale-normal, &.scale-large,
  &.scale-larger, &.scale-largest
    .avatar
      width: 48px
      height: 48px
      min-height: 48px
      min-width: 48px
    .alias, .time, .content, .text
      +font-size(16)
    .nou-circle
      +font-size(8.5)
    .nou-right-open-mini
      +font-size(24)

  &.scale-large
    .text.implicit
      +font-size(16)
    .content, .text
      +font-size(18)
    .nou-circle
      +font-size(9.5)

  &.scale-larger
    .nou-right-open-mini
      left: -3px
      top: 3px
      +font-size(28)
    .alias, .time, .text.implicit
      +font-size(18)
    .content, .text
      +font-size(20)
    .nou-circle
      +font-size(10.5)

  &.scale-largest
    .nou-right-open-mini
      left: -3px
      top: 3px
      +font-size(28)
    .alias, .time, .text.implicit
      +font-size(18)
    .content, .text
      +font-size(22)
    .nou-circle
      +font-size(11.5)



  .infobar
    position: absolute
    top: 7px
    left: 10px
    right: 0
    +font-size(16)
    flex-direction: row

    .alias, .time
      position: absolute
      font-family: 'Cousine'
      display: inline-block

    .time
      right: 10px
      color: hsl(50, 0%, 38%)
      text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black


  .avatar
    display: block
    margin: 0 5px 0 0

  .text
    color: hsl(0, 0%, 70%)


  .content
    position: relative
    padding: 30px 10px 5px 10px
    font-family: 'Nunito'
    font-weight: 300
    min-width: 18em
    background-color: $sub-panel
    border-top: 2px solid hsl(0, 0%, 12.3%)
    border-bottom: 1px solid hsl(0, 0%, 20%)
    box-shadow: 2px 2px 5px -1px black