@import '../../../../styles/variables'

.chat-message
  position: relative
  display: flex
  margin-bottom: 13px
  margin-right: 13px

  .alias
    color: $info

  .content
    color: hsl(0, 0%, 63%)

  .priority-low
    color: $info

  .priority-medium
    color: $attention

  .priority-high
    color: hsl(50, 80%, 67%)


  &.inline
    .content
      line-height: 1.3em
      padding: 8px 7px 5px 5.8em

    .alias
      display: inline-block
      padding-right: 5px

    .time
      position: absolute
      top: 10px
      left: 0
      width: 5.2em
      text-align: right
      color: hsl(50, 0%, 33%)
      font-family: 'Cousine'
      text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black
      +font-size(16)

    &.scale-normal
      .avatar
        height: 32px
        width: 32px
        min-height: 32px
        min-width: 32px


  &.inline.server
    .content
      font-family: 'Cousine'

    .alias
      padding: 0
      color: $attention

    .text
      display: inline

    .nou-circle.first
      color: $attention
      margin-right: 0.7em

    .nou-circle.last
      margin-left: 1.2em
      margin-right: -0.5em


  &.scale-small
    .avatar
      width: 24px
      height: 24px
      min-height: 24px
      min-width: 24px
    .alias, .time, .content
      +font-size(14)
    .nou-circle
      +font-size(7.5)

  &.scale-normal, &.scale-large,
  &.scale-larger, &.scale-largest
    .avatar
      width: 48px
      height: 48px
      min-height: 48px
      min-width: 48px
    .alias, .time, .content
      +font-size(16)
    .nou-circle
      +font-size(8.5)

  &.scale-large
    .content, .alias, .time
      +font-size(18)
    .nou-circle
      +font-size(9.5)

  &.scale-larger
    .content, .alias, .time
      +font-size(20)
    .nou-circle
      +font-size(10.5)

  &.scale-largest
    .content, .alias, .time
      +font-size(22)
    .nou-circle
      +font-size(11.5)



  .infobar
    position: absolute
    top: 7px
    left: 10px
    right: 0
    +font-size(16)
    flex-direction: row

    .alias, .time
      position: absolute
      font-family: 'Cousine'
      display: inline-block

    .time
      right: 10px
      color: hsl(50, 0%, 38%)
      text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black


  .avatar
    display: block
    margin: 0 5px 0 0


  .content
    position: relative
    min-width: 12.5em
    padding: 40px 10px 10px 10px
    font-family: 'Nunito'
    font-weight: 300
    background-color: $sub-panel
    border-top: 2px solid hsl(0, 0%, 12.3%)
    border-bottom: 1px solid hsl(0, 0%, 20%)
    box-shadow: 2px 2px 5px -1px black