span.title ui/ux changes
ul
  li Lovely modals added for popup pleasure.
  li No more light theme, but that means more dark theme features!
  li Dynamic scrollbars should allow content to flow nicely.
  li Robot check is necessary for authentication, sorry.
  li Sometimes you might find error popups, but that's only temporary.
  li The About page has undergone many revisions so take your time with it.
  li The site will let you know if you have an unsupported browser.
  li 404 pages are cute and custom!
  li Take a look at the new sheep logo and favicon!

span.title new features
ul
  li Chat now displays when a user is typing or stopped typing mid sentence.
  li Chat supports emotes using the "/me" command. Ex: #[i "/me likes cute owls"]
  li FAQ page ahoy! Check it out for all your questions.
  li Yes, you can change your nickname in chat.
  li We are invite only. This will be pending after testing (Ooo that Rhymed!)
  li You can actually login & logout of the site now. *gasps*
  li This Changelog! It's dynamic and doesn't consume a ton of resources.


span.title look forward to
ul
  li Fixes, fixes, and more fixes
  li Some basic stats and message interaction
  li!= 'And possibly, maybe...<a href="/#/faq/notice">notices</a>.'

span.title bits and bobs
ul
  li!= 'The site has gone through about 3 name changes: Amenaeble, Noumaenon, and finally <a href="/#/faq/noumenae">Noumenae</a>.'
  li.
    You can expect all future updates to be more compact than this one and more frequent.