- var githubDiscussion = "https://github.com/Noumenae/client/issues/37";
- var bluebird = "http://bluebirdjs.com/docs/why-bluebird.html";
- var systemjs = "https://github.com/systemjs/systemjs";
- var jspm = "http://jspm.io/";
- var push = "http://blog.xebia.com/http2-server-push/";
- var localhost = 'https://en.wikipedia.org/wiki/Localhost';
- var aureliacli = 'http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/the-aurelia-cli';
- var base64 = 'https://www.lifewire.com/base64-encoding-overview-1166412';
- var pugg = 'https://pugjs.org/api/getting-started.html';
- var blog = '/#/blog';
- var promise = 'https://spring.io/understanding/javascript-promises';


mixin link(href, name)
  a(href=href, target='_blank')= name
mixin href(href, name)
  a(href=href)= name


h1 major changes
ul
  li.
    #[b New Font] - General site font changed to Nunito. The previous font was a little too
    "cursivey". This one looks a lot more professional.
  li.
    #[b New Changelog Look] - This changelog had seen better days. It was a bit too convoluted.
    More spacing and margins, as well as a background color has given it a bit of a face-lift.
  li.
    #[b Welcome to the Invite System!] - That's right, you can now request an invite
    directly through the site without needing to email anyone directly. The invite system allows
    #[b only 1 invite request per IP every 24 hours]. If you're thinking to yourself "I don't see
    this invite page anywhere!" it's probably because you're logged in. Only guests can access
    the invite page, for obvious reasons... #[i :P]
  li.
    #[b Want to Know how Development is Going?] - For registered members, you can check out the new
    #[+href(blog, 'Development Blog')] page. I wanted a way to connect you directly to the
    development process of this site, since Noumenae is not mine, but #[b ours]. You can expect
    updates around 1 post per week or at minimum, 1 post a month. I will always try to keep you
    apprised of new things.
  li.
    #[b New Rules!] - Just what you always wanted, more rules!! There is an ongoing
    #[+link(githubDiscussion, 'Discussion')] about why the rules have been expanded to include
    legality. Signups are now an implicit agreement to these new legal rules. Don't worry though,
    this has nothing to do with going after members; it's there to protect Noumenae and associated
    persons.
  li.
    #[b New Loader Animation!] A loader animation has been universalized (is that a word?). Well anyway,
    it just means that there are no longer different animated GIFS when you're waiting for a resource
    to load. The new animation will look like a purple rippling pond.
  li.
    #[b New Form Controls!] - Input boxes, text areas, and buttons...have a new look that blends
    better with the flat minimalist style of the site.

h1 fixes
ul
  li.
    #[b FAQ] - The FAQ has undergone a tiny face-lift as well, to fix the scrolling issue and add
    some much needed readability updates.
  li.
    #[b Bad FireFox!!] - FireFox 'Comfortaa' font rendering has been a tough cookie, but I ate it
    and it was goooooood.
  li.
    #[b Annoying Errors] - There was a vestigial notification system built into the logging mechanism
    which has now been removed. This was causing every error to popup a message - very annoying, even
    for me as a developer.
  li.
    #[b Console Double Post] - When losing a socket connection, the console would double-log it,
    as well as other events, whoops!

h1 under the hood
ul
  li.
    #[b Lovely Modals] - I re-wrote the modal code, which means no more lag.
  li.
    #[b Aurelia CLI Build System] - Now using #[+link(aureliacli, "Aurelia's built-in CLI")] to bundle,
    which means no more #[+link(systemjs, 'SystemJS')] or #[+link(jspm, 'JSPM')].
  li.
    #[b Fast Promises!] - Now using #[+link(bluebird, 'BlueBird')] promises. This came with the new Aurelia-CLI
    anyway, so it was convenient. If you want to learn about promises, click #[+link(promise, 'HERE')].
  li.
    #[b Entering the Modern Age] - Switched to #[b HTTP/2] protocol, which just means a bit more
    efficient website transfer and features I might utilize like #[+link(push, 'Server Push')].
  li.
    #[b Inlined Assets] - This means everything necessary to run the site is bundled and served when
    a user requests the site. This means no loading times between pages, only one loading period when
    the site is first requested. There are still some exceptions, like this page which requires a
    server request for each changelog, but the delay is insignificant.