.category {
  margin-top: 0.4rem;
  padding-left: 5px;
  padding-bottom: 10px;
  width: 100%;
  overflow-x: auto;
}
.category:nth-child(2) {
  margin-top: 1.3rem;
}


.cat_video-tray {
  display: flex;
  margin-top: 2.7rem;
  padding: 15px 0;
  padding-left: 7px;
  background-color: hsl(197, 11%, 3.5%);
  box-shadow: inset 0 0 5px 5px black;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.category_name {
  position: absolute;
  top: 0; left: 2rem;
  color: hsl(47, 86%, 66%);
  font-size: 1.4rem;
  z-index: 1;
}

:root { --lib-vid-width: 350px; }
.lib-videos_video {
  max-width: var(--lib-vid-width);
  min-width: var(--lib-vid-width);
  margin-right: 10px;
}
.lib-videos_video:nth-child(2) {
  margin-left: 10px;
}

.lib-videos_video .ee-video_img {
  height: calc(var(--lib-vid-width) / (16 / 9));
}

.lib-videos_video .ee-video_title {
  font-size: 1.2rem;
}