
#PageTop
  display: flex
  flex-flow: column
  min-height: 100%


#TrayTop
  height: 100px


#TrayLeft
  min-width: 195px
  max-width: 195px


#PageContent
  position: absolute
  top: 103px
  right: 10px
  left: 195px
  bottom: 10px
  flex: 1 0
  flex-direction: column
  min-width: 500px
  display: flex
  border-left: 7px solid $panel
  border-top: 7px solid $panel
  border-top-left-radius: 13px
  overflow: hidden

.child-router
  position: relative
  display: flex
  height: 100%
  overflow: hidden


.anim-container
  flex: 1;
  display: flex;
  flex-direction: column;


#PageMiddle
  display: flex
  flex: 1 0
  flex-flow: row nowrap
  z-index: 100
