
#TrayTop .watermark
  position: fixed
  display: block
  left: 122px
  bottom: 13px
  color: hsl(0, 0%, 35%)
  font-size: 34px
  opacity: .65
  font-family: 'comfortaa'
  transition: color .45s, opacity .3s
  cursor: crosshair
  z-index: 1000

  &:hover
    color: hsl(278, 100%, 75%)
    opacity: 1
