
#TrayTop .watermark
  position: fixed
  bottom: 12px
  left: -38px
  padding: 5px 55px 6px
  background-color: hsl(0, 0, 13%)
  border-bottom: 4px double hsl(0, 0%, 30%)
  border-top: 4px double hsl(0, 0%, 30%)
  color: hsl(0, 0%, 35%)
  font-size: 26px
  opacity: .65
  font-family: 'Source Code Pro'
  text-align: center
  transform: rotate(45deg) translateZ(0)
  transition: all .3s ease
  cursor: crosshair
  z-index: 1000

  span
    position: relative

  span .num
    font-family: 'comfortaa'
    font-size: 28px

  &:hover
    color: hsl(50, 100%, 35%)
    opacity: 1
