
$header
  position relative
  right 12px
  align-self flex-end
  margin-top 34px
  padding 2px 13px
  content attr(role)
  text-transform capitalize
  color $article-header-color
  text-shadow $article-header-text-shadow
  width 34%
  font-size 34px
  font-family $ff-verdana
  text-align center
  background hsl(0, 0%, 9.7%)
  border-top-left-radius 13px
  border-top-right-radius 13px

$content
  display block
  padding 13px 10px
  background-color: hsl(0, 0%, 9.7%)
  font-size 18px
  word-spacing: 2px
  font-family 'Nunito'
  font-weight: 300
  color hsl(0, 0%, 60%)
  border-top-right-radius 6.5px
  border-top-left-radius 3.5px


#articles
  position absolute
  display block
  top 0
  bottom 0
  left 150px
  right 30px


article.home
  position relative
  display flex
  opacity 0
  -ms-flex-direction column
  flex-direction column
  overflow-x: auto
  margin 0 auto
  transition all .15s linear
  transform translateZ(0)
  b, i, em, strong
    word-spacing: -1px
    font-style: normal
    font-weight: 400
    color hsl(0, 0%, 75%)
  i, em
    font-style: italic
    font-weight: 300
    color hsl(50, 30%, 60%)


article[role='about']
  border-top 4px solid transparent
  border-left 4px solid transparent
  #Email
    color $article-email-color
    font-family $ff-mono
    cursor pointer
  p
    @extend $content
    margin-bottom 7px
    margin-top 0
    margin-right 11px
    transition: all .3s ease
    &:last-child
      margin-bottom 50px
    &:hover
      background-color: hsl(278, 33%, 12%)




article[role='rules']
  border-top 4px solid transparent
  border-left 6px solid transparent

  .rules-container
    @extend $content
    min-height: min-content
    margin-bottom: 5px
    margin-right 11px
    display flex
    background-color: hsl(0, 0%, 6.7%)
    border-top-right-radius 0
    border-top-left-radius 0
    padding 0
    &:first-child
      margin-top 0
      border-top-left-radius 3.5px
    &:last-child
      border-bottom-right-radius 7px
    &:hover .rule, &:hover .def
      background-color: hsl(278, 33%, 12%)
    &:hover .rule
      color $head-1-color

  .rule
    display: flex
    justify-content: center;
    flex-direction: column;
    flex 4
    padding 13px 8px
    text-align center
    font-size 21px
    background-color: hsl(0, 0%, 9.7%)
    color hsl(0, 0%, 75%)
    transition: background .3s, color .3s

  .def
    margin-left: 5px
    flex-direction: column
    flex 10
    background-color: hsl(0, 0%, 9.7%)
    padding 13px 8px
    transition: background .3s

  .legend
    display: flex
    margin-bottom 10px
    & > b
      margin-right 10px
    &:last-child
      margin-bottom 0



article[role='FAQ']
  position absolute
  top 0
  right 0
  left 0
  bottom 0

  input[type='text']
    margin 5px 0 10px 0
    width 318px

  .qa-container, .asdf
    display flex
    height 100%
    flex-direction row

  .scroller
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    padding-right 5px
    overflow auto

  .question-panel
    display flex
    height 100%
    flex-direction: column
    min-width 325px
    margin-left 7px

  #Questions
    position: relative
    min-width 325px
    margin-right 5px
    flex 1

  #Answers
    position: relative
    flex 1
    background-color #1f1f1f
    min-width 400px
    margin-right 20px
    .scroller
      padding 0
      margin-right -20px
    h1
      font-size 30px
      font-family 'Comfortaa'
      word-spacing 2px
      font-variant: small-caps
      word-spacing: normal
      font-weight: 300
      letter-spacing: 1px
      color $article-question-color
      margin 5px 0 5px 7px
      text-shadow: -2px -2px 0 #000, -2px 0 0 #000, 0 -2px 0 #000
    span
      @extend $content
      font-size: 18px
      word-spacing: 2px
      color hsl(0, 0%, 63%)
      // background-color hsla(278, 70%, 40%, 0.3 / $golden-ratio)
      background-color: #171717
      align-self flex-start
      border-radius 5px
      background-clip padding-box
      line-height: 27px
      // box-shadow 3px 3px 21px 0 #000
      transition background .3s
      margin 17px 30px 27px 21px
      &:hover
        background-color: hsl(278, 30%, 10%)

    .answer-placeholder
      position relative
      display block
      text-align center
      font-size 30px
      text-shadow 1px 1px 1px #777, -1px -1px 0 #000, -2px 0 0 #000, 0 -2px 0 #000
      font-family $ff-comic
      letter-spacing 1px
      margin-top 170px
      color #555

    .none
      background-color transparent
      border none
      box-shadow none
      text-shadow 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000
      margin-top -10px
      em
        color hsl(50, 45%, 70%)

    .list-outer
      margin-top 13px
      li
        margin-bottom 13px
    .list-inner
      li
        margin-bottom: 0
        &:first-child
          margin-top: 3px;
    ul
      margin-left: 44px;
      font-size 16px
      font-family 'Source Code Pro'
      li
        text-shadow 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000
        color hsl(278, 17%, 67%)
      em
        position relative
        margin-right: -3px
        font-family: 'comfortaa'
        font-variant: small-caps
        font-weight: 300
        letter-spacing: 1px
        font-size: 18px
        top -5px
        left -1px
        text-shadow none
        color hsl(50, 70%, 50%)


  .qablock
    position relative
    margin-bottom 7px
    width 100%
    display flex
    flex-direction column
    box-sizing border-box
    &:last-child
      margin-bottom 21px

    .question
      @extend $content
      padding 3px 11px
      width 100%
      color hsl(278, 0%, 70%)
      font-family 'Nunito'
      font-weight: 300
      font-variant: small-caps
      font-size 20px
      text-align center
      letter-spacing 1px
      background-color: hsla(0, 100%, 100%, 0.08 / $golden-ratio)
      border-color $article-question-border-color
      align-self center
      border-radius: 0
      cursor pointer
      transition background .4s, color .4s
      &:hover
        background-color: hsl(50, 50%, 20%)
        color hsl(0, 0%, 85%)

    .answer
      display none

  .textbox-container
    position absolute
    width 45%

// FireFox font rendering shinanigans
@-moz-document url-prefix()
  article[role='FAQ']
    .qablock .question
      font-size 18px
    #Answers
      h1
        font-size 26px
// End FireFox Hack



article[role='register']
  position relative
  &:first-child
    margin-top 10px
  .form-block
    position relative
    display flex
    margin-top 55px
    width 100%
    flex-direction row
    &:first-child
      margin-top 0 !important

    .description
      @extend $content
      background $panel
      border-left none
      border-color $accent-color
      padding 13px 5px 13px 8px
      border-radius 0 13px 0 0
      flex 1

    .input
      text-align center
      width 377px
    .textbox-container.textarea
      display block
      margin 0 auto
      width 97% !important

    textarea
      display block
      width 100% !important
      text-align left !important
      height 233px
      resize none
      &.area
        display block
      .char-count
        color black
