

$changelog-title = $head-1-color

.changelog
  transition opacity .3s linear

#ChangeList
  position: absolute
  flex-flow: row wrap
  align-content: flex-start;
  border-top: 4px solid transparent
  border-left: 4px solid transparent
  padding-right 10px
  transition: all .3s linear

  .title
    margin 0 7px 5px 0
    display: inline-block
    padding: 10px 20px
    background-color $panel
    color $head-1-color
    text-align: center
    border-radius: 5px 0 13px 0
    cursor: pointer

  .description
    font-size: 27px
    font-family: 'comfortaa'
    font-variant: small-caps
    font-weight: 300
    letter-spacing: 1px
    span
      font-size: 20px

  .date
    color hsl(128, 50%, 60%)
    font-family: 'Source Code Pro'
    font-size 18px

#Changes
  position: absolute
  top 5px
  right 0
  bottom 0
  left 0
  flex-direction: column
  overflow-y auto
  transition: all .3s linear

  a:link, a:visited, a:active
    border-bottom 1px dashed hsl(278, 27%, 55%)
    color inherit
  a:hover
    color hsl(278, 70%, 75%)

  h1
    margin 25px 0 0 44px
    padding 3px 13px 5px 13px
    display: inline-block
    color hsl(278, 45%, 75%)
    font-size: 32px
    font-family: 'Comfortaa'
    font-variant: small-caps
    font-weight: 300
    letter-spacing: 1px
    border-radius: 5px 0 13px 0
    &:first-child
      margin-top 5px
  i, em
    color hsl(278, 20%, 73%)
  b, strong
    font-weight: 400
    color hsl(0, 0%, 75%)
  blockquote
    margin 0
    margin-bottom 30px
    margin-left 50px
    background hsl(0, 0%, 13%)
    width 70%
    transition: background .3s ease
    &:last-child
      margin-bottom 150px
    & li
      margin-top 7px
    & li:first-child
      margin-top 20px
    &:hover
      background: hsl(278, 33%, 16%)
    &:hover li
      background-color: hsl(278, 33%, 12%)
  code
    color hsl(50, 25%, 60%)
    font-family: 'source code pro'
    word-spacing: -1px
  li
    position: relative
    top -7px
    left -30px
    padding 7px 10px
    margin 0
    color hsl(0, 0%, 60%)
    font-size: 18px
    font-family: 'Nunito'
    font-weight: 300
    line-height: 27px
    background-color: hsl(0, 0%, 9.7%)
    border-top 5px solid hsl(0, 0%, 6%)
    word-spacing: 1px
    transition: background .3s ease
    &:first-child
      border-top-left-radius: 15px
    &:last-child
      border-bottom-right-radius: 13px
  ul
    width 107%
    padding-left 5px
    list-style none
    list-style-type: none

.changelog .close
  position: fixed
  top 121px
  right 33px
  padding 1px 13px
  font-size: 40px
  color hsl(0, 80%, 63%)
  border-radius 3px
  background-color: $panel
  transition .3s ease
  cursor: pointer