
section.anim-container
  flex: 1
  display: flex
  flex-direction: column


section#ChatContainer
  display: flex
  flex: 1 0


#ChatCommander
  z-index: 1
  min-height: 30px
  display: flex
  flex-direction: column
  justify-content: center
  overflow: hidden


.chat-input-container
  color: $chat-input-color
  background-color: $panel
  background-clip padding-box
  font-size: 18px
  padding: 7px 5px
  border-left: 2px solid $win-divider-border-color
  border-top: 2px solid $win-divider-border-color
  border-bottom-right-radius: 13px
  word-wrap: break-word
  overflow: hidden
  pre
    display: inline-block
    font-family: Verdana, Geneva, Tahoma, sans-serif
    max-width: 100%
  .suggestion
    color: #ccc


$chat-message-right-margin = 13px
.message
  display: flex
  .container
    display: flex
    flex-direction: column
    flex: 1
    margin-bottom: 15px
    &.emote
      display: none

  &.delay5
    -webkit-animation-duration: .55s
    -moz-animation-duration: .55s

  &.delay3
    -webkit-animation-duration: .25s
    -moz-animation-duration: .25s



  //////////////////////
  //   Avatar
  //////////////////////
  aside
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 7px
    margin-left: 7px
    //transition: all .3s;

    &.emote, &.server, &.client
      display: none

    .avatar
      position: relative
      border-radius: 8px
      border: 2px solid $msg-avatar-border-color
      &.default
        text-outline(1px, white)
        color: $msg-avatar-color
        border: none
        background-image: none !important
        top: -8px
        left: 2px

    .real-time
      font-size: 12px
      color: $msg-timestamp-color

    &.large
      width: 70px
      height: 90px
      &.default
        width: 55px
        margin-right: 0
      .avatar
        height: 64px
        width: 64px
        font-size: 66px

    &.medium
      width: 50px
      height: 60px
      &.default
        width: 40px
      .avatar
        height: 48px
        width: 48px
        font-size: 50px
      .real-time
        display: none

    &.small
      width: 35px
      height: 40px
      .avatar
        height: 36px
        width: 36px
        font-size: 36px
      .default
        top: -3px
      .real-time
        display: none

  //    END AVATAR



  //////////////////////
  //  Message INFO
  //////////////////////
  .info-line
    display: flex
    margin-bottom: 3px
    flex-direction: row
    justify-content: space-between

    .left
      display: flex
      align-items: center
      .username
        position: relative
        font-family: Delius
        letter-spacing: 1px
        color: $msg-username-color
        text-shadow: $msg-username-text-shadow
        margin-right: 20px

      .relative-time
        position: relative
        font-size: 12px
        color: $msg-timestamp-color
        &:before
          position: absolute
          content: '\2022'
          left: -13px
          top: -3px
          font-size: 16px

    .right
      .real-time
        margin-right $chat-message-right-margin
        font-size: 12px
        color: $msg-realtime-color

    &.large
      .username
        font-size: 18px

    &.medium
      .username
        font-size: 18px

    &.small
      margin-bottom: 0
      margin-left: 2px
      .left
        .username
          font-size: 14px
        .relative-time
          display none
  // END MESSAGE INFO



  /////////////////////////
  //  Message CONTENT
  /////////////////////////
  .content
    position: relative
    margin-left: 5px
    display: inline-block
    color: $msg-color
    word-wrap: break-word
    text-shadow: none
    padding-right: 5px
    font-size: 18px
    font-family: 'Source Code Pro', 'consolas', monospace

    a:visited,
    a:active,
    a:link
      color: $msg-link-color
      border-bottom: 1px dashed $msg-link-color
      text-decoration: none
      transition: border .3s, color .3s
    a:hover
      color: $msg-link-hover-color
      border-bottom: 1px solid $msg-link-hover-color
      text-decoration: dashed
    a.verse
      color: $msg-verse-link-color
      border-color: $msg-verse-link-color
    b.invalid-link
      color: #aaa
      text-outline(1px, white)
    img
      max-width: 100%
    &.large
      font-size: large
    &.medium
      font-size: 18px
    &.small
      top: -3px
      font-size: 14px
  // END CONTENT



  // EMOTE
  div.client, div.server, div.inline, div.implicit,
  div.emote
    display: flex
    flex: 1
    margin-top: 3px
    margin-bottom: 5px

    .username
      position: relative
      margin-left: 19px
      padding-left: 5px
      color: $emote-username-color
      font-size: 16px
      font-family: 'Delius'
      &:before
        position: absolute
        top: -8px
        left: -14px
        content: '\21D2'
        font-size: 26px
        font-style: normal
        color: $emote-icon-color
        text-shadow: $emote-msg-bullet-textshadow
        font-family: 'Source Code Pro'
        text-outline(0, #000)

    .content
      position: relative
      flex: 1
      margin-left: 5px
      word-spacing: 3px
      font-size: 16px
      font-family: delius
      color: $emote-msg-color

    .real-time
      margin-right $chat-message-right-margin
      text-align: right
      font-size: 12px
      color: $msg-timestamp-color


  // SERVER
  div.client,
  div.server
    margin-bottom 5px
    .username
      margin-left: 19px
      margin-right: 15px
      padding-left: 0
      font-size: 14px
      color: $server-username-color
      text-shadow: $server-username-text-shadow
      font-family: 'Source Code Pro'
      &:before
        top: -13px
        left -18px
        font-size: 30px
        content '\2022'
        color: $server-username-color
        text-shadow: $server-msg-bullet-textshadow
      // TODO: Use border to create triangle (all browser support)
      &:after
        top: -13px
        left: 52px
        position: absolute
        content: '\2022'
        font-size: 30px
        font-style: normal
        color: $server-msg-color
        text-shadow: $server-msg-bullet-textshadow

    .real-time
      font-size: 12px

    .content
      color: $server-msg-color
      text-shadow: $server-msg-textshadow
      font-family: 'Source Code Pro'
      font-size: 14px
      word-spacing: normal
      margin-left: 6px
      &:after
        content ''

    &.attention
      .username
        &:after
          color: $msg-attention
      .content
        color: $msg-attention

  div.emote
    margin-bottom 15px

  // CLIENT
  div.client
    .username
      color: $client-username-color
      &:after
        color: $msg-neutral
      &:before
        color: $client-bullet-color
        text-outline(1px, $client-bullet-outline)

    .content
      color: $client-msg-color
      text-shadow: $client-text-shadow

    &.attention
      .username
        &:after
          color: $msg-attention
      .content
        color: $msg-attention

    &.normal
      .username
        &:after
          color: $msg-info
      .content
        color: $msg-info

  div.implicit
    .username
      &:after
        display: none

  div.inline
    .username
      color: $inline-username-color
      margin-right: 5px
      &:before
        color: $inline-username-color
        text-shadow: $inline-msg-bullet-textshadow
      &:after
        display: none



section#MainWindow
  display: flex
  flex: 1 0
  flex-direction: column
  min-width: 400px

  #MainPort
    position: relative
    background-color: hsla(0, 100%, 100%, 0.06 / $golden-ratio)
    background-clip padding-box
    border-left: 2px solid $win-divider-border-color
    border-top: 2px solid $win-divider-border-color
    border-top-left-radius: 7px
    flex: 1 1 0
    flex-direction: column
    display: flex
    justify-content: flex-end
    overflow: hidden
    z-index: 1

    .message-tray
      display: block



section#PartialWindow
  width: 200px
  //display: flex;
  flex-direction: column
  display: none

  .pane
    flex: 1 0
    flex-direction: column
    display: flex
    &:first-child
      border-top: 2px solid $win-divider-border-color
    &:last-child
      border-bottom-right-radius: 13px
    &:nth-child(n+1)
      border-top: 2px solid $win-divider-border-color

  .paneport
    position: relative
    min-height: 33%
    background-color: $panel
    flex: 1
    flex-direction: column
    display: flex
    border-left: 2px solid $win-divider-border-color
    justify-content: flex-end
    transition: background .7s

    &.active
      background: $pane-active-bg

      // Separator
      &:before
        position: absolute
        content: ''
        top: 0
        left: -6px
        bottom: 0
        width: 4px
        background: $accent-dark
        border-left: 1px solid $win-divider-border-color
        z-index: 10

      // Arrow
      &:after
        position: absolute
        content: ''
        width: 10px
        height: 10px
        top: 48%
        left: -24px
        border-top: 4px solid $accent-dark
        border-right: 4px solid $accent-dark
        z-index: 10
        transform: rotate(45deg)

  .message-tray
    position: relative
    height: 100%
    display: block
    overflow: hidden

  .chat-input
    background: none
    visibility: hidden



@keyframes fadeInOut
  from
    opacity: 1
  to
    opacity: .3



aside#UserList
  display: flex
  max-width: 0
  min-width: 0
  flex: 1 0
  background: $panel
  z-index: 1
  transition: all .3s

  &.active
    background-clip padding-box
    border-left: 2px solid $win-divider-border-color
    border-top: 2px solid $win-divider-border-color
    padding-top: 3px
    padding-left: 5px
    max-width: 190px
    min-width: 190px

  li
    list-style-type: none
    padding-bottom: 3px
    color: $userlist-user-color

    &.paused-typing,
    &.is-typing
      font-style: italic
      color: $msg-attention
      animation: fadeInOut .7s $ease-io-sine infinite alternate
      &:after
        position: absolute
        content: '\00a0(...)'

    &.paused-typing
      color: $msg-neutral
      &:after
        content: "\00a0(---)"
