@-moz-document url-prefix()
  #MainPort
    .message
      display: block

    aside
      display: inline-block

    .avatar
      display: inline-block

    .container
      display: inline-block
      vertical-align: top

      .info-line
        display: block

        .right
          position: absolute
          right: 0

