$md-main
  font-family 'Nunito'
  font-weight 300
  color hsl(0, 0%, 60%)

$md-headers
  margin-top 8px
  font-family 'Comfortaa'
  font-variant: small-caps
  font-weight: 300
  line-height: normal
  letter-spacing: 1px

.g-markdown
  @extend $md-main
  h1, h2, h3, h4, h5, h6
    @extend $md-headers
  i, em
    color hsl(278, 27%, 74%)
    font-style: italic
  b, strong
    font-weight: 400
    color hsl(0, 0%, 70%)
  code
    color hsl(50, 25%, 60%)
    font-family: 'source code pro'
    word-spacing: -1px


@import 'markdown/_md_changelog'
@import 'markdown/_md_chat'
@import 'markdown/_md_blog'