.g-markdown
  font-family: 'Nunito'
  font-weight: 300
  color: hsl(0, 0%, 60%)

  h1, h2, h3, h4, h5, h6
    margin-top: 8px
    font-family: 'Comfortaa'
    font-variant: small-caps
    font-weight: 300
    line-height: normal
    letter-spacing: 1px

  a
    transition: color .3s, border .3s

  b, strong
    font-weight: 400
    color: hsl(0, 0%, 70%)
    transition: color .3s

  i, em
    color: hsl(278, 20%, 72%)
    font-style: normal
    transition: color .3s

    strong, b
      color: hsl(50, 50%, 65%)

  code
    padding: 0 5px
    color: hsl(0, 0%, 80%)
    font-family: 'source code pro'
    background: hsl(0, 0%, 25%)
    border: 1px solid hsl(0, 0%, 0%)
    border-radius: 5px
    white-space: nowrap
    word-spacing: -3px
    transition: background .3s, color .3s


@import 'markdown/md_changelog'
@import 'markdown/md_chat'
@import 'markdown/md_blog'
@import 'markdown/_md_faq'
