

article.home::-webkit-scrollbar,
article.home .scroller::-webkit-scrollbar,
.changelog #Changes::-webkit-scrollbar,
.invite-page::-webkit-scrollbar,
#MainWindow .message-tray::-webkit-scrollbar
	width 13px
	border 2px solid hsl(278, 10%, 20%)
	border-radius: 3px
	background hsl(0, 0%, 0%)

article.home::-webkit-scrollbar-thumb,
article.home .scroller::-webkit-scrollbar-thumb,
.modal-container section::-webkit-scrollbar-thumb,
.changelog #Changes::-webkit-scrollbar-thumb,
.invite-page::-webkit-scrollbar-thumb,
#MainWindow .message-tray::-webkit-scrollbar-thumb
	background hsl(278, 17%, 30%)
	border-radius: 3px
	&:hover
		background hsl(278, 23%, 40%)

article.home .scroller::-webkit-scrollbar,
#MainWindow .message-tray::-webkit-scrollbar
	width 7px
	border none

.modal-container section::-webkit-scrollbar
	width 8px
	border none

article.home #Answers .scroller::-webkit-scrollbar
	width 13px
	border 2px solid hsl(278, 10%, 20%)










.simplebar-track .simplebar-scrollbar
	background: hsl(50, 100%, 27%)
	width 10px
	border-radius: 2px
	&.visible
		opacity 1
		transition background .3s ease
		&:hover, &:active
			background hsl(50, 100%, 40%)
			cursor pointer

.simplebar-track
	background hsl(50, 0%, 0%)
	border 1px solid hsl(0, 0%, 17%)
	width 16px


// SCROLLBAR STYLE
.optiscroll-v,
.optiscroll-h
	background: transparent
	/* Scrollbars are visible only on hover */
	opacity: 0
	transition: opacity .2s ease 0s


.optiscroll.vtrack-on:hover > .optiscroll-v
	opacity: 1


.optiscroll.htrack-on:hover > .optiscroll-h
	opacity: 1


.optiscroll-v
	top: 0
	bottom: 0
	width: 0


.optiscroll-h
	left: 4px
	right: 4px
	height: 0
	display: none


// TRACK STYLE
.optiscroll-vtrack,
.optiscroll-htrack
	background: $scrollbar-color
	border-radius: 5px
	transition: all .3s
	box-shadow none


.optiscroll-vtrack
	width: 7px
	right: 4px


.optiscroll-htrack
	height: 3px
	bottom: 4px


.optiscroll-vtrack:hover
	background: $scrollbar-hover-color
