@import '../../../../styles/variables'

.userlist
  position: relative
  margin: 3px 0 0 2px
  min-width: 10em
  flex: 0
  background: hsl(0, 0%, 12%)
  border-left: 2px solid black

  &.scale-small
    +font-size(14)
    .status
      +font-size(7)
  &.scale-normal
    +font-size(16)
    .status
      +font-size(8)
  &.scale-large
    +font-size(18)
    .status
      +font-size(9)
  &.scale-larger
    +font-size(20)
    .status
      +font-size(10)
  &.scale-largest
    +font-size(22)
    .status
      +font-size(11)

  .user
    padding: 7px 0 0 7px
    font-family: 'Cousine'
    color: hsl(0, 0%, 60%)

    &.idle, &.away, &.muted
      .user-name
        font-style: italic
        opacity: 0.85

    &.idle
      .status
        color: hsl(220, 65%, 57%)
      .user-name
        color: hsl(220, 65%, 70%)

    &.away
      .status
        color: hsl(33, 80%, 57%)
      .user-name
        color: hsl(33, 80%, 70%)

    &.muted
      .status
        color: hsl(7, 65%, 57%)
      .user-name
        color: hsl(7, 50%, 70%)
        text-decoration: line-through

  .user-name
    display: inline-block
    padding-left: 7px
    user-select: none
    cursor: pointer
    &.typing, &.typing-paused
      color: hsl(278, 35%, 70%)
      font-style: italic
      animation: fadeInOut .7s $ease-io-sine infinite alternate

    &.typing-paused
      color: hsl(0, 0%, 50%)


  .status
    position: relative
    top: -1px
    color: hsl(128, 30%, 57%)
