@import '../_utilities'


$changelog-title = $head-1-color


section.changelog
  display: flex
  flex-flow: row wrap
  align-content: flex-start;
  border-top: 4px solid transparent
  border-left: 4px solid transparent
  padding-right 10px


  .compartment
    display: flex
    min-width: 350px
    max-width 500px
    flex-flow: column nowrap
    margin-right: 10px
    margin-bottom: 10px
    flex: 1
    align-self: stretch;
    overflow: hidden;
    cursor: pointer;
    &:last-child
      margin-right: 0
    &:hover article
      background-color hsla(278, 40%, 37%, 0.7 / $golden-ratio) // lighten($panel, 70%)

    &:hover .title
      background-color hsla(278, 40%, 37%, 0.7 / $golden-ratio) // lighten($panel, 70%)

    &:hover .title sub, &:hover article sup
      color $head-1-color

    &:hover .title
      color #d6a8ff

  .title
    background $panel
    width: 200px
    padding: 5px 0
    font-size: 20px
    font-family: Comfort
    color: $changelog-title
    text-align: center
    border-radius: 5px 5px 0 0
    transition: background .3s, color .3s
    sub
      padding-left 7px
      padding-right: 5px
      font-family: consolas;
      color #dea5ff
      transition: color .3s


  article
    display: flex
    background: $panel
    flex-flow: column nowrap
    padding: 5px 5px 10px 0
    border-radius: 0 5px 5px 5px
    flex: 1
    transition: background .3s

    sup
      color #d6a8ff
      transition: color .3s

    ul
      margin-top: 10px
      color hsla(0, 0, 100%, 0.5)
      li
        margin-left: 27px
        line-height: 20px
      sup
        padding-left: 7px
