@import "../_utilities"

body, html
  font: 14px Verdana, Geneva, Tahoma, sans-serif
  background: url($body-bg-image) repeat fixed
  overflow-x: hidden
  height: 100%


body, div, article, span, li, ul, menu, input,
textarea, section, a, p, header, footer,
button, form, aside, #PageContent, label,
pre
  padding: 0
  margin: 0
  line-height: normal
  outline none
  border: none
  box-sizing: border-box



@keyframes myFadeIn
  0%
    opacity: 0
  100%
    opacity: 1



.au-enter-active
  animation: myFadeIn 0.7s


.body-loader
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0

  &:before
    position: relative
    display: block
    top: 200px
    height: 128px
    width: 128px
    margin: 0 auto
    background $body-loader
    content: ''

  &:after
    position: relative
    top: 220px
    display: block
    margin: 0 auto
    width: 300px
    text-align: center
    content: attr(data-message)
    font-family: PT, Consolas, "Lucida Console", monospace
    font-size: 20px
    color: $head-1-color

.log-debug, .log-error, .log-info
  display inline-block
  padding 5px 10px
  background-color hsla(0, 0, 0, 0.1);
  border-radius 5px;
  box-shadow 0 0 10px 0 #999

.log-info
  background-color #91d3f2

.log-error
  color white
  background-color #ff4f4f
  box-shadow 1px 1px 6px 0px #333
  font-family consolas
  font-size 16px
  &:before
    font-weight bold
    content 'Exception: '

.log-close-button
  position relative
  top -1px
  &:before
    top -1px
    position relative
    content '| '

::selection
  background: $body-selection


::-moz-selection
  background: opacify($panel, 0.3)


input
  border: none
  font-size: 17px


main
  position: absolute
  display: block
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 1

button
  font-size: 21px

#PageTransition
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background-color: black
  opacity: 0
  z-index: 20
  pointer-events: none
  transition: opacity .3s

  &.active
    opacity: 0.5
    pointer-events: auto
