@import '../_utilities'

.theme-selector
  position absolute
  display block
  top 40px
  left 150px
  height 30px
  width 30px
  border-radius 15px
  transition all .3s
  cursor pointer

  &.light
    box-shadow 0 0 0 2px white, 0 0 0 8px $light-theme-boxshadow
    background white
    &:before
      border-color #555
    &:after
      border-color white
    &:hover
      background #555
      box-shadow 0 0 0 2px #555, 0 0 0 8px $dark-theme-boxshadow
      transform rotate(180deg)

  &.dark
    box-shadow 0 0 0 2px black, 0 0 0 8px $dark-theme-boxshadow
    background black
    &:before
      border-color #dddddd
    &:after
      border-color black
    &:hover
      background #ddd
      box-shadow 0 0 0 2px #ddd, 0 0 0 8px $light-theme-boxshadow
      transform rotate(180deg)


  &:before
    position absolute
    display block
    content ''
    height 30px
    width 27px
    border-left 15px solid transparent
    border-radius 15px
    transition all .3s
  &:after
    position absolute
    display block
    left -12px
    content ''
    height 30px
    width 27px
    border-right 15px solid transparent
    border-radius 15px
    transition all .3s




header.global
  display: block
  height: 3px
  background: $accent-color
  z-index: 50

  #LoginContainer
    position: absolute
    right: 15%
    top: -130px
    /* top -28px */
    height: 130px
    width: 250px
    background-color: $accent-color
    border-radius: 0 0 13px 13px
    transition: top 0.5s $ease-io-back
    &.active
      top: -28px

  #LoginButton
    position: absolute
    display: block
    right: 13px
    bottom: -28px
    padding: 5px 10px
    font-size: 16px
    font-family: PT, Consolas, "Lucida Console", monospace
    color: $black
    background-color: $accent-color
    border-radius: 0 0 13px 13px
    cursor: pointer
