@import '../_utilities'

.theme-selector
  position absolute
  display block
  top 40px
  left 150px
  height 30px
  width 30px
  border-radius 15px
  transition all .3s
  cursor pointer

  &.light
    box-shadow 0 0 0 2px white, 0 0 0 8px $light-theme-boxshadow
    background white
    &:before
      border-color #555
    &:after
      border-color white
    &:hover
      background #555
      box-shadow 0 0 0 2px #555, 0 0 0 8px $dark-theme-boxshadow
      transform rotate(180deg)

  &.dark
    box-shadow 0 0 0 2px black, 0 0 0 8px $dark-theme-boxshadow
    background black
    &:before
      border-color #dddddd
    &:after
      border-color black
    &:hover
      background #ddd
      box-shadow 0 0 0 2px #ddd, 0 0 0 8px $light-theme-boxshadow
      transform rotate(180deg)


  &:before
    position absolute
    display block
    content ''
    height 30px
    width 27px
    border-left 15px solid transparent
    border-radius 15px
    transition all .3s
  &:after
    position absolute
    display block
    left -12px
    content ''
    height 30px
    width 27px
    border-right 15px solid transparent
    border-radius 15px
    transition all .3s




header.global
  display block
  height 3px
  z-index 50
  background-color hsl(278, 57%, 50%)

  // .ribbon
  //   position absolute
  //   display block
  //   height 43px
  //   top 0
  //   left 0
  //   right 0
  //   background -webkit-linear-gradient(top, rgba(160,154,44,1) 1%,rgba(119,109,33,1) 100%)
  //   box-shadow 0px 0 5px 2px #333
