.cssload-container
  display block
  margin 40px auto
  width 70px

.cssload-container *, .cssload-container *:before, .cssload-container *:after
  box-sizing border-box
  -o-box-sizing border-box
  -ms-box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box

$animDuration = 1.6s
$stagger = 0.7s
$size = 170px
$hue = 278

.preloader
  width $size
  height $size
  line-height $size
  margin 56px auto
  position relative
  box-sizing border-box
  text-align center
  z-index 0
  text-transform uppercase
  -o-text-transform uppercase
  -ms-text-transform uppercase
  -webkit-text-transform uppercase
  -moz-text-transform uppercase
  &:after
    z-index 1
    animation ripple $animDuration infinite $stagger
    -o-animation ripple $animDuration infinite $stagger
    -ms-animation ripple $animDuration infinite $stagger
    -webkit-animation ripple $animDuration infinite $stagger
    -moz-animation ripple $animDuration infinite $stagger
  &:before
    z-index 2
    animation ripple $animDuration infinite
    -o-animation ripple $animDuration infinite
    -ms-animation ripple $animDuration infinite
    -webkit-animation ripple $animDuration infinite
    -moz-animation ripple $animDuration infinite

.preloader:before,
.preloader:after
  opacity 0
  box-sizing border-box
  -o-box-sizing border-box
  -ms-box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  content "\0020"
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  border-radius 113px
  border 6px solid hsl($hue, 50%, 50%)
  box-shadow 0 0 56px hsl($hue, 100%, 39%), inset 0 0 56px hsl($hue, 50%, 60%)


@keyframes ripple
  0%
    transform: scale(0);
    opacity: 0;
  50%
    opacity: 1;
  100%
    transform: scale(1);
    opacity: 0;



@-o-keyframes ripple
  0%
    -o-transform: scale(0);
    opacity: 0;
  50%
    opacity: 1;
  100%
    -o-transform: scale(1);
    opacity: 0;



@-ms-keyframes ripple
  0%
    -ms-transform: scale(0);
    opacity: 0;
  50%
    opacity: 1;
  100%
    -ms-transform: scale(1);
    opacity: 0;



@-webkit-keyframes ripple
  0%
    -webkit-transform: scale(0);
    opacity: 0;
  50%
    opacity: 1;
  100%
    -webkit-transform: scale(1);
    opacity: 0;



@-moz-keyframes ripple
  0%
    -moz-transform: scale(0);
    opacity: 0;
  50%
    opacity: 1;
  100%
    -moz-transform: scale(1);
    opacity: 0;

