

$speed = .2s


#overlay
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color $modal-overlay-bg-color
	opacity: 0
	visibility: hidden
	z-index: 1000
	transition: all $speed

	& > div
		perspective: 500px

	&.open
		visibility: visible
		opacity: 1

	.modal-preloader
		position fixed
		top 0
		left 0
		bottom 0
		right 0
		visibility hidden
		background url($modal-preloader) no-repeat center 37%
		&.open
			visibility visible




aside.modal
	position: relative
	top: 100px
	margin: 0 auto
	width: 50%
	background $modal-bg
	box-shadow $modal-boxshadow
	color $modal-default-color
	border-radius: 5px
	visibility hidden
	transform: rotateX(-55deg)
	transition: all $speed ease-in-out

	&.open
		visibility visible
		transform: rotateX(0deg) rotateZ(360deg)

	a.modal-close:visited,
	a.modal-close:active,
	a.modal-close:link
		position: absolute
		right: -13px
		top: -13px
		border-radius: 50%
		font-size: 20px
		padding: 3px 8px 5px 8px
		font-weight: bold
		text-decoration: none
		color: $modal-close-btn-color
		background $modal-close-btn-bg
		box-shadow $modal-close-btn-boxshadow
		transition: all $speed ease-in-out

	a.modal-close:hover
		background $modal-close-btn-hover-bg
		color $modal-close-btn-hover-color

	header
		text-align: center
		padding: 7px 0
		font-size: 24px
		font-family: Verdana
		color $modal-header-color
		background $modal-header-bg-color
		border-bottom $modal-separator-border
		border-top-right-radius: 5px
		border-top-left-radius: 5px
	.modal-content
		font-family: Delius
		font-size: 18px
		padding: 13px
		padding-right: 5px
		min-height: 100px
		max-height: 255px
		color $modal-content-color
		background-color $modal-content-bg-color
		text-outline($modal-content-outline-size, $modal-content-outline-color)
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		overflow-y: auto
		h2
			margin-top: 20px
			font-size: 20px
			margin-bottom: 15px

			&:first-child
				margin-top: 0
		span
			position: relative
			display: block
			padding-bottom: 7px
		b
			padding-right: 7px
			font-family: Consolas, monospace


aside.modal.bbl
	h2
		color $modal-bbl-content-header-color
	b
		color $modal-bbl-number-color
