@import '../_utilities'

$speed = .2s


#overlay
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background hsla(0, 0, 0, 0.7)
  // -webkit-radial-gradient(center, ellipse cover, hsla(0,0%,65%,0.59) 0%,hsla(0,0%,25%,0.9) 100%)
  // background radial-gradient(ellipse at center, hsla(0,0%,0%,0) 0%,hsla(0,0%,0%,0.65) 100%)
  opacity 0
  visibility hidden
  z-index 1000
  transition all $speed

  & > div
    perspective 500px

  &.open
    visibility visible
    opacity 1

  .modal-preloader
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    visibility hidden
    background url($modal-preloader) no-repeat center 37%
    &.open
      visibility visible




$modal-login-width = 450px
aside.modal
  position relative
  margin 0 auto
  width 50%
  // background $modal-bg
  padding 2px 3px 3px 3px
  border 8px solid hsla($transient-trans, 0.4)
  box-shadow inset 0 0 0 10px transparent
  background-clip padding-box
  //box-shadow $modal-boxshadow
  color $modal-default-color
  border-radius 5px
  visibility hidden
  transform rotateX(-55deg)
  transition all $speed ease-in-out

  &.open
    visibility visible
    transform rotateX(0deg) rotateZ(360deg)

  a.modal-close:visited,
  a.modal-close:active,
  a.modal-close:link
    position absolute
    right -13px
    top -13px
    border-radius 50%
    font-size 20px
    padding 3px 8px 5px 8px
    font-weight bold
    text-decoration none
    color $modal-close-btn-color
    background $modal-close-btn-bg
    box-shadow $modal-close-btn-boxshadow
    transition all $speed ease-in-out

  a.modal-close:hover
    background $modal-close-btn-hover-bg
    color $modal-close-btn-hover-color

  header
    text-align center
    padding 7px 0
    font-size 24px
    font-family Verdana
    color $modal-header-color
    background $modal-header-bg-color
    border-bottom $modal-separator-border

  input[type='text']
    margin 0 auto
    width $modal-login-width - 100px
    background-clip padding-box
    margin-bottom 10px
    background $modal-login-input-bg
    border 7px solid $modal-login-input-border // hsla(125, 100%, 82%, .13) hsla(328, 92%, 54%, .21)
    border-radius 5px
    color $modal-login-input
    box-shadow inset 0 0 0 2px $modal-login-input-boxshadow

  button
    position relative
    padding 5px 7px
    cursor pointer
    border-radius 5px
    text-shadow 1px 1px 1px lighten($head-1-color, 70%)
    background -webkit-linear-gradient(top, #fff86b, #a88c00)
    background linear-gradient(top,  #fff86b, #a88c00)
    box-shadow 0 0 0 1px #000
    &:active
      background -webkit-linear-gradient(bottom, #fff86b, #a88c00)
      color #eee
      text-shadow 1px 1px 0 #111
      top 1px
      left 1px
    &:disabled
      background #777
      text-shadow 1px 1px 0 #aaa
      color #555
      cursor not-allowed

  .modal-content
    font-family Delius
    font-size 18px
    padding 13px
    min-height 100px
    color $modal-content-color
    background-color $modal-content-bg-color
    text-outline($modal-content-outline-size, $modal-content-outline-color)
    box-shadow inset 0 0 10px -1px #000
    overflow-y auto
    h2
      margin-top 20px
      font-size 20px
      margin-bottom 15px

      &:first-child
        margin-top 0
    span
      position relative
      display block
      padding-bottom 7px
    b
      padding-right 7px
      font-family Consolas, monospace







aside.modal.bbl
  h2
    color $modal-bbl-content-header-color
  b
    color $modal-bbl-number-color



aside.modal.exception
  header
    background-color $modal-exception-header-bg
    color $modal-exception-header
  .modal-content
    font-family consolas

    .stack
      font-size 12px
      background-color $modal-exception-stack-bg
      color $modal-exception-stack
      margin-left 17px
      padding 10px
      text-shadow none
      line-height 20px
      border-radius 5px



aside.modal.changelog
  header
    text-outline(0, #000)
  ul
    font-family consolas
    font-size 14px
    padding-left 13px
    margin-bottom 10px

    &.additions
      color $modal-changelog-add
    &.changes
      color $modal-changelog-chg
    &.fixes
      color $modal-changelog-fix




$green = $head-1-color
$cwidth = 20px
$cheight = 35px
.check
  position relative
  top -4px
  display block
  width $cwidth
  height $cheight
  &:before
    position relative
    display block
    content ''
    left 100%
    width 4px
    height $cheight
    background $modal-login-check
    transform rotateZ(33deg)
    border-radius 10px
    transition all .3s
  &:after
    position relative
    display block
    content ''
    top -11px
    left -4px
    width $cwidth
    height 4px
    background $modal-login-check
    transform rotateZ(33deg)
    transition all .3s
    border-radius 10px
  &.invalid
    left -7px
    &:before
      transform rotateZ(225deg)
      background $modal-login-check-invalid
    &:after
      top -($cheight / 2) - 2px
      left ($cwidth / 2) - 4px
      width $cheight
      background $modal-login-check-invalid
      transform rotateZ(225deg)
