
section#PageTop
	display: flex
	flex-flow: column
	min-height: 100%


.buffer
	height: 50px


.buffer2
	width: 50px


#TrayTop
	height: 70px


#TrayLeft
	min-width: 180px
	max-width: 180px


#TrayRight
	width: 13px
	transition: all .3s


footer#TrayBottom
	height: 13px


#PageContent
	position: absolute
	top 73px
	right 10px
	left 180px
	bottom 10px
	flex: 1 0
	flex-direction: column
	min-width: 500px
	display: flex
	border-left: 7px solid $panel
	border-top: 7px solid $panel
	border-top-left-radius: 13px
	overflow hidden


#PageMiddle
	display: flex
	flex: 1 0
	flex-flow: row nowrap


//.main-tab
//#BufferLeft {
//  background-color: $panel;
//  width: 50px;
//}
