
section#PageTop
  display: flex
  flex-flow: column
  min-height: 100%


.buffer
  height: 50px


.buffer2
  width: 50px


#TrayTop
  height: 100px


#TrayLeft
  min-width: 180px
  max-width: 180px


#TrayRight
  width: 13px
  transition: all .3s


footer#TrayBottom
  height: 13px


#PageContent
  position: absolute
  top 103px
  right 10px
  left 180px
  bottom 10px
  flex: 1 0
  flex-direction: column
  min-width: 500px
  display: flex
  border-left: 7px solid $panel
  border-top: 7px solid $panel
  border-top-left-radius: 13px
  overflow hidden


#PageMiddle
  display: flex
  flex: 1 0
  flex-flow: row nowrap
  z-index: 100

// TODO - Transform maybe
// .settings
//   position absolute
//   top 17px
//   right 22px
//   width 38px
//   height 42px
//   font-size 34px
//   color hsl(278, 70%, 80%)
//   cursor pointer
//   z-index 10
//   text-shadow text3d(3, darken(@color, 60%))
//   transition all .3s
//   &:hover
//     color hsl(50, 50%, 50%)
//     text-shadow text3d(3, darken(@color, 60%))

//.main-tab
//#BufferLeft {
//  background-color: $panel;
//  width: 50px;
//}
