/*** 768px ***/
@media only screen and (--large-screen) {
  :root { --r3d-vid-width: 210px; }
  .red33m-video .ee-video_title { font-size: 1.1rem; }
}
/*** 511px ***/
@media only screen and (--medium-screen) {
  :root { --r3d-vid-width: 350px; }
}
/*** 380px ***/
@media only screen and (--small-screen) {
  :root { --r3d-vid-width: 320px; }
}
/*** 320px ***/
@media only screen and (--tiny-screen) {
  :root { --r3d-vid-width: 250px; }
}