%header
  position: relative
  right: 12px
  align-self: flex-end
  margin-top: 34px
  padding: 2px 13px
  content: attr(role)
  text-transform: capitalize
  color: hsl(50, 50%, 50%)
  width: 34%
  font-size: 34px
  font-family: 'Verdana'
  text-align: center
  background: hsl(0, 0%, 9.7%)
  border-top-left-radius: 13px
  border-top-right-radius: 13px

%content
  display: block
  padding: 13px 10px
  background-color: $sub-panel
  font-size: 18px
  word-spacing: 2px
  font-family: 'Nunito'
  font-weight: 300
  line-height: 30px
  color: hsl(0, 0%, 60%)
  border-top-right-radius: 6.5px
  border-top-left-radius: 3.5px
  transition: background .3s, color .3s
  &:hover
    background-color: $panel-hover
    color: hsl(0, 0%, 65%)
    strong
      color: hsl(0, 0%, 75%)
    em
      color: hsl(278, 50%, 80%)
    a
      color: hsl(50, 0%, 65%)
      border-color: hsl(278, 50%, 80%)
      &:hover
        color: hsl(50, 50%, 60%)


#articles
  position: absolute
  display: block
  top: 0
  bottom: 0
  left: 150px
  right: 30px


.home
  @extend .g-markdown
  position: relative
  display: flex
  opacity: 0
  -ms-flex-direction: column
  flex-direction: column
  overflow-x: auto
  margin: 0 auto
  transition: all .15s linear
  transform: translateZ(0)



@import 'articles/about'
@import 'articles/rules'
@import 'articles/faq'
@import 'articles/blog'
