

.changelog
  transition: opacity .3s linear

  .center-preloader
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: hsl(0, 0%, 7%)
    opacity: 0
    z-index: 100
    visibility: hidden
    transition: visibility .3s ease, opacity .3s ease

    &.active
      opacity: .8
      visibility: visible

    .preloader
      top: 10%

#ChangeList
  position: absolute
  flex-flow: row wrap
  align-content: flex-start;
  border-top: 4px solid transparent
  border-left: 4px solid transparent
  padding-right: 10px
  transition: all .3s linear

  .title
    margin: 0 7px 5px 0
    display: inline-block
    padding: 10px 20px
    background-color: $panel
    color: hsl(50, 50%, 50%)
    text-align: center
    border-radius: 5px 0 13px
    cursor: pointer

  .description
    font-size: 28px
    font-family: 'comfortaa'
    font-weight: 300
    font-variant: small-caps
    letter-spacing: 1px
    span

      &.version
        font-size: 20px

      &.type
        font-family: 'Source Code Pro'
        font-variant: normal
        font-size: 27px

  .date
    color: hsl(128, 50%, 60%)
    font-family: 'Source Code Pro'
    font-size: 18px

#Changes
  @extend .md-changelog
  position: absolute
  top: 5px
  right: 0
  bottom: 0
  left: 0
  flex-direction: column
  overflow-y: auto
  transition: all .3s ease

.changelog .close
  position: fixed
  top: 121px
  right: 33px
  padding: 1px 13px
  font-size: 40px
  color: hsl(0, 80%, 63%)
  border-radius: 3px
  background-color: $panel
  // transition: .3s ease
  cursor: pointer
