menu.home-page
  margin-bottom: 6px
  padding-right: 22px
  text-align: right
  li
    margin-right: 15px
    padding: 7px 15px
    display: inline-block
    font-size: 24px
    font-family: 'Comfortaa'
    font-variant: small-caps
    color: hsl(0, 0%, 60%)
    border-radius: 0 0 5px 5px
    letter-spacing: 1px
    cursor: pointer
    z-index: 1000
    transition: all .3s
    &.active
      color: hsl(278, 70%, 85%)
      background: $panel