doctype html

html
  head
    title Log Panel
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='//cdn.muicss.com/mui-0.9.3/css/mui.min.css' type='text/css' media='screen')
    link(rel='stylesheet' href='libs/style.css')
    link(rel='stylesheet' href='logger/logger.css')
    script(src='libs/web.js')
    script(src='libs/iptools.js')
    script(src='libs/minimodal.js')
    //- script(src='../../libs/live.js')
    script(src='//cdn.muicss.com/mui-0.9.3/js/mui.min.js' async)

  body
    section#MainContent(v-bind:class='{"ready": isVueReady }')
      aside#LogDataModal.modal-overlay
        section.modal-container(v-bind:class='getModalClass(log.classes)')
          header
            h5 {{ log.time }}
            h5.mui--pull-right.uid {{ log.uid }}
          section
            div.chevron-right
            div
              span.neutral.identity(v-on:dblclick='toggleModalData') :: {{ log.identity }}
            div.data-container(v-bind:class='{"active": modalDataActive}')
              div(v-if='log.country')
                span.neutral :: {{ log.country }}
              div(v-if='log.browser')
                span.neutral :: {{ log.browser }}
            div
              table.field-table
                tr
                  td.method {{ log.method }}
                  td.url {{ log.url }}
                tr.field-content(v-if='log.fields')
                  td
                  td
                    table.sub-table
                      tr(v-for='(key, val) in log.fields')
                        td.data {{ key }}
                        td.data [{{ val }}]
            div.chevron-left
            div.mui-container-fluid(v-if='log.err')
              div.error.mui-row Stack
              div.error.mui-row
                pre {{ log.err | isStack }}
            div
              span.msg Message
                span.msg-text {{ log.msg }}
          footer



      section#Form
        div.mui-select.inline
          label Available Logs
          select#SelectFile(v-el:select onchange='vmLogger.$get("onLogChange")()')
            each val in logs
              if val == 'noumenae.one'
                options(selected)= val
              else
                option= val

        div.mui-textfield.inline
          label Length
          input(type='number' min='10' max='1020' v-model='userLength' step='10')

        div.mui-textfield.inline
          label Multiplier
          input(type='number' min='1' max='10' v-model='multiplier' step='1')

        div.mui-textfield.req-length.inline.number.pink
          label Req Length
          input(type='text' v-model='reqLength' readonly)

        div.mui-textfield.inline.number.green
          label Actual
          input(type='text' v-model='logLength' readonly)

      section#content(v-el:content)
        div.inner-text
          div(v-for='log in logLines'
              track-by='uid'
              class='{{* log.classes }} log modal-trigger'
              v-on:dblclick='showLogEntry(log, $event)')
            div.time {{* log.time | date }}
            div.identity {{* log.identity }}
            div.method(v-if='log.method') {{* log.method }}
            //- span.data(v-if='log.dataString') {{* log.dataString }}
            div.msg {{* (log.msg == 'ACCEPTED REQUEST') ? log.url : log.msg }}
            aside
              div.repeat(v-if='log.reqCount > 1') {{ log.reqCount }}

      footer
        button.mui-btn.mui-btn--primary(
          v-bind:class='{ "orange": isLogPolling, "darken-1": isLogPolling}'
          v-on:click='toggleLogPolling($event)') {{ pollingText }}
        button.mui-btn.mui-btn--danger(v-on:click='deleteLog' v-el:btnDelete) Delete
        div.mui-textfield.inline.number.green
          label Render
          input(type='text' v-model='renderTime' readonly)
        div.mui-textfield.req-time.inline.number.green
          label Request
          input(type='text' v-model='requestTime' readonly)

    script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js')
    script(src='logger/logger.js')

