body
  margin 0
  padding 0
  height 100%
  width 100%
  font-family: monospace
  background-color: #f0f0f0

#MainContent
  position: absolute
  top 0
  left 0
  right 0
  bottom 0
  visibility: hidden
  opacity 0
  transition: all .3s
  &.ready
    visibility visible
    opacity 1

#container
  position: relative
  display block
  width 90%
  left: 50%
  height 80%
  overflow: visible
  transform: translate(-50%, 0%)

#content
  position: relative
  display: block
  margin-bottom 20px
  padding 5px
  height 83%
  background-color #333
  border-radius 7px
  font-size: 14px
  overflow: auto
  color: #ccc
  & > div
    margin 5px 0
    padding-right 5px

  div > span
    margin-right 5px

  .success
    color #bbb

  .internal
    color #c0ff4c
    background-color #404930

  .warn
    color #ffc532
    background-color #443e2f

  .error
    color #ff8ebd
    background-color: #442431

  .data
    color #db9eff

  .identity
    color #ddca89

  .time
    color #888

  .log
    cursor pointer


input[type='number']
  position: relative
  display inline-block
  height 3rem
  text-align: center
  font-size 18px
  width 57px
  &::-webkit-inner-spin-button, ::-webkit-outer-spin-button
    opacity 1
    background-color transparent

input
  font-size 18px !important
  &:focus
    border-bottom 1px solid #5e35b1 !important
    box-shadow: 0 1px 0 0 #5e35b1 !important

.input-field
  display: inline-block
  margin-left 10px
  margin-right 20px
  margin-top 30px
  height 60px
  width 200px
  vertical-align: middle
  &.number
    width 70px
    margin-right 10px

.div-field
  position: absolute
  right 20px
  margin-top 7px
  display: inline-block
  text-align: center
  height 60px
  font-size 20px
  font-family: monospace
  span
    display block
    height 35px
    border-bottom: 1px solid #9e9e9e
    cursor default
    transition all .3s
  &:hover span
    border-bottom 1px solid #5e35b1
    box-shadow: 0 1px 0 0 #5e35b1

.div-field-relative
  position: relative
  margin-top 0
  right 20px
  top -20px
  float right

.time
  bottom 0

.req-length
  right 140px

.select-dropdown
  span
    color #7e57c2 !important

label
  font-size 14px !important

button
  margin-right 20px




h5
  display inline-block
  margin-bottom 5px
  font-size 24px
  color #a0936e
  .url
    font-size 16px
    margin-left 13px


.modal
  color #777
  .content-container
    & > :nth-child(2)
      margin-top 7px
  header
    border-bottom 1px solid #ccc

  .uid
    position: relative
    float right
    letter-spacing: 1px
    color #a0936e

  .value
    padding-left 0

  .method-label
    color #28a4ed
    text-shadow: 1px 2px 1px #ccc

  .return-label
    color #ed9428
    text-shadow: 1px 2px 1px #ccc

  .body-label
    color #9957e5
    text-shadow: 1px 2px 1px #ccc

  .return-value
    color #9b7e61
    background-color: #f2ede8
    border-radius: 5px

  .success-label
    color #2cd649
    text-shadow: 1px 2px 1px #ccc

  .success-value
    background-color: #e8f2e9
    color: #5e9961
    border-radius: 5px

  .warn-label
    color #ff8c00
    text-shadow: 1px 2px 1px #ccc

  .warn-value
    background-color: #f4e5d2
    color #b56300
    border-radius: 5px

  .error-label
    color #d32c2c
    text-shadow: 1px 2px 1px #ccc

  .error-value
    color #995e5e
    background-color: #efe6e6
    border-radius: 5px

  .row
    margin-bottom 13px

  .field-table
    margin-bottom 0
    .col
      width 88px
      &:first-child
        margin-bottom 3px
        margin-left 15px
        background-color #efe8f4
        border-bottom-left-radius: 7px
        border-top-left-radius: 7px
        text-align: center
        color #82609b
      &:last-child
        padding-left 3px

