input[type=number] {
  width: 57px;
}

#MainContent {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  min-width: 700px;
  flex-direction: column;
  transition: all 0.3s;
}
#MainContent.ready {
  visibility: visible;
  opacity: 1;
}
#container {
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}
#content {
  position: relative;
  display: block;
  margin: 10px 0 10px 0;
  font-size: 14px;
  overflow: auto;
  color: #ccc;
}
#content .inner-text {
  padding-right: 5px;
  margin: 0;
}
#content .inner-text > div {
  margin: 0 0 5px 0;
  padding: 5px 5px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-left: 4px solid #ccc;
}
#content div > span {
  margin-right: 5px;
}
#content .method {
  display: inline-block;
  text-align: center;
  width: 55px;
}
#content .success .msg {
  color: #707070;
  border-radius: 3px;
}
#content .internal .msg {
  padding: 0 5px;
  background: hsl(128, 50%, 90%);
  color: hsl(128, 70%, 35%);
}
#content .inner-text .internal {
  border-left-color: hsl(128, 45%, 60%);
}
#content .warn .msg {
  padding: 0 5px;
  background: hsl(33, 100%, 92%);
  color: hsl(33, 85%, 45%);
  border-radius: 3px;
}
#content .inner-text .warn {
  border-left-color: hsl(33, 90%, 65%);
}
#content .error .msg {
  padding: 0 5px;
  background: hsl(335, 100%, 94%);
  color: hsl(335, 100%, 60%);
  border-radius: 3px;
}
#content .inner-text .error  {
  border-left-color: hsl(335, 80%, 73%);
}
#content .data {
  color: #707070;
  padding-right: 5px;
}
#content .identity {
  display: inline-block;
  width: 110px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: hsl(200, 50%, 50%);
}
#content .time {
  display: inline-block;
  width: 77px;
  color: #aaa;
}
#content .log {
  cursor: pointer;
}




.div-field-relative {
  position: relative;
  margin-top: 0;
  right: 20px;
  top: -20px;
  float: right;
}
.div-field-relative:last-child {
  right: 44px;
}
.time {
  bottom: 0;
}
.req-length {
  right: 140px;
}
.select-dropdown span {
  color: #7e57c2 !important;
}
label {
  color: #bbb !important;
  font-size: 14px !important;
}
button {
  margin-right: 20px;
}






.modal-overlay {
  background: hsla(0, 0%, 0%, 0.5);
}
.modal-container {
  width: 55%;
  background: #efefef;
  padding-bottom: 10px;
  font-size: 18px;
  border: 1px solid hsl(200, 50%, 50%);
  border-left: 11px solid hsl(200, 100%, 70%);
}
.modal-container.internal {
  border-color: hsl(128, 50%, 60%);
}
.modal-container.warn {
  border-color: hsl(33, 100%, 70%);
}
.modal-container.error {
  border-color: hsl(340, 87%, 75%);
}
.modal-container header {
  margin: 0 10px 10px 10px;
  border-bottom: 1px solid #ddd;
}
.modal-container h5 {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 22px;
  font-family: monospace;
  color: #888;
}
.modal-container h5:first-child {
  padding-left: 5px;
}
.modal-container .uid {
  padding-right: 10px;
}
.modal-container section > div {
  position: relative;
  padding-left: 13px;
  margin-bottom: 3px;
}
.modal-container .method,
.modal-container .fields,
.modal-container .ip,
.modal-container .msg {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  font-weight: bold;
  color: #bbb;
}
.modal-container .method {
  color: hsl(50, 37%, 60%);
}
.modal-container .error {
  padding-left: 27px;
  font-weight: bold;
  color: #bbb;
  margin-bottom: 10px;
}
.modal-container .fields {
  width: 100%;
}
.modal-container .field-table {
  margin: 0;
  border-spacing: 0;
}
.modal-container .data {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  color: #777;
}
.modal-container .sub-table td:first-child {
  margin: 0 0 5px 0;
  padding: 0;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 7px;
  color: #bbb;
}
.modal-container .sub-table td:first-child::before {
  position: absolute;
  content: '\2022';
  top: -8px;
  left: -23px;
  font-size: 32px;
  font-weight: normal;
  color: hsl(50, 37%, 60%);

}
.modal-container .sub-table td:last-child {
  color: hsl(278, 30%, 60%);
}
.modal-container .chevron-left,
.modal-container .chevron-right {
  position: relative;
  display: block;
  height: 20px;
  width: 20px;
  margin-bottom: 3px;
}
.modal-container .chevron-left {
  height: 25px;
}
.modal-container .chevron-left::before,
.modal-container .chevron-right::before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Material Icons';
  font-size: 34px;

}
.modal-container .chevron-left::before {
  content: 'chevron_left';
  color: hsl(33, 100%, 50%);
}
.modal-container .chevron-right::before {
  content: 'chevron_right';
  color: hsl(128, 90%, 40%);
}
.modal-container .url {
  padding-left: 10px;
  color: #777;
}
.modal-container .error pre {
  margin: 0 0 0 15px;
  font-size: 14px;
  padding: 5px;
  width: 95%;
  background: #fafafa;
  color: #777;
  border-radius: 5px;
  overflow-x: auto;
}
.modal-container .msg-text {
  position: relative;
  display: block;
  padding: 3px 10px;
  border-radius: 3px;
  margin: 10px 0 0 16px;
  background: hsl(200, 80%, 82%);
  color: hsl(200, 90%, 45%);
}
.modal-container.internal .msg-text {
  background: hsl(128, 70%, 80%);
  color: hsl(128, 70%, 30%);
}
.modal-container.warn .msg-text {
  background: hsl(33, 100%, 82%);
  color: hsl(33, 100%, 35%);
}
.modal-container.error .msg-text {
  background: hsl(335, 90%, 88%);
  color: hsl(335, 60%, 50%);
}


.inline {
  display: inline-block !important;
}

input[type='number'], .number {
  width: 90px;
  text-align: center;
}
.number {
  position: absolute;
  right: 44px;
}
.number input {
  text-align: center;
}
.number.req-length {
  right: 155px;
}
.number.req-time {
  right: 155px;
}


.mui-textfield > input {
  height: 32px !important;
}

input, .mui-select {
  margin-right: 20px !important;
  cursor: auto !important;
}

input, select {
  font-size: 18px !important;
  color: hsl(200, 100%, 43%) !important;
}

.center {
  text-align: center;
}

.green input {
  color: hsl(128, 100%, 30%) !important;
}
.pink input {
  color: hsl(300, 100%, 40%) !important;
}
