.div-field-relative
  position relative
  margin-top 0
  right 20px
  top -20px
  float right
  &:last-child
    right 44px

.req-length
  right 140px

button
  margin-right 20px

input[type=number]
  width 57px


#MainContent
  position absolute
  display flex
  top 0
  left 0
  right 0
  bottom 0
  padding 20px
  visibility hidden
  opacity 0
  min-width 700px
  flex-direction column
  transition all 0.3s

  &.ready
    visibility visible
    opacity 1
// END MAIN CONTENT




#content
  position relative
  display block
  margin 10px 0 10px 0
  font-size 14px
  overflow auto

  .inner-text
    position: relative
    padding-right 5px
    margin 0
    overflow: hidden
    & > div
      position: relative
      margin 0 0 5px 0
      width 100%
      height 33px
      padding-top 6px
      background-color #f7f7f7
      border-bottom 1px solid #ddd
      border-left 4px solid #ccc
      user-select none
    & div > div
      display table-cell
      margin-right 5px
      vertical-align middle

    .internal
      border-left-color: hsl(128, 45%, 60%);
    .warn
      border-left-color: hsl(33, 90%, 65%);
    .error
      border-left-color: hsl(335, 80%, 73%);
    .log
      cursor: pointer;

    .internal .msg
      background: hsl(128, 50%, 90%);
      color: hsl(128, 70%, 35%);
    .warn .msg
      background: hsl(33, 100%, 92%);
      color: hsl(33, 85%, 45%);
    .error .msg
      background: hsl(335, 100%, 94%);
      color: hsl(335, 100%, 60%);

    .time
      width: 87px;
      color: #aaa;
      text-align: center
    .identity
      min-width: 120px;
      max-width: 120px;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center
      color: hsl(200, 50%, 50%);
      overflow: hidden;
    .data
      color: #707070;
    .method
      text-align center
      width 66px
      color #ccc
    .msg
      padding 2px 10px
      border-radius 7px
      color hsl(0, 0%, 55%)

    aside
      position: absolute
      top 0
      right 0
      font-size: 20px
      text-align: center
      border-left 1px solid #bfbfbf
      & > div:last-child
        border-radius 0 5px 5px 0
      .repeat
        padding 5px 0px
        width 50px
        background hsl(278, 50%, 90%)
        color hsl(278, 100%, 60%)

// END CONTENT



.modal-overlay
  background hsla(0, 0%, 0%, 0.5)

.modal-container
  width 55%
  background #efefef
  padding-bottom 10px
  font-size 18px
  border 1px solid hsl(200, 50%, 50%)
  border-left 11px solid hsl(200, 100%, 70%)
  &.internal
    border-color hsl(128, 50%, 60%)
    .msg-text
      background hsl(128, 70%, 80%)
      color hsl(128, 70%, 30%)
  &.warn
    border-color hsl(33, 100%, 70%)
    .msg-text
      background hsl(33, 100%, 82%)
      color hsl(33, 100%, 35%)
  &.error
    border-color hsl(340, 87%, 75%)
    .msg-text
      background hsl(335, 90%, 88%)
      color hsl(335, 60%, 50%)

  header
    margin 0 10px 10px 10px
    border-bottom 1px solid #ddd

  h5
    display inline-block
    margin-bottom 5px
    font-size 22px
    font-family monospace
    color #888
    &:first-child
      padding-left 5px

  .uid
    padding-right 10px

  section
    & > div
      position relative
      padding-left 13px
      margin-bottom 3px

  .method, .fields, .ip, .msg
    position relative
    display inline-block
    padding-left 10px
    font-weight bold
    color #bbb

  .method
    color hsl(50, 37%, 60%)

  .error
    padding-left 27px
    font-weight bold
    color #bbb
    margin-bottom 10px
    pre
      margin 0 0 0 15px
      font-size 14px
      padding 5px
      width 95%
      background #fafafa
      color #777
      border-radius 5px
      overflow-x auto

  .fields
    width 100%

  .field-table
    margin 0
    border-spacing 0

  .data
    position relative
    font-weight normal
    font-size 18px
    color #777

  .sub-table
    td
      &:first-child
        margin 0 0 5px 0
        padding 0
        text-align right
        font-weight bold
        padding-right 10px
        padding-left 7px
        color #bbb
        &::before
          position absolute
          content '\2022'
          top -8px
          left -23px
          font-size 32px
          font-weight normal
          color hsl(50, 37%, 60%)
      &:last-child
        color hsl(278, 30%, 60%)

  .chevron-left, .chevron-right
    position relative
    display block
    height 20px
    width 20px
    margin-bottom 3px
    &::before
      position absolute
      top 0
      left 0
      font-family 'Material Icons'
      font-size 34px

  .chevron-left
    height 25px
    &::before
      content 'chevron_left'
      color hsl(33, 100%, 50%)

  .chevron-right
    &::before
      content 'chevron_right'
      color hsl(128, 90%, 40%)

  .url
    padding-left 10px
    color #777

  .msg-text
    position relative
    display block
    padding 3px 10px
    border-radius 3px
    margin 10px 0 0 16px
    background hsl(200, 80%, 82%)
    color hsl(200, 90%, 45%)
// END MODAL CONTENT




// MISC
.inline
  display inline-block !important

input[type='number'], .number
  width 90px
  text-align center

.number
  position absolute
  right 44px
  input
    text-align center
  &.req-length
    right 155px
  &.req-time
    right 155px

.mui-textfield
  & > input
    height 32px !important

input, .mui-select
  margin-right 20px !important
  cursor auto !important

input, select
  font-size 18px !important
  color hsl(200, 100%, 43%) !important

.center
  text-align center

.green
  input
    color hsl(128, 100%, 30%) !important

.pink
  input
    color hsl(300, 100%, 40%) !important

