

// Prevent box from collapsing
.firefox
  // [contenteditable='true']:before
  //   content: "\feff"

  .commander #cmdbox
    padding: 4px 0 6px 7px

  .dyn-panel .scrollbars
    scrollbar-color: hsl(278, 17%, 30%) hsl(47, 0%, 12%);

  .display .msg-container
    scrollbar-color: hsl(278, 17%, 30%) transparent;
    scrollbar-width: thin