%panel-hover
  background-color: $panel-hover
  color: hsl(0, 0%, 65%)
  strong
    color: hsl(0, 0%, 75%)
  em
    color: hsl(278, 50%, 80%)
    strong
      color: hsl(50, 50%, 65%)
  a
    color: hsl(50, 0%, 65%)
    border-color: hsl(278, 50%, 80%)
    &:hover
      color: hsl(50, 50%, 60%)

$trans-speed: .25s
$trans-easing: ease

.markdown
  font-family: 'Nunito'
  font-weight: 300
  font-size: 18px
  color: hsl(0, 0%, 60%)

  h1, h2, h3, h4, h5
    margin-top: 8px
    font-family: 'Comfortaa'
    font-variant: small-caps
    font-weight: 300
    line-height: normal
    letter-spacing: 1px

  h2
    position: relative
    margin: 30px 0 10px 50px
    font-size: 24px
    color: hsl(50, 55%, 63%)

  & > p
    display: block
    padding: 10px 30px
    line-height: 30px
    background: $sub-panel
    border-top-right-radius: 6.5px
    border-top-left-radius: 3.5px
    transition: background $trans-speed, color $trans-speed

  a, b, strong, i, em,
  dt, dd, code, blockquote
    transition: border $trans-speed $trans-easing, color $trans-speed $trans-easing, background $trans-speed $trans-easing

  b, strong
    font-weight: 400
    color: hsl(0, 0%, 70%)

  i, em
    color: hsl(278, 20%, 72%)
    font-style: normal

    strong, b
      color: hsl(50, 50%, 65%)

  code
    padding: 0 5px
    color: hsl(0, 0%, 80%)
    font-family: 'source code pro'
    background: hsl(0, 0%, 25%)
    border: 1px solid hsl(0, 0%, 0%)
    border-radius: 5px
    white-space: nowrap
    word-spacing: -3px


// @import 'markdown/md_changelog'
// @import 'markdown/md_welcome'
@import 'markdown/md_rules'
@import 'markdown/md_chat'
@import 'markdown/md_blog'
// @import 'markdown/md_faq'
