%panel-hover
  background-color: $panel-hover
  color: hsl(0, 0%, 68%)
  strong
    color: hsl(0, 0%, 77%)
  em
    color: hsl(278, 50%, 80%)
    strong
      color: hsl(50, 50%, 65%)
  a
    color: hsl(50, 0%, 68%)
    border-color: hsl(278, 50%, 80%)
    &:hover
      color: hsl(50, 50%, 60%)

  code
    background: hsl(278, 25%, 30%)
    color: hsl(278, 20%, 80%)

$trans-speed: .25s
$trans-easing: ease

.markdown
  font-family: 'Nunito'
  font-weight: 300
  +font-size(20)
  color: hsl(0, 0%, 64%)

  h1, h2, h3, h4, h5
    margin-top: 8px
    @extend %font-comfortaa
    line-height: normal
    letter-spacing: 1px

  h1
    margin-left: 10px

  h2
    position: relative
    margin: 30px 0 10px 50px
    +font-size(18)
    color: hsl(50, 55%, 63%)

  & > p
    display: block
    padding: 10px 30px
    line-height: 30px
    background: $sub-panel
    border-top-right-radius: 6.5px
    border-top-left-radius: 3.5px
    transition: background $trans-speed, color $trans-speed

  a, b, strong, i, em,
  dt, dd, code, blockquote
    transition: border $trans-speed $trans-easing, color $trans-speed $trans-easing, background $trans-speed $trans-easing

  b, strong
    font-weight: 400
    color: hsl(0, 0%, 75%)

  i, em
    color: hsl(278, 30%, 72%)
    font-style: normal

    strong, b
      color: hsl(50, 50%, 65%)

  code
    padding: 2px 3px 0 3px
    color: hsl(0, 0%, 80%)
    font-family: 'Cousine'
    background: hsl(0, 0%, 25%)
    border: 1px solid hsl(0, 0%, 0%)
    +font-size(18)
    border-radius: 5px
    white-space: nowrap
    word-spacing: -3px

@import 'variables'
@import 'markdown/md_changelog'
@import 'markdown/md_welcome'
@import 'markdown/md_chat_message'
@import 'markdown/md_rules'
@import 'markdown/md_faq'
