
section .anim-container
  flex: 1
  display: flex
  flex-direction: column
  transition: opacity .3s linear

.chat-input-container
  color: $h1-color
  background-color: $panel
  background-clip: padding-box
  font-size: 18px
  padding: 7px 5px
  font-family: 'Source Code Pro'
  border-left: 2px solid transparent
  border-top: 2px solid transparent
  border-bottom-right-radius: 13px
  word-wrap: break-word
  overflow: hidden

  pre
    display: inline-block
    font-family: Verdana, Geneva, Tahoma, sans-serif
    max-width: 100%

  .suggestion
    color: #ccc


.message
  display: flex
  margin-bottom: 4px
  font-family: 'Verdana'

  &.server, &.emote
    background-color: hsl(0, 0%, 9.7%)
    padding: 3px 0

  &.emote
    background-color: hsl(278, 20%, 12.3%)

  .container
    display: flex
    flex-direction: column
    flex: 1
    background-color: hsl(0, 0%, 10%)

    &.normal
      padding: 5px 0 0 5px

    &.emote
      display: none

  &.delay5
    -webkit-animation-duration: .55s
    -moz-animation-duration: .55s

  &.delay3
    -webkit-animation-duration: .25s
    -moz-animation-duration: .25s



  //////////////////////
  //   Avatar
  //////////////////////
  aside
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 7px
    margin-left: 7px
    //transition: all .3s;

    &.emote, &.server, &.client
      display: none

    .avatar
      position: relative
      border-radius: 8px
      border: 2px solid hsl(0, 0%, 0%)

      &.default
        +text-outline(1px, white)
        color: hsl(0, 0%, 80%)
        border: 0
        background-image: none !important
        top: -8px
        left: 2px

    .real-time
      font-size: 12px
      color: hsl(0, 0%, 50.3%)

    &.large
      width: 70px
      height: 90px

      &.default
        width: 55px
        margin-right: 0

      .avatar
        height: 64px
        width: 64px
        font-size: 66px

    &.medium
      width: 50px
      height: 60px

      &.default
        width: 40px

      .avatar
        height: 48px
        width: 48px
        font-size: 50px

      .real-time
        display: none

    &.small
      width: 35px
      height: 40px

      .avatar
        height: 36px
        width: 36px
        font-size: 36px

      .default
        top: -3px

      .real-time
        display: none

  //    END AVATAR



  //////////////////////
  //  Message INFO
  //////////////////////
  .info-line
    display: flex
    margin-bottom: 3px
    flex-direction: row
    justify-content: space-between

    .left
      display: flex
      align-items: center

      .username
        position: relative
        font-family: Delius
        letter-spacing: 1px
        color: $info
        text-shadow: none
        margin-right: 20px

      .relative-time
        position: relative
        font-size: 12px
        color: hsl(0, 0%, 50.3%)

        &::before
          position: absolute
          content: '\2022'
          left: -13px
          top: -3px
          font-size: 16px

    .right
      .real-time
        margin-right: 13px
        font-size: 12px
        color: hsl(0, 0%, 50.3%)

    &.large
      .username
        font-size: 18px

    &.medium
      .username
        font-size: 18px

    &.small
      margin-bottom: 0
      margin-left: 2px

      .left
        .username
          font-size: 14px

        .relative-time
          display: none
  // END MESSAGE INFO



  /////////////////////////
  //  Message CONTENT
  /////////////////////////
  .content
    @extend .md-chat-message
    position: relative
    margin-left: 5px
    display: inline-block
    word-wrap: break-word
    text-shadow: none
    padding-right: 5px
    font-size: 18px
    font-family: 'Source Code Pro', 'consolas', monospace

    div p:last-child
      margin-bottom: 10px

    // a:visited,
    // a:active,
    // a:link
    //   color: hsl()
    //   border-bottom: 1px dashed $msg-link-color
    //   text-decoration: none
    //   transition: border .3s, color .3s
    // a:hover
    //   color: $msg-link-hover-color
    //   border-bottom: 1px solid $msg-link-hover-color
    //   text-decoration: dashed
    .verse
      color: hsl(327.2, 100%, 80.6%)
      border-color: hsl(327.2, 100%, 80.6%)

    .invalid-link
      +text-outline(1px, white)
      color: hsl(0, 0%, 66.7%)

    img
      max-width: 100%

    &.large
      font-size: large

    &.medium
      font-size: 18px

    &.small
      top: -3px
      font-size: 14px
  // END CONTENT



  // ALL
  .client, .server,
  .inline, .implicit,
  .emote
    display: flex
    flex: 1
    padding: 3px 0

    .username
      position: relative
      margin-left: 19px
      padding-left: 5px
      color: $info
      font-size: 16px
      font-family: 'Source Code Pro'

      &::before
        +text-outline(0, #000)
        position: absolute
        top: -12px
        left: -16px
        content: '\21D2'
        font-size: 32px
        font-style: normal
        color: hsl(49, 67.2%, 43%)
        text-shadow: none
        font-family: 'Source Code Pro'

    .content
      position: relative
      flex: 1
      margin-left: 5px
      font-size: 16px
      font-family: 'Source Code Pro'
      color: hsl(50, 50%, 60%)

    .real-time
      margin-right: 13px
      text-align: right
      font-size: 12px
      color: hsl(0, 0%, 50.3%)
  // END EMOTE



  .emote, .implicit, .inline
    .username
      position: relative
      left: 3px

      &::before
        top: -13px
        left: -19px

    .content
      margin-left: 10px


  // IMPLICIT
  .implicit
    .content, .username::before
      color: hsl(0, 0%, 45%)

    .username
      color: hsl(0, 0%, 55%)
  // END IMPLICIT




    // SERVER
  .client,
  .server
    .username
      margin-left: 19px
      margin-right: 15px
      padding-left: 0
      font-size: 14px
      color: hsl(23.1, 100%, 75%)
      text-shadow: none
      font-family: 'Source Code Pro'

      &::before
        top: -13px
        left: -18px
        font-size: 30px
        content: '\2022'
        color: hsl(23.1, 100%, 75.1%)
        text-shadow: none

      // TODO: Use border to create triangle (all browser support)
      &::after
        top: -13px
        left: 52px
        position: absolute
        content: '\2022'
        font-size: 30px
        font-style: normal
        color: $info
        text-shadow: none

    .real-time
      font-size: 12px

    .content
      color: $info
      text-shadow: none
      font-family: 'Source Code Pro'
      font-size: 14px
      word-spacing: normal
      margin-left: 6px

      &::after
        content: ''

    &.attention
      .username

        &::after
          color: $attention

      .content
        color: $attention
  // END SERVER



  // CLIENT
  .client
    .username
      color: hsl(0, 0%, 66.7%)

      &::after
        color: $neutral

      &::before
        +text-outline(1px, hsl(0, 0%, 0%))
        color: hsl(0, 0%, 80%)

    .content
      color: hsl(0, 0%, 50%)
      text-shadow: none

    &.attention
      .username

        &::after
          color: $attention

      .content
        color: $attention

    &.normal
      .username

        &::after
          color: $info

      .content
        color: $info

  .implicit
    .username

      &::after
        display: none


  // INLINE
  .inline
    background-color: hsl(0, 0%, 9.7%)
    .username
      color: hsl(50, 60%, 63%)
      margin-right: 5px

      &::before
        color: hsl(278, 70%, 83%)
        text-shadow: none

      &::after
        display: none

    .content
      color: hsl(278, 20%, 75%)
  // END INLINE






#PartialWindow
  width: 200px
  //display: flex;
  flex-direction: column
  display: none

  .pane
    flex: 1 0
    flex-direction: column
    display: flex

    &:first-child
      border-top: 2px solid transparent

    &:last-child
      border-bottom-right-radius: 13px

    &:nth-child(n+1)
      border-top: 2px solid transparent

// .paneport
//   position: relative
//   min-height: 33%
//   background-color: $panel
//   flex: 1
//   flex-direction: column
//   display: flex
//   border-left: 2px solid transparent
//   justify-content: flex-end
//   transition: background .7s

//   &.active
//     background: $pane-active-bg

//     // Separator
//     &:before
//       position: absolute
//       content: ''
//       top: 0
//       left: -6px
//       bottom: 0
//       width: 4px
//       background: $accent-dark
//       border-left: 1px solid transparent
//       z-index: 10

//     // Arrow
//     &:after
//       position: absolute
//       content: ''
//       width: 10px
//       height: 10px
//       top: 48%
//       left: -24px
//       border-top: 4px solid $accent-dark
//       border-right: 4px solid $accent-dark
//       z-index: 10
//       transform: rotate(45deg)

  .message-tray
    position: relative
    height: 100%
    display: block
    overflow: hidden

  .chat-input
    background: none
    visibility: hidden








