#ChatContainer
  display: flex
  flex: 1 0


#ChatCommander
  z-index: 1
  min-height: 30px
  display: flex
  flex-direction: column
  justify-content: center
  overflow: hidden

#MainWindow
  display: flex
  flex: 1 0
  flex-direction: column
  min-width: 400px

  #MainPort
    position: relative
    // background-color: hsla(0, 100%, 100%, 0.06 / $golden-ratio)
    background-clip: padding-box
    border-left: 2px solid transparent
    border-top: 2px solid transparent
    border-top-left-radius: 7px
    flex: 1 1 0
    flex-direction: column
    display: flex
    justify-content: flex-end
    overflow: hidden
    z-index: 1

    .message-tray
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      padding-right: 5px
      margin-right: 2px
      overflow-x: auto
      display: block