template
  div.modal-container
    aside.modal.changelog
      header

      section.modal-content
        ul.additions
        ul.changes
        ul.fixes
      a.modal-close(href='javascript:void(0)') &#10060;