template
  div.modal-container
    aside.modal.invite
      header
      section.modal-content
        input.invite-input(type='text')
        div.error-container
          div.error
        button.submit Submit
      a.modal-close(href='javascript:void(0)') &#10060;