//- Main Layout for all Modals
template
  div.modal-container
    aside.modal.login
      header
      section.modal-content
        include ./includes/login.jade
        
      a.modal-close(href='javascript:void(0)') &#10060;