.app-footer {
  display         : flex;
  width           : 100%;
  margin-top      : 25vh;
  flex            : 1 0;
  flex-direction  : column;
  text-align      : center;
  justify-content : center;
  font-weight     : 400;
  background      : var(--sub-panel-c);
  box-shadow      : 0 -10px 7px -1px var(--footer-bxs-c); }
  .app-footer::before {
    top: 0; left: 0; right: 0;
    height        : 3px;
    content       : '';
    background    : var(--panel-c);
    border-bottom : 1px solid black; }
  .app-footer::after {
    bottom: 0; left: 0; right: 0;
    position      : absolute;
    content       : '';
    height        : 3px;
    background    : var(--app-ribbon-c);
    border-top    : 1px solid black;
    border-bottom : 1px solid black; }

.app-footer__version {
  padding-top : 3px;
  font-weight : 400;
  font-size   : 2rem;
  text-shadow : 1px  1px 0 black,
               -1px -1px 0 black,
                2px  2px 0 black,
                3px  3px 0 black; }
  .app-footer__version sup {
    vertical-align : super;
    font-size      : 1.15rem;
    color          : hsl(47, 100%, 70%);
    text-shadow    : none; }
  .app-footer__version sub {
    vertical-align : sub;
    font-size      : 1rem;
    font-family    : 'Consolas', 'Courier New', Courier, monospace;
    color          : var(--body-c); }
    .app-footer__version sub a:link,
    .app-footer__version sub a:visited,
    .app-footer__version sub a:active {
      color           : var(--body-c);
      text-decoration : underline;
      transition      : color 0.3s; }
    .app-footer__version sub a:hover
      { color: var(--footer-copyright-link-hov-c); }

.app-footer_copyright {
  padding     : 0px 0 20px 0;
  font-size   : 0.87rem;
  color       : var(--footer-copyright-c);
  text-shadow : 1px 1px 0 black,
                2px 2px 0 black; }
  .app-footer_copyright a:link,
  .app-footer_copyright a:visited {
    display         : inline-block;
    margin          : 5px 0;
    color           : var(--footer-copyright-link-c);
    text-shadow     : none;
    text-decoration : underline;
    transition      : color .3s, border .3s; }
  .app-footer_copyright a:hover {
    color        : var(--footer-copyright-link-hov-c);
    border-color : var(--footer-copyright-link-hov-c); }




