.title-bar {
  position         : sticky;
  top              : 0;
  padding          : 0.45rem 0 0.3rem 0;
  color            : var(--app-titlebar-c);
  font-size        : 1.7rem;
  font-weight      : 300;
  text-align       : center;
  background-color : var(--sub-panel-c);
  box-shadow       : 0 10px 8px -3px black;
  overflow         : visible;
  z-index          : 5;
}
.title-bar__text {
  padding-right: 5px;
}
.title-bar__menu-icon {
  position   : absolute;
  top        : 0.45rem; left: 10px;
  font-size  : 2rem;
  color      : var(--app-titlebar-icon-c);
  opacity    : 1;
  z-index    : 2;
  cursor     : pointer;
  text-shadow: 2px 2px 1px black;
  transition : opacity .3s, color .3s;
}
.title-bar__menu-icon:hover {
  color: var(--app-titlebar-icon-hov-c);
}
.title-bar__menu-icon.--menu-open {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}