@import '../../../../styles/variables'

.commander
  #cmdbox
    position: relative
    margin-left: 3px
    margin-top: 4px
    padding: 10px 5px 8px 10px
    +font-size(18)
    font-family: 'Cousine'
    color: hsl(220, 30%, 70%)
    background-color: hsl(278, 35%, 25%)
