@import '../../../../styles/variables'

.commander
  #cmdbox
    position: relative
    margin-left: 3px
    margin-top: 2px
    padding: 10px
    font-size: 20px
    font-family: 'Source Code Pro'
    color: hsl(220, 30%, 65%)
    background-color: hsl(0, 0%, 14%)
