
- var hisChildren = "<em>Isn't it about time we started acting like His children?</em>";
- var rules = "<a href='#/rules'>Rules</a>";
- var faq = "<a href='#/faq'>FAQ</a>";
- var email = "<span id='Email' mousedown.delegate='test($event)'>Click Here</span>";
template
  section.optiscroll-content
    article.home.optiscroll-content.au-animate(role='about')
      p.
       Oh, well hello there! This little web space is called Amenaeble. It seeks to be
       a port (as in "sea port") or refuge to those looking for a place to call home.
       If you need a guiding hand, a little laughter, or maybe a good kick in the pants,
       you'll find it here. You will need to know a few things before you can join.

      p.
       Firstly, you need an invite. Now that doesn't mean we only accept people who we know.
       This wouldn't be much of a port if we only added people from the existing city right?
       Secondly, you should have a belief in God - I refer to Him as the Father. Lastly, you
       should have an understanding of the Sabbath. If you've read this far, you must be somewhat
       curious, so here's my email for future reference: !{email}.

      p.
       If you would like an invite, please sell yourself in an email...not like THAT. You just need to
       provide your motivations for needing a home away from home. Amenaeble is a family dedicated
       to each-other. It lives and breathes because YOU, live and breathe. It has no expectations of
       you other than to be the best version of yourself. Obviously we can't be "the best" all the
       time, but we strive for that ideal. Amenaeble is about sharing ourselves, even if we're
       falling apart. When we're in despair mentally, emotionally, or physically, it's easy to
       assume no one cares or you don't want to be a burden, but this family takes care of its own.
       Our Father never turns a blind eye, why should we?

      p.
       On the flip side of things, Amenaeble is also about discussion and debate. The scriptures
       are an incredible source of wisdom and interpretation. Because of their interpretive nature,
       everyone has an opinion on what is "Truth". I don't know about you, but I want to know what
       my Father expects of me. The only way to find that out is to search. We all have our
       different methods, but I'd like to think if we have a singular place to compile the wisdom
       of our members, we just might get that much closer to the coveted "Truth" we've all been
       seeking. I, for one, have a heart-size hole in my chest for lack of substance in my life.
       I'm excited to get to know the Amenaeble family.

      p.
       If this sounds like a place you might want to join, go ahead and read the !{rules} and
       !{faq} sections. For anyone confused about the Sabbath, the 7th day Sabbath is Saturday.
       It should be set apart from other days for rest and relations with the Father. I'll be
       happy to answer any qestions you might have ... about anything really, so email me.