template
  section.optiscroll-content
    article.home.optiscroll-content.au-animate(role='about')
      p Hi, my name is Aedaeum (A.K.A Jason). I created this web app to bring Sabbath &amp; Holy Day-keeping believers together.
        |This was in hopes to provide a discussion-based vanue for those of use who are ever searching for 
        |#[em Truth (capital "T")] and have a desire to safely share, edify, and encourage one another as we await 
        |the fullfillment of God's plan. Previously, I was in the process of designing a single's chat app 
        |that would have catered to more of the general public, but then it was brought to my attention that a 
        |Singles connection site for the church of God (my old church) was soon closing down. Until then, it had
        |never crossed my mind to reach out to the scattered people of God.
        
      p Now I don't want to involve myself with the specifics of any particular group of believers, but want to 
        |concentrate on the fundamnetal concepts of morality, spiritualiy, faith, and philosophy. I don't know 
        |of any other available service which lends itself to an open, intimate, real-time discussion for God's 
        |people. I don't want to discourage anyone from discussing their belief or questions about religion in 
        |general. I want this site to be open-ended. I believe the Truth will reveal itself to those who 
        |are actively thirsting for it.
        
      p I think we can all agree that we need a respite, albeit virtual, from this world's deceptive and 
        |destructive ways. Let's discuss, debate, encourage, and redefine what it means to love and understand. 
        |Out of the desire for these qualities, I've created this chat platform to facilitate your needs on 
        |any divine topic you wish to discuss. I want this place to be a family of like-minded soldiers, 
        |if you will.
        
      p Now, there will also be a Singles Connection section available on this site, but I'm not going to 
        |apply any fancy algorithms to find a "perfet match". I'm a firm believer that God is quite capable 
        |of bringing those who need to be together, as one - no strings attached. I will strive to make 
        |this a safe place. Those looking for a casual friendship or those looking for love should have 
        |equal options.
        
      p Above all, this is a family friendly community. Any inappropriate discussions or links, will result 
        |in a "silence" #[em (See FAQ section for more on this action)]. And lastly, no one, and nothing 
        |should be taken too seriously to the point of creating conflict between our members. We are all 
        |in this life to learn. Any passing of judgment will not be tolerated, for that is reserved for God, 
        |not us; #[em for no one knows the heart except God].
