
- var hisChildren = "<em>Isn't it about time we started acting like His children?</em>";
- var rules = "<a href='#/rules'>Rules</a>";
- var faq = "<a href='#/faq'>FAQ</a>";
template
  section.optiscroll-content
    article.home.optiscroll-content.au-animate(role='about')
      p.
       Welcome, this site is dedicated to what the Sabbath represents to those of us
       who are faithful children of our Father in Heaven. It is the mission of this
       site to be a refuge for the scattered sheep in this world. We have a duty
       to stay connected to one another, just as He has stayed conntected to us.
       #[em We are His family].

      p.
       My name is not important and therefore you may call me Aedaeum. I will only
       represent the enforcement of proper conduct on the site. I am human and fallible
       just like everyone. What truth I understand is conjecture at best, so I
       will be more than happy to broaden my perspective with an open mind to all
       of you. I ask you to do the same; you must keep an open mind and
       heart to His brethren. I will try my best to uphold this standard. I don't expect
       any miracles of revelation or perfect harmony among the members, but I do
       look forward to the camaraderie born from like-minds.
       !{hisChildren}

      p.
       If this sounds like a place you might want to join, go ahead and read the !{rules} and
       !{faq} sections. Anyone who believes in the Sabbath is welcome here. The Sabbath, being
       that one day a week (Saturday) which the Father set apart from all other days. I also
       welcome those who are fervently seeking about these matters.