- var about = "<a href='#/about'>About</a>"

template
  section.optiscroll-content
    article.faq.au-animate(role='FAQ')
      input(type='text', placeholder='Search', keyup.delegate='seek($event)')

      div.qablock
        div.question Why did you create this site?
        div.answer You should check out the !{about} page.


      div.qablock
        div.question Who are you?
        div.answer Who I am doesn't really matter. I explain about this on the !{about} page.
                  |If you must know, I'm simply a guy wanting to give back to my Father. You
                  |could say I'm trying to be considerate to His will, in that I want my life
                  |to reflect his will to the best of the ability He gave me. If he blesses this
                  |work, then I know He has acknowledged His will in this work.


      div.qablock
        div.question What makes you think you can claim anything is Gods will?
        div.answer I don't claim any such things. Just like you, I only have my experience
                  |to pull from. If I perceive something as "Gods will" it's my own opinion
                  |and in no way, shape, or form a "claim" to Truth. I don't claim anything
                  |other than to do my best to get as close to Him as I can. He gave me these
                  |gifts and therefore I am using them to connect His people.


      div.qablock
        div.question What do you get out of this site?
        div.answer If God blesses this site, then I will be earning a living. If he doesn't,
                  |then I have to continue to figure out what He expects of me.


      div.qablock
        div.question What is a living?
        div.answer A living, in my opinion, is not merely an existence, but having a real,
                  |full, life...a life about His will and His people. Hopefully also
                  |someone to call my own.