template
  section.optiscroll-content
    article.home.au-animate(role='rules')
      div.rules-container.content
        span.rule Love
        span.def One rule to "Rule" them all. #[em Show Love for one another];
                |if you do this, then other rules become unnecessary. However, if you're a little rusty
                |when it comes to dealing with other people, go ahead and keep reading.

      div.rules-container.content
        span.rule Language
        span.def Discussions conducted out of anger or with the intent to offend will be met
                |with a temporary "silence", depending on the severity of the offense.
                |#[em (See FAQ section for more info on this action)].#[br]#[br]
                |Currently, English will be the only accepted language. However, if two people wish to
                |have a conversation in another language, it should be done through the private chat channel

      div.rules-container.content
        span.rule Linking
        span.def #[b 1.] Any links posted should be limited to informational material
                |(Theology, news, philosophy, etc...) and family-friendly images.#[br]#[br]
                |#[b 2.] Please report any inappropriate content to the moderator.

