template
  section.optiscroll-content(class='${router.isNavigating ? "hidden" : "visible"}')
    article.home.au-animate(role='rules')
      div.rules-container.content
        span.rule Love
        span.def.
          One rule to "Rule" them all. #[em Show Love for one another];
          if you do this, then other rules become unnecessary. However, if you're a little rusty
          when it comes to dealing with other people, go ahead and keep reading.

      div.rules-container.content
        span.rule Language
        span.def.
          #[b 1a)] Offending members or provoking members to anger is explicity forbidden.#[br]#[br]
          #[b 2a)] All our members have a right to be as anonymous as they wish. Provoking a member
                    to divulge personal details about themselves is explicitly forbidden.#[br]#[br]
          #[b 3a)] English is the only allowed language. If 2 or more members wish to speak in a
                    language other than English, they may do so in their own channel or through
                    private chat.#[br]#[br]
          #[b &nbsp;b)] Using a language barrier to speak provocatively, is explicitly forbidden.#[br]

      div.rules-container.content
        span.rule Linking
        span.def.
          #[b 1a)] All links should be constructive and non-provocative.#[br]#[br]
          #[b 2a)] All images should be appropriate for the channel they're posted in.#[br]#[br]
          #[b &nbsp;b)] Images that are provocative or NSFW, should not be linked,
                        talked about, or hinted at in any way.#[br]#[br]
          #[b &nbsp;c)] A provocative or NSFW image may be discussed, or in some cases linked, #[b ONLY] if
                        the context of the discussion warrants it. In such a case, the image (if linked) must be
                        behind spoilers.#[br]#[br]
          #[b &nbsp;d)] Any provocative or NSFW images that are illegal or potentially illegal are
                        explicitly forbidden, regardless of the context of a discussion.


      div.rules-container.content
        span.rule Fun
        span.def.
          You should enjoy yourself. There's no reason not to enjoy talking to like-minded people
          whom love and want the same or similar things in life as you do. This should be the gauge that
          decides if you stay or go.#[br]#[br]

          If we're causing others to become negative or if we're only able to express negativity,
          then we need to remove ourselves from the conversation/debate and figure out what we
          need to change or understand to move forward.#[br]#[br]

          If you need someone to talk to, contact an admin or moderator; they are more than just
          police, they're arbiters for your well being. Now, not all issues can be resolved,
          but know you've got permanent friends who care about you very specifically.#[br]#[br]

          I'd like to think we can take our Fathers example to heart;
          #[em God so loved the world that he gave his only begotten son].
          Don't you think it's our duty to at least attempt a fraction of this kind of selfless love
          towards each other?

      div.rules-container.content
        span.rule Disclaimer
        span.def.
          Noumenae and associated persons do not assume any responsibility for the content that
          its members post. All members accept full responsibility for their actions and content
          on this site. Noumenae and associated persons will not be liable or responsible in any
          way for member generated content or for damages of any kind, including, but not limited
          to, physiological or psychological, incurred as a result of the use of or reliance on
          member generated content.

  div.cssload-container(if.bind='router.isNavigating')
    div.cssload-circle
    div.cssload-circle