template
  section.optiscroll-content
    article.home.au-animate(role='rules')
      div.rules-container.content
        span.rule Love
        span.def.
            One rule to "Rule" them all. #[em Show Love for one another];
            if you do this, then other rules become unnecessary. However, if you're a little rusty
            when it comes to dealing with other people, go ahead and keep reading.

      div.rules-container.content
        span.rule Language
        span.def.
            Discussions conducted out of anger or with the intent to offend will be met
            with a temporary "silence", depending on the severity of the offense.
            #[em (See FAQ section for more info about user conduct)].#[br]#[br]
            Currently, English will be the only accepted language. However, if two people wish to
            have a conversation in another language, it should be done through private chat.

      div.rules-container.content
        span.rule Linking
        span.def.
            #[b 1a/] All links should be contructive and non-provacative.#[br]#[br]
            #[b 2a/] All images should be appropriate for the channel they're posted in.#[br]#[br]
            #[b 2b/] Obviously images that are #[b NOT] family-friendly or #[b ARE] NSFW, should not be linked,
            talked about, or hinted at in any way.


      div.rules-container.content
          span.rule Fun
          span.def.
              You must enjoy yourself. There's no reason not to enjoy talking to like-minded people
              whom love and want the same or similar things in life as you do. This should be the gauge that
              decides if you stay or go.#[br]#[br]
              If we're causing others to become negative or if we're only able to express negativity,
              then we need to remove ourselves from the conversation/debate and figure out what we
              need to change or understand, to move forward.#[br]#[br]
              If you need someone to talk to, contact an admin or moderator; they are more than just
              police, they're arbiters for your well being, if you let them. Now, not all issues
              can be resolved, but know you've got permanent friends who want you to enjoy yourself
              and who care about you, very specifically.#[br]#[br]
              I'd like to think we can take our Fathers example to heart;
              #[em God so loved the world that he gave his only begotten son].
              Don't you think it's our duty to at least attempt a fraction of this kind of selfless love
              towards each other?

