template
  section#Settings
    h1 modify your settings
    input(type='text' value='#{session.alias}')
    input(type='text' value='#{session.email}')
    input(type='password' placeholder='Password')
    input(type='password' placeholder='Confirm')