/*** 711px ***/
@media only screen and (max-width: var(--screen-large)) {
  .blog-entry { max-width: 93%; }
}
/*** 511px ***/
@media only screen and (max-width: var(--screen-medium)) {
  .blog-entry__title {
    padding-bottom: 7px;
    font-size: 1.5rem;
  }

  .blog-entry__snippet {
    max-width: 99%;
    padding-top: 7px;
    font-size: 1.08rem;
  }
  .blog-entry__date,
  .blog-entry__time {
    font-size: 1.05rem;
  }
}
/*** 380px ***/
@media only screen and (max-width: var(--screen-small)) {
  .blog-entry          { max-width: 99%;    }
  .blog-entry__title   { font-size: 1.3rem; }
  .blog-entry__snippet { font-size: 1rem;   }
}
/*** 320px ***/
@media only screen and (max-width: var(--screen-tiny)) {
}