.blog_header {
  padding         : 0.5rem 0 0.7rem 0;
  margin          : 0 0 7px 0;
  font           : 2rem 'Nunito';
  font-weight    : 400;
  text-align     : center;
  letter-spacing : 1px;
  color          : hsl(197, 9%, 75%);
}
.blog_header span {
  border-bottom: 2px dashed hsl(0, 60%, 63%);
  opacity: 0.8;
}