.blog .--no-entries {
  margin: 100px auto;
  padding-bottom: 700px;
  font-size: 2rem;
  color: hsl(47, 80%, 63%);
  text-align: center;
}

.blog-entries {
  display        : flex;
  margin-top     : 1rem;
  margin-bottom  : 50%;
  flex           : 1 0;
  align-items    : center;
  flex-direction : column;
  user-select    : none;
}

.blog .preloader {
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 1000px;
  width: 200px;
  height: 200px;
}

.blog-entry {
  margin-bottom    : 1rem;
  background-color : var(--blog-entry-bg-c);
  min-width        : 75%;
  max-width        : 75%;
  border-radius    : 10px;
  text-align       : center;
  box-shadow       : 0 10px 7px -5px hsla(0, 0%, 0%, 0.4);
  cursor           : pointer;
  transition       : background .3s;
}
.blog-entry:hover {
  background-color: var(--blog-entry-bg-hov-c);
}

.blog-entry__title {
  padding        : 15px;
  color          : var(--blog-entry-title-c);
  font-size      : 1.7rem;
  font-weight    : 300;
  text-transform : capitalize;
  letter-spacing : 1px;
  transition     : color .3s;
}
.blog-entry:hover .blog-entry__title {
  color: var(--blog-entry-title-hov-c);
}

.blog-entry__date,
.blog-entry__time {
  display        : inline;
  font-size      : 1.15rem;
  font-variant   : small-caps;
  font-weight    : 400;
  color          : var(--blog-entry-stat-c);
  letter-spacing : 1px;
  transition: color .3s;
}
.blog-entry__date + .blog-entry__time {
  margin-left: 20px;
}
.blog-entry:hover .blog-entry__date,
.blog-entry:hover .blog-entry__time {
  color: var(--blog-entry-hov-stat-c);
}

.blog-entry__icon {
  top            : 0.1rem;
  margin-right   : 7px;
  vertical-align : baseline;
  color          : var(--blog-entry-icon-c);
  transition     : color .3s;
}
.blog-entry:hover .blog-entry__icon {
  color: var(--blog-entry-hov-icon-c);
}

.blog-entry__summary {
  margin        : 0 auto;
  margin-bottom : 15px;
  padding       : 15px 10px 5px 10px;
  max-width     : 95%;
  text-align    : left;
  border-radius : 10px;
  font-size     : var(--md-f-sz);
  font-weight   : 300;
  overflow      : hidden;
  transition: color .3s;
}
.blog-entry__summary > p {
  box-shadow: none
}
.blog-entry:hover .blog-entry__summary {
  color: var(--blog-entry-hov-sum-c);
}

.blog-entry__author {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 95%;
  padding-left: 10px;
  font-size: var(--md-f-sz);
  color: hsl(47, 60%, 63%);
  font-weight: 400;
  text-align: left;
  text-shadow: 1px 1px 0 black,
               2px 2px 0 black;
}
.blog-entry__author.ethan {
  color: hsl(0, 100%, 68%);
}
.blog-entry__author-icon {
  top: 3px;
  color: var(--blog-entry-icon-c);
  transition: color .3s;
}
.blog-entry:hover .blog-entry__author-icon {
  color: var(--blog-entry-hov-icon-c);
}

.blog-display {
  padding-bottom: 50%;
}

.blog-display_image-header {
  display      : block;
  max-width    : 1024px;
  margin       : 25px auto 0 auto;
  padding      : 7px 13px;
  padding-left : 17px;
  line-height  : 27px;
}

.blog-display_image-header img {
  max-width: 100%;
  box-shadow: 0 0 10px 8px hsla(0, 0%, 0%, 0.4);
}
