.blog__entries {
  display        : flex;
  margin-top     : 7px;
  flex           : 1 0;
  align-items    : center;
  flex-direction : column;
  text-align     : center;
  color          : white;
  user-select    : none;
}

.blog__entry {
  margin-bottom    : 1rem;
  background-color : var(--sub-panel-c);
  border-radius    : 10px;
  min-width        : 75%;
  max-width        : 75%;
  cursor           : pointer;
  transition       : background .3s ease;
}
.blog__entry:hover {
  background-color: var(--sub-panel-hov-c);
}

.blog_title {
  padding        : 15px;
  color          : hsl(30, 82%, 67%);
  font           : 1.8rem 'Nunito';
  font-weight    : 300;
  letter-spacing : 1px;
  transition     : color .3s ease;
}
.blog__entry:hover .blog_title {
  color: hsl(30, 100%, 80%);
}

.blog_date, .blog_time {
  display        : inline;
  font           : 1.15rem 'Nunito';
  font-variant   : small-caps;
  color          : hsl(199, 7%, 55%);
  letter-spacing : 1px;
}
.blog_date + .blog_time {
  margin-left: 20px;
}

.blog_icon {
  top            : 0.15rem;
  margin-right   : 7px;
  vertical-align : baseline;
  color          : hsl(198, 12%, 66%);
}

.blog_snippet {
  margin        : 0 auto;
  margin-bottom : 15px;
  padding       : 15px 0;
  height        : 6.8rem;
  max-width     : 95%;
  text-align    : left;
  border-radius : 10px;
  font-family   : 'Nunito';
  font-size     : var(--md-f-sz);
  font-weight   : 300;
  overflow      : hidden;
}
.blog_snippet > p {
  box-shadow: none
}
.blog__entry:hover p {
  color: var(--md-pg-hov-c);
}
.blog__entry:hover p i,
.blog__entry:hover p em {
  color: var(--md-pg-hov-i-c);
}
.blog__entry:hover p b,
.blog__entry:hover p strong {
  color: var(--md-pg-hov-b-c);
}
.blog__entry:hover .blog_snippet > p {
  background-color: var(--sub-panel-hov-c);
}
/* Blog Content Snippet Overlay */
.blog_snippet::before, .blog_snippet::after {
  top: 0; bottom: 0; left: 0; right: 0;
  position   : absolute;
  content    : '';
  background : linear-gradient(to bottom, hsla(197, 22%, 10%, 0) 35%, var(--sub-panel-c) 95%);
  z-index    : 5;
  transition : opacity .3s ease;
}
.blog_snippet::after {
  opacity: 0;
  background: linear-gradient(to bottom, hsla(33, 11%, 16%, 0) 35%, var(--sub-panel-hov-c) 95%);
}
.blog__entry:hover .blog_snippet::before { opacity: 0; }
.blog__entry:hover .blog_snippet::after  { opacity: 1; }

