@import '../../../../styles/variables'

.commander
  #cmdbox
    position: relative
    margin-left: 3px
    margin-top: 4px
    padding: 8px 5px 6px 7px // Check firefoxfixes
    +font-size(20)
    font-family: 'Cousine'
    color: hsl(0, 0%, 80%)
    background-color: hsl(0, 0%, 20%)
    transition: background .3s ease, color .3s
  .suggestion
    color: hsl(278, 40%, 73%)
