
.error-container
  text-align: center

  h1,
  h2
    margin-top: 20px
    font-family: 'Comfortaa'
    font-weight: 300
    font-variant: small-caps
    letter-spacing: 2px
    word-spacing: 2px
    font-size: 28px
    color: hsl(50, 90%, 60%)

    span
      position: relative

    .fail
      top: 10px
      color: hsl(324, 100%, 75%)

    .info
      top: -10px
      color: hsl(126, 70%, 70%)

  h2
    font-size: 18px
    margin-top: 30px
    color: hsl(0, 70%, 70%)

  img
    margin-top: 20px



