.support

.support__patreon {
  display: flex;
  margin: 2rem auto !important;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
:root { --patreon-width: 200px; }
.support__patreon img,
.support__patreon a {
  border-bottom: 1px solid hsl(357, 100%, 63%);
  width: var(--patreon-width);
  height: calc(var(--patreon-width) * 0.20);
}

.support__after-header { margin-top: 0; }

.support__button {
  display: block;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}