.home
  position: relative
  display: flex
  opacity: 1
  -ms-flex-direction: column
  flex-direction: column
  overflow-x: auto
  margin: 0 auto
  transition: all .15s linear
  transform: translateZ(0)

#Welcome
  border-left: 6px solid transparent

  p
    margin-bottom: 7px
    margin-right: 11px

    &:last-child
      margin-bottom: 50px