.chat
  position: relative
  display: flex
  height: 100%
  flex-direction: column
  .top-wrapper
    display: flex
    flex-direction: row
    flex: 1

@import '../../styles/variables'
@import 'components/commander/commander'
@import 'components/userlist/userlist'
@import 'components/display/display'
@import 'components/message/message'