
- var hisChildren = "<em>Isn't it about time we started acting like His children?</em>";
- var rules = "<a href='#/rules'>Rules</a>";
- var faq = "<a href='#/faq'>FAQ</a>";
- var email = "<span id='Email' mousedown.delegate='decode($event)'>Click Here</span>";
- var noumenae = "<a href='#/faq/noumenae'>Here</a>"
template
  require(from='../../resources/value-converters/markdown-format')
  article.home.au-animate(
    class='${isAttached ? "page-in" : "g-hidden"}'
    role='about'
    innerhtml.bind='text | markdown')