
template
  require(from='../../resources/value-converters/markdown-format')
  article.home.au-animate(
    class='${isAttached ? "page-in" : "g-hidden"}'
    role='about'
    innerhtml.bind='text | markdown')