template
  section.blog-container
    div.preloader(style.bind='isLoading ? "" : "display: none"')
    div.optiscroll(ref='eOptiscroll')
      div.dev-blog.optiscroll-content(
        class.bind='isLoading ? "" : "is-loaded"'
        ref='devBlog'
      )
