template
  section.changelog.optiscroll-content
    section.compartment(repeat.for='section of sections')
      label.title ${section.date}
      article
        ul.additions(if.bind='section.additions.length')
          li ${section.additions[0]}...

        ul.changes(if.bind='section.changes.length')
          li ${section.changes[0]}...

        ul.fixes(if.bind='section.fixes.length')
          li ${section.fixes[0]}...
