template
  section.changelog.optiscroll-content
    section.compartment(repeat.for='section of sections')
      label.title ${section.date}
      article
        ul.additions(if='section.additions.length')
          li(repeat.for='add of section.additions') ${add}

        ul.changes(if='section.changes.length')
          li(repeat.for='chg of section.changes') ${chg}

        ul.fixes(if='section.fixes.length')
          li(repeat.for='fix of section.fixes') ${fix}

