
template
  div#F403.error-container(data-poo=remoteIP, data-session=session)
    h1 you do #[span.fail not] have access to this #[span.info resource]
    h2 your ip #[span.info #{remoteIP}] has been #[span.fail logged]