
doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='../css/static.css')
    title 404 Not Found
  body
    div#F404
      h1 ooo that #[span.info tickles]
      h1 #[span.fail no] #[span.info page] here