
doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='/css/static.css')
    title 404 Not Found
  body
    div#F404
      h1 Were you #[span.fail looking] for #[span.info something,] hmm?