$panel: hsl(0, 0%, 14%)
$h1-color: hsl(50, 50%, 50%)

$golden-ratio: 1.61803

$info: #90c7de
$attention: hsl(52, 63%, 60%)
$neutral: gray

=text-outline($sz, $clr)
  text-shadow: 1px 0 $sz $clr, 0 1px $sz $clr, -1px 0 $sz $clr, 0 -1px $sz $clr, -1px -1px $sz $clr, 1px 1px $sz $clr