@import '_base'

$win-divider-border-color = transparent
$win-bg-color = #333333
$userlist-user-color = #c0c0c0
$pane-active-bg = hsla($white-trans, .3)

$msg-link-color = red
$msg-link-hover-color = blue
$msg-verse-link-color = #ff9cd2

$msg-info = $info
$msg-attention = $attention
$msg-neutral = $neutral


$chat-input-color = $head-1-color
$msg-color = #ccc
$msg-username-color = $info
$msg-username-text-shadow = none
$msg-timestamp-color = gray
$msg-realtime-color = gray
$msg-avatar-color = $msg-color
$msg-avatar-border-color = black

$server-username-color = #ffb180
$server-username-text-shadow = none
$server-msg-color = $info
$server-msg-textshadow = none
$server-msg-bullet-textshadow = none

$client-username-color = #aaaaaa
$client-msg-color = gray
$client-bullet-color = #cccccc
$client-bullet-outline = black
$client-text-shadow = none

$emote-username-color = $info
$emote-icon-color = #b79c24
$emote-msg-color = #aaa
$emote-msg-bullet-textshadow = none

$inline-username-color = $emote-username-color
$inline-msg-color = $emote-username-color
$inline-msg-bullet-textshadow = none
$inline-msg-textshadow = none
