@import '_base'

$win-bg-color = #333333
$userlist-user-color = #c0c0c0
$pane-active-bg = hsla($white-trans, .3)

$msg-link-color = red
$msg-link-hover-color = blue
$msg-verse-link-color = hsl(327.2, 100%, 80.6%)

$msg-info = $info
$msg-attention = $attention
$msg-neutral = $neutral


$chat-input-color = $head-1-color
$msg-color = hsl(0, 0%, 80%)
$msg-username-color = $info
$msg-username-text-shadow = none
$msg-timestamp-color = hsl(0, 0%, 50.2%)
$msg-realtime-color = gray
$msg-avatar-color = $msg-color
$msg-avatar-border-color = black

$server-username-color = hsl(23.1, 100%, 75.1%)
$server-username-text-shadow = none
$server-msg-color = $info
$server-msg-textshadow = none
$server-msg-bullet-textshadow = none

$client-username-color = hsl(0, 0%, 66.7%)
$client-msg-color = hsl(0, 0%, 50.2%)
$client-bullet-color = hsl(0, 0%, 80%)
$client-bullet-outline = black
$client-text-shadow = none

$emote-username-color = hsl(278, 70%, 83%)
$emote-icon-color = hsl(49, 67.2%, 43%)
$emote-msg-color = hsl(50, 50%, 60%)
$emote-msg-bullet-textshadow = none

$inline-username-color = $emote-username-color
$inline-msg-color = $emote-username-color
$inline-msg-bullet-textshadow = none
$inline-msg-textshadow = none
