@import '_base'

$watermark-bg-color = hsl(0, 0%, 9%)
$watermark-color = hsl(0, 0%, 30%)
$watermark-border-color = hsl(0, 0%, 20%)
$watermark-boxshadow-color = black
$watermark-hover-color = hsl(50, 50%, 30%)