
::selection {
  background: var(--selection-bg-c);
}
::-moz-selection {
  background: var(--selection-bg-c);
}


.app {
  display    : flex;
  flex-flow  : column;
  min-height : 100%;
}

.app-container {
  position: relative;
}

.app-ribbon {
  top: 0; left: 0; right: 0;
  position     : sticky;
  margin-right : 7px;
  display      : block;
  height       : 3px;
  box-shadow   : 0 4px 5px 1px black;
  background   : var(--app-ribbon-c);
  z-index      : 5;
}

.app-header {
  top: 0; left: 0;
  height           : 8rem;
  margin-right     : 7px;
  border-bottom    : 3px solid var(--panel-c);
  background-color : var(--body-bg-c);
  box-shadow       : 0 4px 5px -1px black;
}
.app-header__title {
  top        : 10px; left: 0; right: 0; bottom: 0;
  position   : absolute;
  margin     : 0 auto;
  text-align : center;
  color      : var(--app-head-c);
  font-size  : var(--app-head-f-sz);
  font-family: 'Pique N Meex';
  text-shadow: 1px 1px 0 black,
               2px  0  0 black,
                0  2px 0 black,
               3px 3px 0 black,
               4px 4px 0 black,
               5px 5px 0 black;
}


.app-body {
  margin    : 0 5px 0 0;
}
.app-body__content {
  display        : flex;
  left           : 0;
  margin         : 0 auto;
  flex           : 1 0;
  flex-direction : column;
  overflow       : visible;
  transition     : left 0.5s,
                   opacity 0.5s,
                   background 0.5s;
}
.app-body__content.--menu-open {
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}



