/*** 711px ***/
@media only screen and (--large-screen) {
  .blog-entry { max-width: 93%; }
}
/*** 511px ***/
@media only screen and (--medium-screen) {
  .blog-entry__title {
    padding-bottom: 7px;
    font-size: 1.5rem;
  }

  .blog-entry__summary {
    max-width: 99%;
    padding-top: 7px;
    font-size: 1.08rem;
  }
  .blog-entry__date,
  .blog-entry__time {
    font-size: 1.05rem;
  }
}
/*** 380px ***/
@media only screen and (--small-screen) {
  .blog-entry          { max-width: 98%; margin-left: 5px; }
  .blog-entry__title   { font-size: 1.3rem; }
  .blog-entry__summary { font-size: 1rem;   }
  .blog-entry__author  { max-width: 99%; font-size: 1.05rem;   }
  .blog-entry__date,
  .blog-entry__time {
    font-size: 0.95rem;
  }
}
/*** 320px ***/
@media only screen and (--tiny-screen) {
}