.markdown.md-changelog blockquote:hover li {
  background-color: #201924;
  color: #adadad;
}

.markdown.md-changelog blockquote:hover li strong {
  color: #c4c4c4;
}

.markdown.md-changelog blockquote:hover li em {
  color: #d3b3e6;
}

.markdown.md-changelog blockquote:hover li em strong {
  color: #d2c479;
}

.markdown.md-changelog blockquote:hover li a {
  color: #adadad;
  border-color: #d3b3e6;
}

.markdown.md-changelog blockquote:hover li a:hover {
  color: #ccbb66;
}

.markdown.md-changelog blockquote:hover li code {
  background: #523960;
  color: #cfc2d6;
}

.markdown.md-changelog h1 {
  margin: 10px 0 0 44px;
  padding: 3px 13px 5px;
  display: inline-block;
  color: #cb93ec;
  line-height: 20px;
}

.markdown.md-changelog h1:first-child {
  margin-top: 15px;
}

.markdown.md-changelog blockquote {
  margin: 0 0 44px 50px;
  background: #212121;
  width: 89%;
}

.markdown.md-changelog blockquote:last-child {
  margin-bottom: 150px;
}

.markdown.md-changelog blockquote li {
  margin-top: 7px;
  padding: 15px 8px 15px 15px;
  transition: background 0.3s, color 0.3s;
}

.markdown.md-changelog blockquote li:first-child {
  margin-top: 10px;
}

.markdown.md-changelog blockquote:hover {
  background: #2d2433;
}

.markdown.md-changelog blockquote:hover code {
  color: #d3b3e6;
  background: #443050;
}

.markdown.md-changelog ul {
  width: 107%;
  padding-left: 5px;
  list-style-type: none;
}

.markdown.md-changelog li {
  position: relative;
  top: -7px;
  left: -30px;
  padding: 7px 10px;
  margin: 0;
  color: #999999;
  font-size: 1.25rem;
  font-family: 'Nunito';
  font-weight: 300;
  line-height: 27px;
  background-color: #191919;
  border-top: 5px solid #0f0f0f;
  word-spacing: 1px;
}

.markdown.md-changelog li:first-child {
  border-top-left-radius: 15px;
}

.markdown.md-changelog li:last-child {
  border-bottom-right-radius: 13px;
}
