

article[role='about']
  border-top: 6px solid transparent
  border-left: 6px solid transparent

  p
    @extend %content
    margin-bottom: 7px
    margin-top: 0
    margin-right: 11px
    transition: all .3s ease

    &:last-child
      margin-bottom: 50px

    &:hover
      background-color: $panel-hover

