

article[role='about']
  border-top 4px solid transparent
  border-left 4px solid transparent
  #Email
    color $article-email-color
    font-family $ff-mono
    cursor pointer
  p
    @extend $content
    margin-bottom 7px
    margin-top 0
    margin-right 11px
    transition: all .3s ease
    &:last-child
      margin-bottom 50px
    &:hover
      background-color: hsl(278, 33%, 12%)