<html lang="en">
  <head>
    <title>Mom Memory Puzzle</title>
    <script src="../libs/mui.min.js" async></script>
    <link rel="stylesheet" href="custom.css" type='text/css' />
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id='entry' class='hidden' :class='{ visible: isLoaded }'>
      <div id="EntryContainer">
        <header class="header">
          <div id='LevelSelect'
               class="inline"
               :data-tries='puzzle.stats.totalTries + ":"'
               :data-new-tries='"+" + puzzle.stats.currentTries'
          >
            <label>Level</label>
            <select class='level-select'
                    v-model='puzzle.levelIndex'
                    :disabled='puzzle.isUserPlaying || puzzle.isLevelRunning'
                    ref='levelSelect'
              ><option v-for='(lvl, index) of puzzle.levels' :value='index'
                >lvl {{ index + 1 }}
              </option>
            </select>
          </div>
          <div id="StageSelect" class='inline'>
            <label>Stage</label>
            <select class="stage-select"
                    v-model='puzzle.stageIndex'
                    :disabled='puzzle.isUserPlaying || puzzle.isLevelRunning'>
              <option v-for='(stage, index) of puzzle.stages' :value="index">stg {{ index + 1 }}</option>
            </select>
          </div>
          <button class='mui-btn
                         mui-btn--primary
                         header-btn'
                  @click='puzzle.readyBoard()'
                  :disabled='puzzle.isUserPlaying || puzzle.isLevelRunning'
                  draggable="false">Randomize
          </button>
          <button class="mui-btn
                         mui-btn--accent
                         header-btn"
                  @click='puzzle.beginLevel()'
                  :disabled='!puzzle.isBoardReady || puzzle.isLevelRunning || puzzle.isUserPlaying'
                  ref='btnStart'
                  draggable='false'>Start
          </button>
          <button class="mui-btn mui-btn--danger header-btn"
                  @click='puzzle.readyBoard()'
                  :disabled='!puzzle.isUserPlaying'
          >oops</button>
        </header>
        <div id="Board">
          <div id="puzzle" ref='puzzle'>
            <div class="piece-placeholder"
                 v-for='(piece, index) of puzzle.pieces'
                 :style='{order: piece.order}'
                 :class='{obfuscated: piece.obfuscated}'
              ><div :id='"p" + index'
                    class="insert"
                    @dragstart='puzzle.onDragStart($event, index)'
                    @dragend='puzzle.onDragEnd($event)'
                    @dragover='preventDefault'
                    :draggable='piece.draggable'
                    :style='{backgroundColor: piece.color, backgroundImage: piece.image}'
                ><div class="shape"
                      :class='piece.shape'></div>
              </div>
            </div>
          </div>
          <div id='solution' ref='solution' class='hidden' :class='{visible: puzzle.isUserPlaying }'>
            <div class="piece-placeholder"
                 v-for='(ans, index) of puzzle.answers'
              ><div class="insert"
                    :class='{ success: ans.success, fail: ans.fail }'
                    @dragover='preventDefault'
                    @dragenter='puzzle.onDragEnter($event, index)'
                    @dragleave='puzzle.onDragLeave'
                    @dragend='puzzle.onDragEnd'
                    @drop='puzzle.onDrop($event, index)'
                    @dblclick='puzzle.resetInsert($event, index)'
                    :style='{ backgroundColor: ans.color, backgroundImage: ans.image }'
                    :id='"a" + index'
              ><div class="shape" :class='ans.shape'></div></div>
            </div>
          </div>
          <div id="CountDown" class='hidden' :class='{visible: puzzle.countdown > 0}'>{{ puzzle.countdown }}</div>
        </div>
        <div id="StatContainer">
          <div id='LevelAccuracy'>
            <label>lvl<span class='num'>{{puzzle.levelIndex + 1}}</span> proficiency</label>
            <div class="prog-mask"
              ><div class="progress"
                ><div class="prog-inner"
                      :style='{ transform: "rotate(" + (stats.levelAccuracy * 1.8 - 45) + "deg)" }'
                  ></div>
                  <div class="prog-inner-text"
                       :class='{ good: stats.levelAccFlux >= 0,
                                 bad:  stats.levelAccFlux < 0,
                                 none: stats.levelAccFlux == 0 }'
                       :data-accuracy-mod='levelAccMod'
                       :data-accuracy='levelAccFluxStr'
                  >
                    {{ stats.levelAccuracy.toFixed(2) + '%' }}
                  </div>
              </div>
            </div>
          </div>
          <div id='TotalAccuracy'>
            <label>total accuracy</label>
            <div class="prog-mask"
              ><div class="progress"
                ><div class="prog-inner"
                      :style='{ transform: "rotate(" + (stats.totalAccuracy * 1.8 - 45) + "deg)" }'
                  ></div>
                  <div class="prog-inner-text"
                       :class='{ good: stats.totalAccFlux >= 0,
                                 bad: stats.totalAccFlux < 0,
                                 none: !stats.totalAccFlux }'
                       :data-accuracy='totalAccFluxStr'
                       :data-accuracy-mod='totalAccMod'
                  >
                    {{ stats.totalAccuracy.toFixed(2) + '%' }}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>{{ version }}</footer>

    </div>
    <script src='../libs/vue.js'></script>
    <script src="../libs/EventEmitter.min.js"></script>
    <script src='../libs/localforage.min.js'></script>
    <script src='./scripts/levels.js'></script>
    <script src="./scripts/stats.js"></script>
    <script src='./scripts/memory.js'></script>
    <script src='./scripts/entry.js' async></script>
    <!-- <script src="scripts.js"></script> -->
    <script src='../libs/live.js' async></script>
  </body>
</html>