<html lang="en">
  <head>
    <title>Mom Memory Puzzle</title>
    <script src="../libs/mui.min.js" async></script>
    <link rel="stylesheet" href="custom.css" type='text/css' />
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <!-- <div id="test"><div class="cross"></div></div> -->
    <div id='entry' class='hidden' :class='{ visible: isLoaded }'>
      <div id="EntryContainer">
        <div id='LevelSelect' class="inline">
          <label>Level</label>
          <select class='level-select'
                  @change='setLevel'
                  :disabled='isPuzzleRunning'
            ><option v-for='(lvl, index) of levels' :value='index'>lvl {{ index + 1 }}</option>
          </select>
        </div>
        <div id="StageSelect" class='inline'>
          <label>Stage</label>
          <select class="stage-select"
                  @change='setStage'
                  :disabled='isPuzzleRunning'>
            <option v-for='(stage, index) of stages' value="index">stg {{ index + 1 }}</option>
          </select>
        </div>
        <header class="header">
          <button class='mui-btn
                          mui-btn--primary'
                  @click='setupBoard'
                  :disabled='isPuzzleRunning'
                  draggable="false">Randomize
          </button>
          <button class="mui-btn
                         mui-btn--accent"
                  @click='beginLevel'
                  :disabled='!isBoardSetup || isPuzzleRunning'
                  ref='btnStart'
                  draggable='false'>Start
          </button>
          <div class="ready" v-if='isBoardSetup'>Click start when ready</div>
        </header>
        <div class="countdown" v-if='countdown'>{{ countdown }}</div>
        <div id="table">
          <div id="puzzle" ref='puzzle'>
            <div class="piece-placeholder"
                 v-for='(piece, index) of pieces'
                 :style='{order: piece.order}'
              ><div :id='"p" + piece.order'
                    class="insert"
                    :class='{obfuscated: piece.obfuscated}'
                    @dragstart='onDragStart($event, index)'
                    @dragover='preventDefault'
                    :draggable='piece.draggable'
                    :style='{backgroundColor: piece.color, backgroundImage: piece.image}'
                ><div class="shape"
                      :class='piece.shape'></div>
              </div>
            </div>
          </div>
          <div id='solution' ref='solution'>
            <div class="piece-placeholder"
                 v-for='(ans, index) of answers'
              ><div class="insert"
                    :class='{ success: ans.success, fail: ans.fail }'
                    @dragover='preventDefault'
                    @drop='puzzle.onDrop($event, index)'
                    @dblclick='puzzle.resetInsert($event, index)'
                    :style='{ backgroundColor: ans.color, backgroundImage: ans.image }'
                    :id='"a" + index'
              ><div class="shape" :class='ans.shape'></div></div>
          </div>
          </div>
        </div>
      </div>
      <div id='LevelAccuracy'>
        <label>lvl<span class='num'>{{level + 1}}</span> accuracy</label>
        <div class="prog-mask"
          ><div class="progress"
            ><div class="prog-inner"
                  :style='{ transform: "rotate(" + (levelAccuracy * 1.8 - 45) + "deg)" }'
              ></div>
              <div class="prog-inner-text">{{ levelAccuracy + '%' }}
            </div>
          </div>
        </div>
      </div>
      <div id='TotalAccuracy'>
        <label>total accuracy</label>
        <div class="prog-mask"
          ><div class="progress"
            ><div class="prog-inner"
                  :style='{ transform: "rotate(" + (totalAccuracy * 1.8 - 45) + "deg)" }'
              ></div>
              <div class="prog-inner-text">{{ totalAccuracy + '%' }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src='../libs/vue.js'></script>
    <script src="../libs/EventEmitter.min.js"></script>
    <script src='../libs/localforage.min.js'></script>
    <script src='./scripts/levels.js'></script>
    <script src="./scripts/stats.js"></script>
    <script src='./scripts/memory.js'></script>
    <script src='./scripts/entry.js' async></script>
    <!-- <script src="scripts.js"></script> -->
    <script src='../libs/live.js' async></script>
  </body>
</html>