

@import './css/global'
@import './css/inputs'
@import './css/shapes'
@import './css/progress'


#entry
  width: 100%
  height: 100%
  transition: opacity .4s ease, visibility .4s ease

  #EntryContainer
    position: relative

  #puzzle
    display: flex
    justify-content: center
    margin-right: -18px

    .piece-placeholder
      .insert
        cursor: move

        &.obfuscated
          cursor: default

  #solution
    margin-top: 30px
    transition: all .5s ease-in-out
    margin-right: -18px

    .piece-placeholder
      border-color: hsl(200, 20%, 70%)

  #CountDown
    position: absolute
    display: block
    top: 230px
    width: 100%
    font-size: 120px
    color: hsl(0, 0%, 70%)
    text-shadow: 0 -2px 0 hsla(0, 0%, 0%, .45), 0 2px 0 hsl(0, 0%, 99%)
    font-family: consolas
    -webkit-user-select: none
    user-select: none
    transition: all .3s ease-in-out

  #Board
    text-align: center
// END ENTRY STYLES



header
  width: 100%
  height: 50px
  margin-bottom: 54px
  text-align: center
  -webkit-user-select: none

  .ready
    position: relative
    top: 3px
    left: 5px
    display: inline-block
    color: hsl(128, 100%, 35%)
    font-size: 18px
    font-family: Verdana, Geneva, Tahoma, sans-serif
// END HEADER STYLES



footer
  position: absolute
  right: 10px
  bottom: 7px
  width: 60px
  font-family: Consolas, monospace
  font-size: 16px
  border-bottom: 4px dotted hsl(200, 80%, 45%)
  text-align: center
// END FOOTER



$ts-color: hsl(0, 0%, 50%)
$ease-speed: .17s

.piece-placeholder
  position: relative
  display: inline-block
  top: 0
  margin-right: 18px
  border: 2px dashed hsl(0, 0%, 80%)
  width: 120px
  height: 120px
  transition: opacity $ease-speed ease, transform $ease-speed ease, border $ease-speed ease, visibility $ease-speed ease

  &.obfuscated::after
    position: absolute
    content: ''
    top: 0
    left: 0
    height: 120px
    width: 120px
    background: hsl(0, 0%, 100%)
    opacity: 0.99

  &.on-drag
    opacity: 0.35
    transform: scale(.7)

  &.on-drop
    opacity: 0
    visibility: hidden
    transform: scale(0.1)

  &.on-drag-over
    transform: scale(1.2)
    border-color: hsl(0, 0%, 50%) !important
    transition: transform .07s ease

  .insert
    display: block
    user-select: none
    -webkit-user-select: none
    width: 100%
    height: 100%
    background-size: 100% 100%
    cursor: default

    &::after, &::before
      position: absolute
      content: 'hit'
      padding-bottom: 3px
      left: 0
      font-size: 24px
      font-variant: small-caps
      background-color: hsl(128, 50%, 85%)
      border: 1px solid hsl(128, 100%, 30%)
      color: hsl(128, 100%, 30%)
      border-radius: 7px
      top: 60%
      width: 100%
      text-align: center
      opacity: 0
      z-index: -1
      transition: top .35s cubic-bezier(0.175, 1.5, 0.5, 1.275)

    &::before
      content: 'miss'
      color: hsl(25, 100%, 30%)
      background-color: hsl(25, 100%, 85%)
      border: 1px solid hsl(25, 100%, 30%)


    &.success::after
      opacity: 1
      top: 113%

    &.fail::before
      opacity: 1
      top: 113%
// END PIECE PLACEHOLDER


#StatContainer
  position: relative
  width: 100%
  text-align: center

