

article[role='FAQ']
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0

  input[type='text']
    margin: 5px 0 10px
    width: 318px

  .qa-container
    display: flex
    height: 100%
    flex-direction: row

  .scroller
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-right: 5px
    overflow: auto

  .question-panel
    display: flex
    height: 100%
    flex-direction: column
    min-width: 325px
    margin-left: 7px

  #Questions
    position: relative
    min-width: 325px
    margin-right: 5px
    flex: 1

  #Answers
    position: relative
    flex: 1
    min-width: 400px
    margin-top: 5px
    margin-right: 20px

    .scroller
      padding: 0
      margin-right: -20px
      & > :last-child
        margin-bottom: 133px




  .qablock
    position: relative
    margin-bottom: 7px
    width: 100%
    display: flex
    flex-direction: column
    box-sizing: border-box

    &:last-child
      margin-bottom: 21px

    .question
      padding: 3px 11px
      width: 100%
      color: hsl(278, 0%, 70%)
      background: $sub-panel-light
      font-family: 'Nunito'
      font-weight: 300
      font-variant: small-caps
      font-size: 20px
      text-align: center
      letter-spacing: 1px
      align-self: center
      border-radius: 0
      cursor: pointer
      transition: background .4s, color .4s

      &:hover
        background-color: hsl(50, 50%, 20%)
        color: hsl(0, 0%, 85%)

  .textbox-container
    position: absolute
    width: 45%



// FireFox font rendering shinanigans
@-moz-document url-prefix()
  [role='FAQ'] article
    .qablock .question
      font-size: 18px

    #Answers
      h1
        font-size: 26px
// End FireFox Hack
