doctype html
html
  head
    link(rel='stylesheet' href='../au/src/style_utilities/static.css')
    title 403 Access Forbidden
  body
    div#F403.error-container(data-poo=remoteIP, data-session=session)
      h1 you do #[span.fail not] have access to this #[span.info resource]
      h2 your ip #[span.info.ip #{remoteIP}] has been #[span.info logged]