

/*@font-face {
  font-family: iconify;
  src: url(iconify.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}*/


@font-face {
    font-family: 'icomoon';
    src: url('icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before, [class*=' icon-']:before {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  letter-spacing: 0;

  font-variant: normal;
  text-transform: none;
}

.icon-envelope-o:before {
    content: "\f003";
}
.icon-heart:before {
    content: "\f004";
}
.icon-check:before {
    content: "\f00c";
}
.icon-close:before {
    content: "\f00d";
}
.icon-remove:before {
    content: "\f00d";
}
.icon-cog:before {
    content: "\f013";
}
.icon-gear:before {
    content: "\f013";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-clock-o:before {
    content: "\f017";
}
.icon-times-circle:before {
    content: "\f057";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-times-circle-o:before {
    content: "\f05c";
}
.icon-check-circle-o:before {
    content: "\f05d";
}
.icon-plus:before {
    content: "\f067";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-warning:before {
    content: "\f071";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-envelope:before {
    content: "\f0e0";
}
.icon-github:before {
    content: "\f113";
}
.icon-thumbs-up:before {
    content: "\f164";
}
.icon-thumbs-down:before {
    content: "\f165";
}
.icon-google:before {
    content: "\f1a0";
}
.icon-wechat:before {
    content: "\f1d7";
}
.icon-weixin:before {
    content: "\f1d7";
}
.icon-trash:before {
    content: "\f1f8";
}
.icon-user-secret:before {
    content: "\f21b";
}
.icon-user-plus:before {
    content: "\f234";
}
.icon-user-times:before {
    content: "\f235";
}
.icon-bubbles:before {
    content: "\e96c";
}
.icon-cog2:before {
    content: "\e994";
}
.icon-warning2:before {
    content: "\ea07";
}
.icon-enter:before {
    content: "\ea13";
}
.icon-exit:before {
    content: "\ea14";
}
.icon-facebook:before {
    content: "\ea90";
}
