.r3d-auth__titlebar { color: hsl(47, 100%, 61%); }

.r3d-auth__disclaimer,
.r3d-auth__note {
  margin-top: 20px;
  width: 70%;
}

.r3d-auth__form {
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  text-align: center;
}

.r3d-auth__passcode {
  width: 150px;
  text-transform: uppercase;
}

.r3d-auth__button {
  display: inline-block;
  margin-left: 1.5rem;
}

.r3d-auth__error {
  margin-top: 30px;
}
