
.r3d-form__titlebar.--submitted {
  color: hsl(161, 80%, 60%);
  transition: color 800ms;
}
.r3d-form__list-item p { margin-left: 3rem; }

.r3d-form__input-block {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 70%;
}

.r3d-form__iframe-parent {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 0;
  padding-bottom: calc(100% / (16 / 9));
  overflow: visible;
}
iframe {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
}

.r3d-form__question {
  display: block;
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
}
.r3d-form__question::before {
  position: absolute;
  top: -0.03rem;
  margin-left: -1.5rem;
  content: attr(data-num);
  font-weight: 400;
  font-size: 1.3rem;
  color: hsl(0, 100%, 68%);
}

.r3d-form__disclaimer {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 80%;
}
.r3d-form__begin-text em {
  color: hsl(47, 80%, 65%);
}

.r3d-form__field-counter {
  display: block;
  margin-top: 20px !important;
  color: hsl(197, 11%, 45%);
  font-weight: 400;
  width: 70%;
  text-align: center;
}
.r3d-form__field-counter strong {
  color: hsl(47, 80%, 60%);
}


.r3d-form__text-block { margin-top: 3vh; margin-bottom: 1vh; }
.r3d-form__text-block p {
  margin: 0 auto;
  width: 98%;
}
.r3d-form__text-block.submitted,
.r3d-form__text-block.before-submit { width: 70%; margin-bottom: 30px; }

.r3d-form__button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}
.r3d-form__button.submit {
  display: inline-block;
  margin-top: 10px;
}

.r3d-form__submit-error {
  display: inline-block;
  margin-left: 1.5rem;
}

.r3d-form__area {
  display: block;
  width: 100%;
}

.r3d-form__input-container {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 70%;
  max-width: 1024px;
}

.r3d-form__text-input {
  margin-bottom: 50px;
  width: 50%;
}