#TabMenu
  position: relative
  height: 100%
  left: 307px

  ul
    position: absolute
    left: 0
    right: 0
    bottom: 0
    list-style: none

    li
      display: inline-block
      margin-right: 7px
      padding: 7px 13px
      font-family: Comic Sans MS, sans-serif
      font-size: 22px
      color: hsl(0, 0%, 30%)
      text-transform: capitalize
      border-top-left-radius: 13px
      border-top-right-radius: 13px
      transition: opacity .3s, color .3s, border .2s
      cursor: pointer
      user-select: none

      &.active
        opacity: 1
        color: hsl(278, 100%, 82.4%)
        border-top: 4px solid hsl(278, 100%, 82.4%)
        background-color: $panel

      &:hover
        opacity: 1
        color: hsl(278, 100%, 82.4%)

    .icon-enter, .icon-cog2
      &::before
        margin-right: 5px
        font-size: 20px

    .login, .settings
      position: absolute
      right: 333px
      bottom: 0
      font-size: 24px
      color: hsl(50, 60%, 53%)
      opacity: 1

      &.active
        border-color: hsl(127, 60%, 53%)
        color: hsl(127, 60%, 53%)

      &:hover
        color: hsl(127, 60%, 53%) !important