@import '../../styles/variables'

#LoadLibs
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0


#SigninPage
  h1
    color: hsl(278, 35%, 67%)
    font-family: 'Comic Sans MS'
    font-weight: normal
    font-size: 22px
    line-height: 20px

  h2
    margin-top: 30px
    font-family: 'Nunito'
    font-weight: 300
    line-height: 30px
    color: hsl(50, 50%, 50%)
    font-size: 18px

  .login-content
    position: absolute
    display: block
    width: 100%
    height: 100%
    text-align: center
    transition: all .4s

  .signin-section-wrapper
    position: absolute
    top: 50px
    left: 50%
    transform: translateX(-50%)
    display: block
    margin: 0 auto 0
    padding: 20px 0 25px 0
    width: 330px
    border: 3px solid lighten($panel, 3%)
    border-radius: 5px
    box-shadow: inset 0 0 20px 5px hsl(0, 0, 0)
    &::before
      content: attr(title-text)
      position: absolute
      top: -20px
      left: 50%
      font-family: 'Delius'
      font-size: 26px
      white-space: nowrap
      background-color: hsl(0, 0, 7%)
      color: hsl(278, 50%, 80%)
      transform: translateX(-50%)

  .can-signin
    position: relative
    margin: 10px auto 0
    display: block
    width: 370px
    font-family: 'Delius'
    font-size: 22px
    color: hsl(278, 50%, 80%)
    text-align: center
    .toggle
      position: relative
      display: block
      margin: 10px auto 35px

  .has-invite
    width: 350px

    [type='text']
      margin: 10px auto 0
      font-size: 28px
      width: 72.5%
      text-align: center
      text-transform: uppercase
      font-family: 'Source Code Pro'

    button
      left: 15.2%

    .invite-status
      position: relative
      display: block
      margin-bottom: -8px
      padding-top: 8px
      left: 14%
      @extend %font-comfortaa
      font-size: 28px
      &.bad
        color: hsl(0, 70%, 70%)
      &.good
        color: hsl(126, 80%, 80%)
      &.medium
        color: hsl(50, 50%, 50%)


  .google-button, .facebook-button
    display: block
    margin: 10px auto 15px auto
    width: 264px
    height: 40px
    cursor: pointer
    box-shadow: 5px 13px 10px -3px hsl(0, 0, 0)

    &:hover .icon-google-plus, &:hover .icon-facebook
      background-color: hsl(0, 0%, 17%)
      color: hsl(50, 60%, 55%)

    &:hover .icon-google-plus::before
      color: hsl(0, 0%, 90%)
      background-color: hsl(0, 90%, 64%)

    &:hover .icon-facebook::before
      color: hsl(0, 0, 100%)
      background-color: hsl(220, 45%, 42%)

  .icon-google-plus, .icon-facebook
    position: relative
    display: inline-block
    width: 260px
    top: 3px
    left: 4px
    background-color: $panel
    color: hsl(0, 0, 60%)
    padding: 9px 0 8px 70px
    font-size: 20px
    font-family: Comic Sans MS
    letter-spacing: -1px
    word-spacing: 3px
    text-align: left
    border-radius: 7px 0 0 7px
    transition: .3s background, .3s color

    &::before
      position: absolute
      top: 0
      left: 0
      padding: 4px 4px 3px 7px
      font-family: 'icomoon'
      line-height: normal
      color: hsl(50, 50%, 50%)
      border-radius: 7px 0 0 7px
      background-color: hsl(0, 0%, 19%)
      font-size: 36px
      transition: .3s background, .3s color

  .icon-facebook::before
    padding: 4px 6px 3px 13px

  .signin-response
    position: relative
    display: inline-block
    max-width: 500px
    margin: 20px auto -20px
    font-size: 18px
    letter-spacing: 2px
    word-spacing: 2px
    line-height: 60px
    font-family: 'Verdana'
    font-variant: small-caps
    color: hsl(127, 80%, 80%)

    span
      position: relative
      top: -10px
      color: hsl(0, 80%, 80%)

    .fail
      top: 0
      color: hsl(0, 80%, 80%)
      border-bottom: 2px solid hsl(0, 80%, 80%)

  #RobotContent

    #NodeContainer
      display: block
      margin: 0 auto
      width: 400px
      text-align: center
      background-color: hsla(0, 100%, 100%, .1)
      padding: 17px 0 10px
      border-radius: 13px

    .node
      display: inline-block
      margin-right: 17px
      width: 55px
      height: 55px
      border-radius: 55px
      background-clip: padding-box
      border: 5px solid hsl(278, 25%, 45%)
      background-color: hsl(0, 0%, 53.3%)
      box-shadow: inset 0 0 13px 2px hsla(0, 0, 0, 0.9)
      cursor: pointer
      transition: background .3s

      &.active
        background-color: hsl(50, 60%, 50%)

      &.success
        background-color: #99e89d

      &.error
        background-color: hsl(0, 80%, 65%)

    .error-text
      display: none
      margin-bottom: 5px
      color: #ffa4aa

    .visible
      display: block

  #InviteContent
    input[type='text']
      margin: 0 auto
      width: 217px
      font-size: 28px
      text-align: center
      font-family: monospace, Courier New, Courier

    .response
      position: relative
      display: block
      font-size: 20px
      letter-spacing: 1px
      word-spacing: 2px
      font-family: 'comfortaa'
      font-variant: small-caps
      margin-top: 25px
      color: hsl(127, 80%, 80%)

      span
        position: relative
        top: -10px
        color: hsl(0, 80%, 80%)

  #SignupContent
    .selector
      display: inline-block
      width: 300px
      padding: 7px 0
      text-align: center
      font-family: 'Verdana'
      color: hsl(50, 55%, 40%)
      font-size: 18px
      border: 1px solid hsl(50, 50%, 27%)
      cursor: pointer
      transition: all .3s

      &:hover
        color: hsl(0, 0%, 80%)

      &:first-child
        border-radius: 5px 0 0 5px
        border-right: 0

      &:last-child
        border-radius: 0 5px 5px 0
        border-left: 0

    .selected
      background: hsl(50, 50%, 27%)
      color: hsl(0, 0%, 80%)

    .hide
      visibility: hidden
      opacity: 0

    .demo
      margin-top: 0
      font-family: monospace
      font-size: 20px
      color: hsl(0, 70%, 75%)


    .content-container
      position: absolute
      top: 120px
      width: 100%
      height: 100%
      text-align: center
      transition: all .3s

    .social-button
      margin-top: 20px

    input
      &[type='text'],
      &[type='password']
        width: 333px
        padding-left: 40px
        margin: 0 auto
        margin-bottom: 17px

    #SSONickname
      font-family: 'Source Code Pro'
      font-size: 18px
      padding-bottom: 20px

    .input-container
      position: relative
      width: 100%
      text-align: center

      &:first-child
        margin-top: 20px
        margin-bottom: 37px

      &:nth-child(3)
        margin-bottom: 37px


    .input-length, .input-response
      position: absolute
      top: 0
      left: 277px
      right: 0
      margin: 0 auto
      color: #aaa
      font-family: monospace
      font-size: 18px
      -moz-user-select: none
      -webkit-user-select: none
      user-select: none
      pointer-events: none

    .input-length
      top: 5px
      left: 270px

    .valid
      color: hsl(127, 35%, 65%)

    .invalid
      color: hsl(0, 80%, 75%)

    .input-response
      width: 300px
      top: 40px
      left: 63px
      font-size: 14px
      font-weight: bold
      text-align: left
      color: hsl(0, 0, 50%)

      span
        transition: all .3s

    .button-container
      transition: all .3s ease-in-out

      .hide
        visibility: hidden
        opacity: 0

      .show
        visibility: visible
        opacity: 1

    .icon-check-circle-o::before, .icon-times-circle::before
      position: absolute
      top: 16px
      left: -280px
      right: 0
      margin: 0 auto
      z-index: 10
      color: hsl(0, 0, 37%)
      font-size: 30px
      -moz-user-select: none
      -webkit-user-select: none
      user-select: none
      pointer-events: none
      transition: color .3s

    .icon-times-circle &::before
      color: hsl(0, 60%, 63%)
      text-shadow: 0 0 4px hsl(0, 0, 17%)

    .valid &::before
      color: hsl(127, 40%, 47%)

