template
  require(from='../../../shared/layouts/dynamic-paging')
  dynamic-paging(if.bind='pages.length' md-class='md-blog'
                 pages.bind='pages'
                 show-timestamp.bind='true'
                 order='dateLast'
                 place-holder='#### click an entry on the left')

  div.preloader(style.bind='!pages.length ? "" : "display: none"')

