article.dyn-panel
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  // Placeholder text
  h4
    position: relative
    top: 27%
    margin: 0 auto
    font-size: 34px
    color: hsl(50, 75%, 53%)
    text-align: center

  header
    position: absolute
    left: 0
    right: 0
    padding: 5px 0 55px 0
    text-align: center
    @extend %font-comfortaa
    font-size: 44px
    letter-spacing: 1px
    color: hsl(50, 50%, 50%)
    background: linear-gradient(to bottom, hsla(0, 0%, 6.7%, 0.95) 0%, hsla(0, 0%, 6.7%, 0.8) 60%, hsla(0, 0%,6.7%,0) 100%);
    z-index: 100
    .subheader
      position: absolute
      left: 0
      right: 0
      font-size: 18px
      color: hsl(50, 50%, 50%)

  .panel-container
    display: flex
    height: 100%
    flex-direction: row

  .scroller
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-right: 5px
    overflow-x: hidden
    overflow-y: auto

  .content-scroller >:first-child
    margin-top: 90px

  .titles
    position: relative
    height: 100%
    flex-direction: column
    min-width: 325px
    margin-left: 7px
    margin-top: 7px

  .type
    font-variant: normal

  .title
    position: relative
    display: flex
    flex-direction: row
    margin-bottom: 7px
    padding: 5px 0
    color: hsl(278, 0%, 70%)
    background: $sub-panel-light
    font-family: 'Comfortaa'
    font-weight: 300
    font-variant: small-caps
    font-size: 24px
    text-align: center
    letter-spacing: 1px
    cursor: pointer
    transition: background $trans-speed, color $trans-speed
    &:hover
      background: lighten($panel-hover, 3%)
      color: hsl(0, 0%, 85%)
      & .left
        color: hsl(50, 70%, 70%)


  .left
    position: relative
    top: 4px
    flex: 1
    font-size: 20px
    text-align: right
    font-variant: normal
    color: hsl(278, 40%, 75%)
    transition: color $trans-speed

  .right
    flex: 4
    text-align: left
    padding-left: 10px

  .page
    position: relative
    flex: 1
    min-width: 400px
    margin-top: 5px
    margin-right: 20px
    .scroller
      padding: 0
      margin-right: -20px
      & > :last-child
        margin-bottom: 133px


