body
  background-color: #f0f0f0
  overflow: hidden



*
  outline: none



.hidden
  opacity: 0
  visibility: hidden

.visible
  opacity: 1
  visibility: visible



.inline
  display: inline-block



