



select
  transition: border .4s ease

  &:hover
    border: 1px solid #2196f3


button
  .mui-btn
    user-select: none
    -webkit-user-select: none


.header-btn
  position: relative
  top: 21px



#LevelSelect, #StageSelect
  position: relative
  display: inline-block
  top: -7px
  left: 15px

  label
    position: absolute
    top: 0
    left: 0
    width: 80px
    text-align: center
    color: hsl(0, 0%, 60%)
    font-size: 16px
    font-family: monospace

  .level-select, .stage-select
    position: relative
    top: 24px
    width: 80px
    margin-right: 10px
    font-variant: small-caps
    font-family: Verdana, Geneva, Tahoma, sans-serif

$try-margin: -25
#LevelSelect
  &::before, &::after
    position: absolute
    content: attr(data-tries)
    top: 50px
    left: -17px + $try-margin
    width: 100%
    text-align: right
    font-family: consolas, monospace
    font-size: 20px
    font-weight: bold
    color: hsl(200, 80%, 45%)
    z-index: 10
  &::after
    position: absolute
    content: attr(data-new-tries)
    left: 72px + $try-margin
    text-align: left
    color: hsl(128, 50%, 40%)

#StageSelect
  left: -2px


