.ee-btn {
  position       : relative;
  margin         : 0 1rem;
  padding        : 0.3rem 1rem;
  letter-spacing : 0.15rem;
  font-family    : inherit;
  font-weight    : bold;
  font-size      : 1.1rem;
  transition: background-color 0.3s,
              background-image 0.3s,
              box-shadow 0.3s,
              border 0.3s,
              padding 0.3s,
              color 0.3s;
}
.ee-btn:active { top: 1px; left: 1px; }


.ee-btn.standard {
  color       : black;
  background  : hsl(47, 100%, 50%);
  border-top  : 1px solid hsl(47, 100%, 78%);
  border-left : 1px solid hsl(47, 100%, 78%);
  box-shadow  : 0 0 12px 0 hsla(47, 100%, 70%, 0.5);
}
.ee-btn.standard:hover {
  background : hsl(47, 100%, 70%);
  box-shadow : 0 0 12px 0 hsla(47, 100%, 70%, 0.8);
}
.ee-btn.standard:disabled.--loading {
  color            : hsla(0, 0%, 0%, 0.5);
  border-color     : hsl(47, 100%, 78%);
  background-color : hsl(47, 100%, 75%);
  box-shadow       : 0 0 12px 0 hsla(47, 100%, 70%, 0.8);
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      hsl(47, 100%, 50%) 1rem,
      hsl(47, 100%, 50%) 2rem
    );
}

.ee-btn.dangerous {
  color       : white;
  background  : hsl(0, 100%, 63%);
  border-top  : 1px solid hsl(0, 100%, 73%);
  border-left : 1px solid hsl(0, 100%, 73%);
  box-shadow  : 0 0 12px 0 hsla(0, 100%, 63%, 0.6);
}
.ee-btn.dangerous:hover {
  background : hsl(0, 100%, 69%);
  box-shadow : 0 0 15px 0 hsla(0, 100%, 69%, 0.9);
}
.ee-btn.dangerous:disabled.--loading {
  color            : hsla(0, 100%, 100%, 0.6);
  background-color : hsl(0, 100%, 70%);
  border-color     : hsl(0, 100%, 73%);
  box-shadow       : 0 0 15px 0 hsla(0, 100%, 69%, 0.9);
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      hsl(0, 100%, 63%) 1rem,
      hsl(0, 100%, 63%) 2rem
    );
}


.ee-btn.standard:disabled,
.ee-btn.dangerous:disabled {
  color        : hsl(197, 11%, 30%);
  background   : hsl(197, 11%, 15%);
  border-color : transparent;
  box-shadow   : none;
  cursor       : not-allowed;
}

.ee-btn.standard.--loading,
.ee-btn.dangerous.--loading {
  background-size: 200% 200%;
  animation: barberpole 1.5s linear infinite forwards;
}
