.preloader {
  box-sizing     : border-box;
  text-align     : center;
  z-index        : 1;
}

.preloader:after {
  z-index: 1;
  animation: ripple 1.6s infinite 0.7s;
}

.preloader:before {
  z-index: 2;
  animation: ripple 1.6s infinite;
}

.preloader:before,
.preloader:after {
  opacity       : 0;
  box-sizing    : border-box;
  content       : "\0020";
  position      : absolute;
  top           : 0;
  left          : 0;
  width         : 100%;
  height        : 100%;
  border-radius : 113px;
  border        : 6px solid var(--preloader-bdr-c);
  box-shadow    : 0 0 56px var(--preloader-bxs-c),
                  inset 0 0 56px var(--preloader-bxs-inset-c);
}

.preloader.page {
  margin: 0 auto;
  margin-top: 20%;
  width: 200px;
  height: 200px;
}


