.red33m {
  display: block;
  width: 100%;
}

.red33m .title-bar__text {
  color: hsl(47, 100%, 61%);
}

.red33m-toggle {
  margin-top: 1rem;
  width: 235px;
  text-align: center;
}

.red33m-video-list {
  display: flex;
  margin-top: 2rem;
  margin-right: -15px;
  padding-bottom: 300px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.red33m-video {
  display: inline-block;
  width: 300px;
  margin-right: 7px;
  margin-bottom: 70px;
  user-select: none;
  cursor: pointer;
  transition: color .3s ease;
}
.red33m-video:hover {
  color: var(--red33m-video-hov-c);
}
/* Video Title */
.red33m-video::after {
  position: absolute;
  bottom: -40px;
  content: attr(data-title);
  height: 40px;
  font-size: 1.2rem;
}
.red33m-video_thumbnail-container {
  width: 100%;
  height: 168.75px;
  overflow: hidden;
}
.red33m-video_thumbnail-container img {
  width: 100%;
  margin-top: -9%;
}