.red33m {
  display: block;
  width: 100%;
}

.red33m .preloader.data-loader {
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 1000px;
  width: 200px;
  height: 200px;
}

.red33m .title-bar__text {
  color: hsl(47, 100%, 61%);
}

.red33m-toggle {
  margin-top: 1rem;
  width: 100px;
  text-align: center;
}

.red33m-video-list {
  display: flex;
  margin-top: 2rem;
  margin-right: -15px;
  padding-bottom: 300px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.red33m-video {
  width: 300px;
  margin-right: 7px;
  margin-bottom: 20px;
  user-select: none;
  transition: color .3s;
}
.red33m-video .ee-video_img {
  height: calc(300px / (16 / 9));
}
.red33m-video .ee-video_title {
  font-size: 1.2rem;
}