@import '_base'

$login-bg-color = transparent
$login-icon-bg-color = $head-1-color
$login-close-btn = #FF9494
$login-close-btn-hover = #FF5252
$login-header-color = #777
$login-bg-image = '../img/bg/white_variations.png'

$login-btn-bg-color = hsla(0, 0, 0, .3 / $golden-ratio)
$login-btn-bg-hover = $panel
$login-btn-text-color = #f0f0f0
$login-btn-text-hover = $head-1-color
$login-OR-color = #777
$login-instructions-color = #3c8639
$login-separator-color = hsla(0, 0, 0, .2)
$login-input-color = #333
$login-placeholder-color = #777

$login-facebook-bg = #eee
$login-facebook-color = #46629E
$login-github-color = #aaa
$login-google-color = #EB4335
$login-microsoft-color = #2672EC
