.md {
  font-family : 'Nunito';
  font-weight : 300;
  font-size   : var(--md-f-sz);
  color       : var(--md-c);
}
.md > :last-child {
  margin-bottom: 333px;
}



.md h1, .md h2,
.md h3, .md h4,
.md h5 {
  margin-top     : 15px;
  color          : hsl(0, 0%, 94%);
  font           : "Comfortaa";
  font-variant   : small-caps;
  font-weight    : 300;
  letter-spacing : 1px;
}

.md h1 {
  margin: 15px 0 -5px 25px;
  margin-left: 25px;
  font-size: 2.25rem;
}

.md h2 {
  position    : relative;
  margin-left : 40px;
  margin-bottom: -3px;
  font-size   : 1.8rem;
}

.md h3 {
  position: relative;
  margin: 0;
  margin-bottom: 7px;
  padding: 33px 0;
  text-align: center;
  font-size: 1.35rem;
  font-family: "Delius";
  font-variant: normal;
  font-weight: normal;
  color: hsl(30, 100%, 77%);
}
.md h3::before,
.md h3::after {
  position: absolute;
  content: " ";
  height: 2px;
  width: 50%;
  left: 50%;
  background: linear-gradient(to right, hsla(0, 0%, 0%, 0) 0%, hsla(0, 57%, 55%, 0.85) 50%, hsla(0, 0%, 0%, 0) 100%);
  transform: translateX(-50%);
}
.md h3::before {
  top: 10px;
}
.md h3::after {
  bottom: 10px;
}


.md p {
  display                 : block;
  padding                 : 7px 13px;
  line-height             : 27px;
  background              : var(--md-pg-bg-c);
  border-top-right-radius : 6.5px;
  border-top-left-radius  : 3.5px;
  transition              : background 0.25s, color 0.25s;
}
.md > p {
  margin: auto 7px 7px 7px;
}
.md > p:hover {
  background-color : var(--md-pg-bg-hov-c);
  color            : var(--md-pg-hov-c);
}


.md b,
.md strong {
  font-weight : 400;
  color       : var(--md-b-c);
}
.md > p:hover strong {
  color: var(--md-pg-hov-b-c);
}


.md i,
.md em {
  color      : var(--md-i-c);
  font-style : normal;
}
.md > p:hover em {
  color: var(--md-pg-hov-i-c);
}


.md a:link,
.md a:active,
.md a:visited {
  color           : var(--md-link-c);
  text-decoration : none;
  border-bottom   : 1px dashed var(--md-link-bdr-c);
  transition      : border .25s ease, color .25s ease;
}
.md a:hover {
  color: var(--md-link-hov-c);
}
.md > p:hover a:link,
.md > p:hover a:active,
.md > p:hover a:visited {
  border-color: var(--md-pg-hov-link-bdr-c);
}


.md blockquote > p {
  margin           : 20px 3rem 20px 3rem;
  padding          : 8px 2.2rem 8px 2.2rem;
  font-size        : 1.5rem;
  background-color : var(--md-bq-bg-c);
  color            : var(--md-bq-c);
  border           : 2px solid black;
  border-radius    : 8px;
}
/*
 * Should be used as an authors name at
 * the end of a blockquote
 */
.md blockquote > p i,
.md blockquote > p em {
  display        : block;
  margin-top     : 8px;
  font-family    : 'Comfortaa';
  font-variant   : small-caps;
  letter-spacing : 0.5px;
  color          : var(--md-bq-c);
}
.md blockquote > p::before,
.md blockquote > p::after {
  position       : absolute;
  font-size      : 6rem;
  vertical-align : baseline;
  color          : hsl(30, 100%, 75%);
}
.md blockquote > p::before {
  margin-top  : 28px;    /* blockquote (margin-top + padding-top)  */
  margin-left : -2.2rem; /* blockquote (padding-left * -1) */
  content     : '“';
}
.md blockquote > p::after {
  right: 4px; bottom: -20px;
  content: '”'
}


.md code {
  padding       : 2px 3px 0 3px;
  color         : var(--md-code-c);
  font-family   : "Cousine";
  background    : var(--md-code-bg-c);
  border        : 1px solid black;
  font-size     : 1.125rem;
  border-radius : 5px;
  white-space   : nowrap;
  word-spacing  : -3px;
}
.md > p:hover code {
  background : var(--md-code-bg-hov-c);
  color      : var(--md-code-hov-c);
}


.md b,  .md i,
.md em, .md dt,
.md dd, .md code,
.md strong, .md blockquote {
  transition: color 0.25s ease, background 0.25s ease;
}