@media only screen and (max-width: 750px) {
  .md { font-size: var(--md-mobile-f-sz); }

  .md p {
    padding     : 7px 10px;
    line-height : 22px;
  }
  .md > p { margin: auto 7px 7px 7px; }

  .md blockquote > p { font-size : 1.38rem; }
}


@media only screen and (max-width: 600px) {
  .md blockquote > p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size : 1.28rem;
    width: 90%;
  }
  .md > .embed-responsive {
    width: 98%;
    height: 300px;
  }
}


@media only screen and (max-width: 361px) {
  .md             { font-size : var(--md-mobile-sm-f-sz); }
  .md:first-child { margin-top: 5px; }

  .md p {
    padding-top    : 3px;
    padding-bottom : 3px;
    line-height    : 20px;
  }
  .md > p { margin: auto 5px 5px 5px; }

  .md blockquote > p {
    font-size   : 1.1rem;
    width       : 95%;
    margin-left : 7px;
  }

  .md > .embed-responsive {
    height: 150px;
  }
}
