.md {
  max-width   : 1024px;
  margin      : 0 auto;
  margin-top  : 10px;
  font-weight : 300;
  font-size   : var(--md-f-sz);
  color       : var(--md-c);
}

:root {
  --md-trans-speed: 0.18s;
}


.md h1, .md h2,
.md h3, .md h4,
.md h5 {
  margin-top     : 3rem;
  margin-left    : 3rem;
  color          : var(--md-head-c);
  font-variant   : small-caps;
  font-weight    : 300;
  letter-spacing : 1px;
}
.md h1         { font-size: 2rem; }
.md h2, .md h3 { font-size: 1.7rem; }


.md p, .md ol {
  display                 : block;
  margin-left             : 10px;
  margin-right            : 5px;
  padding                 : 7px 13px;
  line-height             : 27px;
  background              : var(--md-p-bg-c);
  border-top-right-radius : 6.5px;
  border-top-left-radius  : 3.5px;
  transition              : background var(--md-trans-speed),
                            color var(--md-trans-speed);
}
/* Maintain height with floated images */
.md p::after {
  clear   : both;
  content : '';
  display : block;
}
.md p + p {
  margin-top: 15px;
}
.md > p {
  margin-bottom : 7px;
  box-shadow    : 0 10px 7px -5px var(--md-p-bxs-c);
}
.md > p:empty { display: none; }
.md > p:hover {
  background-color : var(--md-p-bg-hov-c);
  color            : var(--md-p-hov-c);
}


.md b,
.md strong {
  font-weight : 400;
  color       : var(--md-b-c);
}
.md > p:hover strong { color: var(--md-p-hov-b-c); }


.md i,
.md em {
  color      : var(--md-i-c);
  font-style : normal;
}
.md > p:hover em { color: var(--md-p-hov-i-c); }


.md a:link,
.md a:active,
.md a:visited {
  color           : var(--md-link-c);
  text-decoration : none;
  font-weight     : 300;
  text-decoration: underline var(--md-link-bdr-c);
  transition      : text-decoration var(--md-trans-speed),
                    color var(--md-trans-speed);
}
.md > p:hover a:link,
.md > p:hover a:active,
.md > p:hover a:visited {
  color                 : var(--md-p-hov-link-c);
  text-decoration-color : var(--md-p-hov-link-bdr-c);
}
.md > p:hover a:hover { color: var(--md-link-hov-c); }

.md blockquote > p {
  margin           : 2.7rem auto;
  padding          : 8px 2.3rem 8px 2.5rem;
  width            : 85%;
  color            : var(--md-bq-c);
  font-size        : 1.4rem;
  background-color : var(--md-bq-bg-c);
  quotes           : '“' '”';
  border           : 4px solid var(--md-bq-bdr-c);
  outline          : 2px solid var(--md-bq-outline-c);
}
/*
 * Should be used as an authors name at
 * the end of a blockquote
 */
.md blockquote > p i,
.md blockquote > p em {
  display        : block;
  margin-top     : 8px;
  font-variant   : small-caps;
  letter-spacing : 1px;
  color          : var(--md-bq-c);
}
.md blockquote > p::before,
.md blockquote > p::after {
  position       : absolute;
  font-size      : 6rem;
  vertical-align : baseline;
  color          : var(--md-bq-quote-c);
}
.md blockquote > p::before {
  margin-top  : 28px;    /* blockquote (margin-top + padding-top)  */
  margin-left : -2.5rem; /* blockquote (padding-left * -1) */
  content     : open-quote;
}
.md blockquote > p::after {
  right   : 4px;
  bottom  : -20px;
  content : close-quote;
}


.md code {
  padding       : 2px 3px 0 3px;
  color         : var(--md-code-c);
  background    : var(--md-code-bg-c);
  border        : 1px solid black;
  font-size     : 1.125rem;
  font-family   : Consolas, 'Courier New', Courier, monospace;
  border-radius : 5px;
  white-space   : nowrap;
  word-spacing  : -3px;
}
.md > p:hover code {
  background : var(--md-code-bg-hov-c);
  color      : var(--md-code-hov-c);
}

.md > p > ul { margin-left: 1rem; }
.md > p > ul > li::before {
  content     : '\2022';
  width       : 1rem;
  font-size   : 1.5rem;
  margin-left : -1rem;
  color       : var(--md-bullet-c);
  transition  : color var(--md-trans-speed);
}
.md > p:hover li::before { color: var(--md-bullet-hov-c); }

.md > ol {
  padding-left: 2.5rem;
  list-style: decimal;
  background-color: transparent;
  color: hsl(197, 11%, 67%);
  box-shadow: none;
}
.md > ol li { margin-bottom: 0.5rem; }


.md > p > img {
  display    : block;
  margin     : 10px auto;
  max-width  : 100%;
  box-shadow : 0 0 10px 3px var(--md-img-bxs-c);
}
.md > p > img + br { display: none; }


/* ### Embeded Video Styles ### */
.md > .embed-responsive {
  margin : 20px auto;
  width  : 90%;
  height : 0;
  padding-bottom: calc(100% / (16 / 9));
  overflow: visible;
}
.md > .embed-responsive iframe {
  position: absolute;
  left: 0; top: 0;
  width  : 100%;
  height : 100%;
}



.md b,  .md i,
.md em, .md dt,
.md dd, .md code,
.md strong, .md blockquote
{ transition: color var(--md-trans-speed), background var(--md-trans-speed); }