@import '../variables';
@import '../markdown';

.chat-message
  p
    display: inline
    padding: 0
    
  &.inline.server
    p
      display: inline

      font-family: 'Cousine'
    i
      font-style: normal
    strong
      color: hsl(128, 40%, 70%)
    em
      color: hsl(278, 80%, 77%)