@import '../variables';
@import '../markdown';

.markdown.md-message
  > p
    display: inline
    padding: 0
    line-height: normal
    background-color: transparent
  strong
    color: hsl(128, 40%, 70%)
  em
    color: hsl(278, 60%, 80%)
