@import '../variables';
@import '../markdown';

.chat-message
  p
    display: inline
    padding: 0
    line-height: normal

  &.inline.server
    .text
      font-family: 'Cousine'
    p
      display: inline
      line-height: normal
    strong
      color: hsl(128, 40%, 70%)
    em
      color: hsl(278, 80%, 77%)