@import '_base'
@import '../../../_utilities'

$article-content-color = $text-color
$article-content-text-shadow = none

$article-header-color = $head-1-color
$article-header-text-shadow = outline(1px, $black)
$article-subheader-color = $head-2-color
$article-email-color = #c691ff

$article-question-bg-color = $panel
$article-question-color = hsl(50, 80%, 40%)
$article-question-border-color = $border-emphasis
$article-rule-separator-color = hsla($black-trans, .6 / $golden-ratio)

$article-list-color = hsl(278, 23%, 60%);
