@import '_base'

$input-color = $text-color
$input-border-color = hsla($transient-light-trans, .7 / $golden-ratio)
$input-bg-color = $panel
$input-focus-color = hsla($transient-light-trans, .7)
$input-placeholder-color = hsla($transient-light-trans, .3)
$input-wedge-color = $text-emphasis
$input-wedge-active-color = hsla($transient-light-trans, .77)
