@import '_base'

$login-bg-color = $panel
$login-icon-bg-color = $head-1-color
$login-close-btn = #FF9494
$login-close-btn-hover = #FF5252
$login-header-color = #b7b7b7
$login-bg-image = '../img/bg/dark_variations.png'

$login-btn-bg-color = $panel
$login-btn-text-color = #aaa
$login-separator-color = #b7b7b7
$login-instructions-color = #A5CCA7

$login-facebook-bg = #eee
$login-facebook-color = #46629E
$login-github-color = #aaa
$login-google-color = #EB4335
$login-microsoft-color = #2672EC
