@import '_base'

$menu-item-color = hsla($white-trans, .4)
$menu-item-opacity = .57

$menu-bg-hover = transparent
$menu-hover-color = $head-1-color
$menu-text-shadow = outline(1px, $black)

$menusub-item-color = $menu-item-color
$menusub-item-opacity = .57
$menusub-item-active-color = hsla($white-trans, .7)
$menusub-item-active-border-color = $menusub-item-active-color

$menu-page-loader = url('../img/dark-page-loader.gif')
