@import '_base'

// OVERLAY
$modal-overlay-bg-color = hsla(0, 0, 5%, .7)
$modal-preloader = '../img/dark-page-loader.gif'

$purple = #d6a8ff
$purplebg = hsl(278, 40%, 33%)
$contentcolor = hsl(274, 13%, 20%)

// MAIN
// $modal-bg = url($body-bg-image)
$modal-default-color = #eee
$modal-boxshadow = 0 1px 23px 3px #000
$modal-header-color = $head-1-color
$modal-header-bg-color = #281c35
$modal-separator-border = transparent
$modal-content-color = #ccc
$modal-content-bg-color = #222
$modal-content-outline-size = 0
//$modal-content-outline-color = #f00

// CLOSE BUTTON
$modal-close-btn-color = #000
$modal-close-btn-bg = #d6a8ff
$modal-close-btn-hover-color = #000
$modal-close-btn-hover-bg = $head-1-color
$modal-close-btn-boxshadow = 0 0 13px 2px  #000
$modal-close-bg-color = transparent



// BIBLE VERSE
$modal-bbl-number-color = $head-1-color
$modal-bbl-content-header-color = #ddd
$modal-bbl-default-color = none


// LOGIN
$modal-login-input-color = #fff
$modal-login-check = $head-1-color
$modal-login-check-invalid = deeppink
$modal-login-status-success = rgba(150, 230, 150, 1)
$modal-login-status-error = rgba(230, 150, 150, 1)
$modal-login-status-bg = rgba(0, 0, 0, .17)

$modal-login-img-border = hsla(255, 100%, 100%, .13)
$modal-login-img-inner-boxshadow = hsla(0, 0, 0, .17)
$modal-login-img-bg = $panel

$modal-login-input-bg = rgba(255, 255, 255, .04)
$modal-login-input-border = hsla(255, 100%, 100%, .13)
$modal-login-input = $head-1-color
$modal-login-input-boxshadow = hsla(0, 0, 0, .19)
$modal-login-default-img-color = #d7d7d7


// CHANGELOG
$modal-changelog-add = #bee2bf
$modal-changelog-chg = #aaa
$modal-changelog-fix = #e5c0c0
