@keyframes fadeInOut {
  from { opacity: 1; }
  to   { opacity: 0.3; }
}
.fade-enter-active {
  animation: fadeIn 0.4s;
}
.fade-leave-active {
  animation: fadeOut 0.4s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes ripple {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

@keyframes spin {
  0% {
    animation-timing-function: cubic-bezier(0.5856,0.0703,0.4143,0.9297);
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}