html {
  height      : 100%;
  color       : var(--body-c);
  font-size   : var(--body-f-sz);
  font-family : 'Nunito Sans', 'Arial', 'Verdana';
  font-weight : 300;
  background  : var(--body-bg-c);
  transform   : translateZ(0);
  /* DO NOT REMOVE - menu and scroll depend on this */
  overflow    : hidden;
  /**************************************************/
  -webkit-font-smoothing  : subpixel-antialiased;
  -moz-osx-font-smoothing : grayscale;
}
body {
  height: 100%;
  margin-right: 5px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
a {
  word-wrap: break-word;
  overflow-wrap: break-word;
}