.ee__page-content {
  max-width: 1024px;
  margin: 0 auto;
}

.--is-ethan {
  color: hsl(0, 100%, 70%) !important;
}

.underline {
  --color: hsl(47, 75%, 63%);
  background-image: linear-gradient(var(--color) 0%, var(--color) 100%);
  background-repeat: repeat-x;
  background-position: 0 1.3em;
  background-size: 2px 2px;
}