/*** Abbreviation LEGEND ***
 * c  : color
 * f  : font
 * i  : italic/emphasis
 * b  : bold/strong
 * p  : paragraph
 * md : markdown
 * bg : background
 * hv : hover
 * sz : size
 * sm : small
 * lg : large
 * bq : blockquote
 * bdr: border
 * bxs: box shadow
 * hov: hover
 * act: active
 * dis: disabled
 * img: image
 * lgr: linear gradient
 *
 */

@custom-media --large-screen  (max-width: 768px);
@custom-media --medium-screen (max-width: 540px);
@custom-media --small-screen  (max-width: 420px);
@custom-media --tiny-screen   (max-width: 320px);

:root {
  --primary-c    : hsl(0, 100%, 63%);  /* Tart Orange */
  --compliment-c : hsl(197, 41%, 60%); /* Maximum blue */
  --accent-2-c   : hsl(30, 100%, 75%); /* apricot */
  --accent-3-c   : hsl(161, 67%, 73%); /* Magic Mint */
  --accent-4-c   : hsl(47, 50%, 50%);  /* Gold */

  --panel-c              : hsl(197, 11%, 25%);
  --panel-hov-c          : hsl(197, 11%, 30%);
  --sub-panel-c          : hsl(197, 11%, 12%);
  --sub-panel-hov-c      : hsl(30, 15%, 11%);

  --body-f-sz            : 1em;
  --body-bg-c            : hsl(197, 11%, 8%);
  --body-c               : hsl(197, 11%, 74%);
  --body-dark-c          : hsl(197, 11%, 65%);
  --selection-bg-c       : hsla(197, 9%, 30%, 0.993);
  --scrollbar-c          : var(--panel-c);
  --scrollbar-hov-c      : hsl(197, 9%, 43%);
  --scrollbar-track-c    : hsl(0, 0%, 0%);
  --input-c              : hsl(161, 27%, 60%);


  /*** Markdown ***/
  --md-f-sz             : 1.27rem;
  --md-mobile-f-sz      : 1.15rem;
  --md-mobile-sm-f-sz   : 0.97rem;
  --md-head-c           : hsl(197, 20%, 80%);
  --md-c                : var(--body-c);
  --md-p-hov-c          : hsl(30, 15%, 85%);
  --md-p-bg-c           : var(--sub-panel-c);
  --md-p-bg-hov-c       : var(--sub-panel-hov-c);
  --md-p-bxs-c          : hsla(0, 0%, 0%, 0.4);
  --md-b-c              : hsl(197, 20%, 86%);
  --md-p-hov-b-c        : hsl(30, 30%, 92%);
  --md-i-c              : hsl(0, 100%, 73%);
  --md-p-hov-i-c        : hsl(47, 77%, 67%);
  --md-b-i-c            : hsl(197, 45%, 69%);
  --md-link-c           : var(--md-b-c);
  --md-link-hov-c       : var(--md-p-hov-i-c);
  --md-p-hov-link-c     : var(--md-p-hov-b-c);
  --md-link-bdr-c       : var(--md-i-c);
  --md-p-hov-link-bdr-c : var(--md-link-hov-c);
  --md-bq-c             : hsl(47, 68%, 61%);
  --md-bq-bg-c          : hsl(197, 20%, 5%);
  --md-bq-bdr-c         : black;
  --md-bq-outline-c     : hsl(197, 11%, 12%);
  --md-bq-quote-c       : hsl(197, 11%, 65%);
  --md-bullet-c         : var(--md-head-c);
  --md-bullet-hov-c     : hsl(47, 100%, 50%);
  --md-code-c           : var(--md-b-c);
  --md-code-bg-c        : hsl(197, 11%, 19%);
  --md-code-hov-c       : hsl(279, 20%, 80%);
  --md-code-bg-hov-c    : hsl(278, 25%, 47%);
  --md-img-bxs-c        : hsla(0, 0%, 0%, 0.4);


  /*** App Styles ***/
  --app-ribbon-c            : hsl(0, 100%, 64%);
  --app-head-f-sz           : 5rem;
  --app-head-c              : var(--app-ribbon-c);
  --app-titlebar-c          : hsl(197, 20%, 87%);
  --app-titlebar-icon-c     : hsl(197, 11%, 60%);
  --app-titlebar-icon-hov-c : hsl(0, 70%, 64%);


  /*** Footer ***/
  --footer-bxs-c: hsla(0, 0%, 0%, 0.4);
  --footer-copyright-c: hsl(197, 11%, 35%);
  --footer-copyright-link-c: hsl(197, 11%, 50%);
  --footer-copyright-link-hov-c: hsl(47, 50%, 60%);


  /*** Preloader ***/
  --preloader-bdr-c       : hsl(0, 100%, 76%);
  --preloader-bxs-c       : hsl(0, 65%, 47%);
  --preloader-bxs-inset-c : var(--app-ribbon-c);


  /*** Button - Disabled ***/
  --button-disabled-c: hsl(197, 11%, 30%);
  --button-disabled-bg-c: hsl(197, 11%, 15%);

  /*** Button - Neutral ***/
  --button-neutral-c             : black;
  --button-neutral-bg-c          : hsl(197, 11%, 68%);
  --button-neutral-bg-hov-c      : hsl(197, 20%, 75%);
  --button-neutral-bdr-c         : hsl(197, 20%, 90%);
  --button-neutral-bxs-c         : hsla(197, 20%, 75%, 0.5);
  --button-neutral-bxs-hov-c     : hsla(197, 20%, 75%, 0.8);
  --button-neutral-loading-c     : hsla(0, 0%, 0%, 0.5);
  --button-neutral-loading-bg-c  : hsl(197, 11%, 75%);
  --button-neutral-loading-bdr-c : hsl(197, 11%, 78%);
  --button-neutral-loading-bxs-c : var(--button-neutral-bxs-hov-c);
  --button-neutral-loading-lgr-c : hsl(197, 20%, 85%);

  /*** Button - Attention ***/
  --button-attention-c             : black;
  --button-attention-bg-c          : hsl(47, 100%, 50%);
  --button-attention-bg-hov-c      : hsl(47, 100%, 70%);
  --button-attention-bdr-c         : hsl(47, 100%, 78%);
  --button-attention-bxs-c         : hsla(47, 100%, 70%, 0.5);
  --button-attention-bxs-hov-c     : hsla(47, 100%, 70%, 0.8);
  --button-attention-loading-c     : hsla(0, 0%, 0%, 0.5);
  --button-attention-loading-bg-c  : hsl(47, 100%, 78%);
  --button-attention-loading-bdr-c : hsl(47, 100%, 75%);
  --button-attention-loading-bxs-c : var(--button-attention-bxs-hov-c);
  --button-attention-loading-lgr-c : hsl(47, 100%, 47%);

  /*** Button - Dangerous ***/
  --button-dangerous-c             : white;
  --button-dangerous-bg-c          : hsl(0, 100%, 60%);
  --button-dangerous-bg-hov-c      : hsl(0, 100%, 65%);
  --button-dangerous-bdr-c         : var(--button-dangerous-bg-hov-c);
  --button-dangerous-bxs-c         : hsla(0, 100%, 63%, 0.7);
  --button-dangerous-bxs-hov-c     : hsla(0, 100%, 65%, 0.9);
  --button-dangerous-loading-c     : hsla(0, 100%, 100%, 0.6);
  --button-dangerous-loading-bg-c  : hsl(0, 100%, 70%);
  --button-dangerous-loading-bdr-c : hsl(0, 100%, 73%);
  --button-dangerous-loading-bxs-c : var(--button-dangerous-bxs-hov-c);
  --button-dangerous-loading-lgr-c : var(--app-ribbon-c);

  /*** Text Input ***/
  --input-label-c       : hsl(197, 11%, 65%);
  --input-focus-c       : hsl(161, 45%, 65%);
  --input-focus-label-c : var(--input-label-c);
  --input-placeholder-c : hsl(197, 11%, 27%);
  --input-bdr-c         : hsl(197, 11%, 27%);
  --input-bar-c         : hsl(197, 11%, 33%);
  --input-bar-valid-c   : hsl(161, 50%, 45%);
  --input-valid-c       : hsl(161, 35%, 45%);
  --input-metadata-c    : hsl(197, 11%, 40%);
  --input-metadata-em-c : hsl(47, 80%, 60%);


  /*** Menu ***/
  --menu-bg-c              : hsla(197, 11%, 6.5%, 0.75);
  --menu-bxs-c             : hsla(0, 0%, 0%, 0.85);
  --menu-header-c          : hsl(197, 20%, 83%);
  --menu-header-bg-c       : var(--sub-panel-c);
  --menu-exit-icon-c       : hsl(197, 12%, 70%);
  --menu-exit-icon-hov-c   : var(--app-ribbon-c);
  --menu-item-c            : var(--md-c);
  --menu-item-hov-c        : hsl(197, 11%, 88%);
  --menu-item-bdr-c        : var(--panel-c);
  --menu-item-bdr-hov-c    : hsl(197, 11%, 75%);
  --menu-active-item-c     : hsl(47, 80%, 63%);
  --menu-active-item-bg-c  : var(--sub-panel-hov-c);
  --menu-active-item-bdr-c : hsl(47, 80%, 63%);


  /*** Video ***/
  --video-desc-c              : hsla(0, 0%, 0%, 0.85);
  --video-desc-b-c            : var(--md-b-c);
  --video-desc-link-c         : var(--md-b-c);
  --video-desc-link-hov-c     : var(--menu-active-item-c);
  --video-desc-link-bdr-c     : var(--md-b-c);
  --video-desc-link-bdr-hov-c : var(--menu-active-item-c);
  --video-desc-outline-c      : hsl(197, 11%, 35%);
  --video-desc-head-c         : var(--app-titlebar-c);
  --video-desc-head-bdr-c     : hsl(197, 11%, 45%);
  --video-widget-c            : var(--app-titlebar-c);
  --video-widget-hov-c        : var(--menu-active-item-c);
  --video-widget-bg-c         : hsla(0, 0%, 10%, 0.53);
  --video-widget-bg-hov-c     : hsla(0, 0%, 10%, 0.7);
  --video-widget-close-hov-c  : var(--menu-exit-icon-hov-c);

  /*** Toggle ***/
  --toggle-fieldset-bdr-c: hsl(0, 100%, 70%);
  --toggle-fieldset-bxs-c: hsl(0, 100%, 30%);
  --toggle-legend-bg-c: var(--body-bg-c);
  --toggle-legend-c: hsl(197, 15%, 87%);
  --toggle-inactive-c: var(--body-c);
  --toggle-inactive-hov-c: hsl(47, 74%, 70%);
  --toggle-inactive-bdr-c: hsl(197, 11%, 28%);
  --toggle-inactive-bg-c: hsl(197, 11%, 18%);
  --toggle-active-c: black;
  --toggle-active-bg-c: hsl(47, 74%, 49%);
  --toggle-active-bdr-c: hsl(47, 74%, 70%);
  --toggle-active-bxs-c: hsl(47, 100%, 62%);


  /*** Blog Styles ***/
  --blog-entry-bg-c          : var(--sub-panel-c);
  --blog-entry-bg-hov-c      : var(--sub-panel-hov-c);
  --blog-entry-title-c       : hsl(47, 53%, 62%);
  --blog-entry-title-hov-c   : var(--md-p-hov-i-c);
  --blog-entry-stat-c        : hsl(197, 11%, 55%);
  --blog-entry-hov-stat-c    : var(--md-p-hov-c);
  --blog-entry-icon-c        : hsl(198, 11%, 66%);
  --blog-entry-hov-icon-c    : var(--md-p-hov-i-c);
  --blog-entry-hov-sum-c     : var(--md-p-hov-c);

  /*** red33m Styles ***/
  --red33m-video-hov-c: var(--menu-active-item-c);

  --switch-off-c: hsl(0, 100%, 67%);
}