/*** Abbreviation LEGEND ***
 * c  : color
 * f  : font
 * i  : italic/emphasis
 * b  : bold/strong
 * pg : paragraph
 * md : markdown
 * bg : background
 * hv : hover
 * sz : size
 * sm : small
 * lg : large
 * bq : blockquote
 * bdr: border
 * hov: hover
 * act: active
 * dis: disabled
 *
 */

:root {
  --screen-large: 711px;
  --screen-medium: 511px;
  --screen-small: 380px;
  --screen-tiny: 320px;

  --primary-c    : hsl(0, 100%, 63%);  /* Tart Orange */
  --compliment-c : hsl(197, 41%, 60%); /* Maximum blue */
  --accent-2-c   : hsl(30, 100%, 75%); /* apricot */
  --accent-3-c   : hsl(161, 67%, 73%); /* Magic Mint */
  --accent-4-c   : hsl(46, 50%, 50%);  /* Gold */

  --panel-c              : hsl(197, 11%, 25%);
  --panel-hov-c          : hsl(197, 11%, 12%);
  --sub-panel-c          : hsl(197, 11%, 10%);
  --sub-panel-hov-c      : hsl(30, 11%, 15%);

  --body-f-sz            : 1em;
  --body-bg-c            : hsl(197, 11%, 6.5%);
  --body-c               : hsl(197, 11%, 73%);
  --body-head-title-f-sz : 5rem;
  --body-head-title-c    : hsl(0, 100%, 64%);
  --body-head-ribbon-c   : var(--body-head-title-c);

  --selection-bg-c       : hsla(197, 11%, 25%, 0.993); /* hsla(0, 40%, 41%, 0.993); */

  --scrollbar-c          : var(--panel-c);
  --scrollbar-hov-c      : hsl(197, 9%, 43%);
  --scrollbar-track-c    : hsl(0, 0%, 0%);

  /* --watermark-c       : hsl(0, 0%, 35%);
  --watermark-hov-c   : hsl(0, 100%, 75%); */

  --main-menu-f-sz        : 1.8rem;
  --main-menu-mobile-f-sz : 1.15rem;
  --main-menu-c           :hsl(0, 0%, 30%);
  --main-menu-act-c       :hsl(197, 34%, 87%);
  --main-menu-hov-c       : var(--main-menu-act-c);
  --main-menu-bg-c        : var(--panel-c);
  --main-menu-act-bdr-c   : hsl(52, 37%, 50%);

  /*** MARKDOWN ***/
  --md-f-sz              : 1.27rem;
  --md-mobile-f-sz       : 1.15rem;
  --md-mobile-sm-f-sz    : 0.97rem;
  --md-c                 : var(--body-c);
  --md-pg-hov-c          : hsl(30, 11%, 80%);
  --md-pg-bg-c           : var(--sub-panel-c);
  --md-pg-bg-hov-c       : var(--sub-panel-hov-c);
  --md-b-c               : hsl(197, 9%, 82%);
  --md-pg-hov-b-c        : hsl(30, 11%, 89%);
  --md-i-c               : hsl(0, 74%, 77%);
  --md-pg-hov-i-c        : hsl(46, 80%, 70%);
  --md-b-i-c             : hsl(197, 45%, 69%);
  --md-link-c            : var(--md-b-c);
  --md-link-hov-c        : var(--md-pg-hov-i-c);
  --md-pg-hov-link-c     : var(--md-pg-hov-b-c);
  --md-link-bdr-c        : var(--md-i-c);
  --md-pg-hov-link-bdr-c : var(--md-link-hov-c);
  --md-bq-c              : hsl(46, 68%, 61%);
  --md-bq-bg-c           : hsl(197, 20%, 5%);
  --md-code-c            : hsl(0, 0%, 80%);
  --md-code-bg-c         : hsl(0, 0%, 25%);
  --md-code-hov-c        : hsl(279, 20%, 80%);
  --md-code-bg-hov-c     : hsl(278, 25%, 47%);

}