.ee-btn {
  position       : relative;
  padding        : 0.3rem 1rem;
  letter-spacing : 0.1rem;
  font-family    : inherit;
  font-weight    : bold;
  font-size      : 1.1rem;
  text-transform : uppercase;
  transition     :
                   color 0.3s,
                   background 0.3s,
                   border 0.3s,
                   box-shadow 0.3s
                 ;
}
.ee-btn:active { top: 2px; left: 2px; }


.ee-btn.neutral {
  color       : black;
  background  : var(--button-neutral-bg-c);
  border-top  : 1px solid var(--button-neutral-bdr-c);
  border-left : 1px solid var(--button-neutral-bdr-c);
  box-shadow  : 0 0 12px 0 var(--button-neutral-bxs-c);
}
.ee-btn.neutral:hover {
  background : var(--button-neutral-bg-hov-c);
  box-shadow : 0 0 12px 0 var(--button-neutral-bxs-hov-c);
}
.ee-btn.neutral:disabled.--loading {
  color            : var(--button-neutral-loading-c);
  background-color : var(--button-neutral-loading-bg-c);
  border-color     : var(--button-neutral-loading-bdr-c);
  box-shadow       : 0 0 12px 0 var(--button-neutral-loading-bxs-c);
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      var(--button-neutral-loading-lgr-c) 1rem,
      var(--button-neutral-loading-lgr-c) 2rem
    );
}

.ee-btn.attention {
  color       : var(--button-attention-c);
  background  : var(--button-attention-bg-c);
  border-top  : 1px solid var(--button-attention-bdr-c);
  border-left : 1px solid var(--button-attention-bdr-c);
  box-shadow  : 0 0 12px 0 var(--button-attention-bxs-c);
}
.ee-btn.attention:hover {
  background : var(--button-attention-bg-hov-c);
  box-shadow : 0 0 12px 0 var(--button-attention-bxs-hov-c);
}
.ee-btn.attention:disabled.--loading {
  color            : var(--button-attention-loading-c);
  background-color : var(--button-attention-loading-bg-c);
  border-color     : var(--button-attention-loading-bdr-c);
  box-shadow       : 0 0 12px 0 var(--button-attention-loading-bxs-c);
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      var(--button-attention-loading-lgr-c) 1rem,
      var(--button-attention-loading-lgr-c) 2rem
    );
}

.ee-btn.dangerous {
  color       : var(--button-dangerous-c);
  background  : var(--button-dangerous-bg-c);
  border-top  : 1px solid var(--button-dangerous-bdr-c);
  border-left : 1px solid var(--button-dangerous-bdr-c);
  box-shadow  : 0 0 12px 0 var(--button-dangerous-bxs-c);
}
.ee-btn.dangerous:hover {
  background : var(--button-dangerous-bg-hov-c);
  box-shadow : 0 0 15px 0 var(--button-dangerous-bxs-hov-c);
}
.ee-btn.dangerous:disabled.--loading {
  color            : var(--button-dangerous-loading-c);
  background-color : var(--button-dangerous-loading-bg-c);
  border-color     : var(--button-dangerous-loading-bdr-c);
  box-shadow       : 0 0 15px 0 var(--button-dangerous-loading-bxs-c);
  background-image:
    repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1rem,
      var(--button-dangerous-loading-lgr-c) 1rem,
      var(--button-dangerous-loading-lgr-c) 2rem
    );
}


.ee-btn.attention:disabled,
.ee-btn.dangerous:disabled,
.ee-btn.neutral:disabled {
  color        : var(--button-disabled-c);
  background   : var(--button-disabled-bg-c);
  border-color : transparent;
  box-shadow   : none;
  cursor       : not-allowed;
}

.ee-btn.attention.--loading,
.ee-btn.dangerous.--loading,
.ee-btn.neutral.--loading {
  background-size : 200% 200%;
  animation       : barberpole 1.5s linear infinite forwards;
}
