
/* TOGGLE STYLING */
.toggle {
  margin          : 0 auto;
  font-family     : 'Nunito Sans';
  display         : flex;
  flex-flow       : row nowrap;
  justify-content : center;
  align-items     : stretch;
}

.toggle input {
  position : fixed;
  top      : 0;
  width    : 0;
  height   : 0;
  left     : -100%;
}

.toggle input + label {
  position         : relative;
  display          : inline-block;
  margin           : 0;
  padding          : .1rem 0.75rem;
  font-size        : 1.2rem;
  text-align       : center;
  font-weight      : 400;
  color            : var(--toggle-inactive-c);
  background-color : var(--toggle-inactive-bg-c);
  border           : solid 1px var(--toggle-inactive-bdr-c);
  box-shadow       : 0 0 0 0 transparent;
  user-select      : none;
  cursor           : pointer;
  transition       : border-color     .15s ease-out,
                     color            .25s ease-out,
                     background-color .15s ease-out,
                     box-shadow       .15s ease-out
                   ;
  /* ADD THESE PROPERTIES TO SWITCH FROM AUTO WIDTH TO FULL WIDTH */
  /*flex: 0 0 50%; display: flex; justify-content: center; align-items: center;*/
  /* ----- */
}

.toggle label:first-of-type {
  border-radius : 6px 0 0 6px;
  border-right  : none;
}

.toggle label:last-of-type {
  border-radius : 0 6px 6px 0;
  border-left   : none;
}

.toggle label.--wait { cursor: not-allowed; }

/* .toggle input:hover + label {
  color: hsl(0, 74%, 70%);
}

.toggle input:checked + label {
  background-color: hsl(0, 74%, 49%);
  color: hsl(197, 75%, 85%);
  box-shadow: 0 0 7px 0 hsl(0, 100%, 62%);
  border-color: hsl(0, 74%, 70%);
  z-index: 1;
  cursor: default;
} */
.toggle input:hover + label
{ color: hsl(47, 74%, 70%); }

.toggle input:checked + label {
  color            : var(--toggle-active-c);
  background-color : var(--toggle-active-bg-c);
  border-color     : var(--toggle-active-bdr-c);
  box-shadow       : 0 0 7px 0 var(--toggle-active-bxs-c);
  z-index          : 1;
  cursor           : default;
}
/* .toggle input:hover + label {
  color: hsl(161, 74%, 70%);
}

.toggle input:checked + label {
  background-color: hsl(161, 74%, 49%);
  color: black;
  box-shadow: 0 0 7px 0 hsl(161, 100%, 62%);
  border-color: hsl(161, 74%, 70%);
  z-index: 1;
  cursor: default;
} */

/* @media (max-width: 800px) {
  .toggle input + label {
      padding: .75rem .25rem;
      flex: 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
} */
