
.ee-video_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .ee-video_img img {
    margin   : -9.5% 0 -11% 0;
    width: 100%; }

.ee-video__thumbnail-container::before {
  display: block;
  content: '';
  padding-top: 56.25%;
}

.ee-video_desc {
  top: 0; left: 0; right: 0; bottom: 0;
  position         : absolute;
  padding          : 7px 3px 0 7px;
  font-size        : 1.07rem;
  background-color : var(--video-desc-c);
  outline          : 1px dotted transparent;
  opacity          : 0;
  pointer-events   : none;
  z-index          : 2;
  transition       : opacity .5s, outline .4s;
}
.ee-video_desc.--open {
  opacity        : 1;
  pointer-events : all;
  outline        : 1px dotted var(--video-desc-outline-c);
}

.ee-video_widget,
.ee-video_text-widget {
  position         : absolute;
  padding          : 5px;
  font-size        : 1.7rem;
  color            : var(--video-widget-c);
  background-color : var(--video-widget-bg-c);
  border-radius    : 5px;
  user-select      : none;
  cursor           : pointer;
  transition       : color .3s, background .3s, opacity .3s;
}
.ee-video_widget:hover {
  color            : var(--video-widget-hov-c);
  background-color : var(--video-widget-bg-hov-c);
}
.ee-video_widget.--open,
.ee-video_text-widget.--open { opacity: 0; }

.ee-video_text-widget {
  top: 0;
  padding: 1px 5px;
  border-radius: 0;
  font-size: 1rem;
  cursor: none;
}

.ee-video_widget-open-video {
  right        : 7px;
  bottom       : 7px;
  padding-left : 7px;
}

.ee-video_widget-open-desc { top: 7px; right: 7px; }

.ee-video_widget-close-desc {
  top              : 3px;
  right            : 7px;
  padding          : 0;
  font-size        : 1.9rem;
  background-color : transparent;
  z-index          : 2;
}
.ee-video_widget-close-desc:hover {
  color            : var(--video-widget-close-hov-c);
  background-color : transparent;
}


.ee-video-desc_text {
  display        : flex;
  max-height     : 100%;
  flex-direction : column;
}
.ee-video-desc_text span { overflow-x: hidden; overflow-y: auto; }
.ee-video-desc_text h1 {
  color         : var(--video-desc-head-c);
  border-bottom : 1px dotted var(--video-desc-head-bdr-c);
  font-size     : 1.2rem;
  font-weight   : 400;
  margin-bottom : 5px;
}
.ee-video-desc_text p {
  margin-bottom : 13px;
  line-height   : 1.7rem;
}
.ee-video-desc_text strong {
  color       : var(--video-desc-b-c);
  font-weight : 400;
}
.ee-video-desc_text a:link,
.ee-video-desc_text a:active,
.ee-video-desc_text a:visited {
  font-weight   : 400;
  color         : var(--video-desc-link-c);
  border-bottom : 1px solid var(--video-desc-link-bdr-c);
  transition    : color .3s, border .3s;
}
.ee-video-desc_text a:hover {
  color         : var(--video-desc-link-hov-c);
  border-bottom : 1px solid var(--video-desc-link-bdr-hov-c);
}

.ee-video_title {
  height: 3.35rem;
  padding: 0 0.3rem;
  background-color: hsl(197, 11%, 12%);
  border-top: 2px dashed var(--body-bg-c);
  overflow: hidden;
}
.ee-video__author {
  float: right;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: hsl(197, 20%, 87%);
  border-top: 2px dashed var(--body-bg-c);
  background-color: hsl(197, 11%, 12%);
}
.ee-video__author.--is-ethan {
  color: hsl(0, 100%, 70%);
}
.ee-video__author .icon {
  top: 0.15rem;
  color: var(--body-c);
}